/* 201708 */


.bg{
	position:relative;
	clear:both;
	overflow:hidden;
	min-height:100vh;
    height: 100%;

	text-align:center;
	background-position: center center;
	background-size:cover;
	}
	
	

	





.style_black{
	background-color: #000;}
.style_white{
	background-color:#FFF !important;
	}
	

.color_01{
	background-color:#f2d3c4;
}
.color_02{
	background-color:#f4ccbe;
}
.color_03{
	background-color:#edbdad;
}
.color_04{
	background-color:#954f43;
}
.color_05{
	background-color:#411c16;
}
.color_06{
	background-color:#28120f;
}	
.color_02-03{
	background: -webkit-linear-gradient(left top, #f4ccbe 0%, #edbdad 100%);
	background: -moz-linear-gradient(left top, #f4ccbe 0%, #edbdad 100%);
	background: linear-gradient(left top, #f4ccbe 0%, #edbdad 100%);	
}
.color_02-03 *{
	border-color:#fadeda !important;
}



.color_21{
	background-color:#0f1329;	
	}
.color_22{
	background-color:#a97962;
	}
	
	
	
	
	

.color_31{
	background: -webkit-linear-gradient(left top, #703926 0%, #a97962 100%);
	background: -moz-linear-gradient(left top, #703926 0%, #a97962 100%);
	background: linear-gradient(left top, #703926 0%, #a97962 100%);
}	
.color_32{	
	background: -webkit-linear-gradient( top, #0f1329 0%, #1b365d 100%);
	background: -moz-linear-gradient( top, #0f1329 0%, #1b365d 100%);
	background: linear-gradient( top, #0f1329 0%, #1b365d 100%%);
}
.color_33{
	background: -webkit-linear-gradient( top, #fef3f1 0%, #fadeda 100%);
	background: -moz-linear-gradient( top, #fef3f1 0%, #fadeda 100%);
	background: linear-gradient( top, #fef3f1 0%, #fadeda 100%%);	
}
.color_34{
	background: -webkit-linear-gradient( top, #363137 0%, #454348 100%);
	background: -moz-linear-gradient( top, #363137 0%, #454348 100%);
	background: linear-gradient( top, #363137 0%, #454348 100%%);	
	}	
.color_35{
	background: -webkit-linear-gradient( top, #fbf9f8 30%, #ebe5e6 100%);
	background: -moz-linear-gradient( top, #fbf9f8 30%, #ebe5e6 100%);
	background: linear-gradient( top, #fbf9f8 30%, #ebe5e6 100%%);	
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebe5e6+0,fbf9f8+50,fffcfc+100 */
background: #ebe5e6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse , #ebe5e6 0%, #fbf9f8 50%, #fffcfc 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse , #ebe5e6 0%, #fbf9f8 50%, #fffcfc 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ebe5e6 0%, #fbf9f8 50%, #fffcfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe5e6', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
	}
/*
#ebe5e6 rgb(235, 229, 230)
#fbf9f8 rgb(251, 249, 248)
#fffcfc rgb(255, 252, 251)
*/	
.color_36{
	background: -webkit-linear-gradient( top, #fffcfc 0%, #fbf9f8 66.666666%);
	background: -moz-linear-gradient( top, #fffcfc 0%, #fbf9f8 66.666666%);
	background: linear-gradient( top, #fffcfc 0%, #fbf9f8 66.666666%);
}


.color_37{
	background-color: rgba(172, 131, 112,0.85);
	}	
.color_38{
	background-color:#cdc2be;
	}		
.color_39{
	background-color:rgba(15,19,41,0.95); 
	}
.color_40{
	background: -webkit-linear-gradient( top, rgba(15,19,41,0.9) 0%, rgba(27,54,93,0.9) 100%);
	background: -moz-linear-gradient( top, rgba(15,19,41,0.9) 0%, rgba(27,54,93,0.9) 100%);
	background: linear-gradient( top, rgba(15,19,41,0.9) 0%, rgba(27,54,93,0.9) 100%%);
	}
.color_41{
background: rgba(15,19,41,0.9);
background: -moz-radial-gradient(center, ellipse cover, rgba(15,19,41,0.9) 0%, rgba(27,54,93,0.9) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(15,19,41,0.9) 0%,rgba(27,54,93,0.9) 100%);
background: radial-gradient(ellipse at center, rgba(15,19,41,0.9) 0%,rgba(27,54,93,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1329', endColorstr='#1b365d',GradientType=1 ); 
	}	
.color_42{
background: rgba(255,255,255,0.81);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.9) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.9) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,0.81) 0%,rgba(255,255,255,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1329', endColorstr='#1b365d',GradientType=1 ); 
	}	
	
	
.color_43{
	background: -webkit-linear-gradient( top, #5ad9a4 0%, #37bc9b 50%, #48cfad 100%);
	background: -moz-linear-gradient( top, #5ad9a4 0%, #37bc9b 50%, #48cfad 100%);
	background: linear-gradient( top, #5ad9a4 0%, #37bc9b 50, #48cfad 100%%);
	}		
	
.color_44{
	background: -webkit-linear-gradient( top, #f2d3c4 0%, #edbdad 50%, #f4ccbe 100%);
	background: -moz-linear-gradient( top, #f2d3c4 0%, #edbdad 50%, #f4ccbe 100%);
	background: linear-gradient( top, #f2d3c4 0%, #edbdad 50%, #f4ccbe 100%);
	}			

.color_45{
background: rgba(63, 5, 20, 0.9);
background: -moz-radial-gradient(center, ellipse cover, rgb(44, 0, 6,0.9) 0%, rgba(63, 5, 20, 0.9) 100%);
background: -webkit-radial-gradient(center, ellipse cover, rgb(44, 0, 6,0.9) 0%, rgba(63, 5, 20, 0.9) 100%);
background: radial-gradient(ellipse at center, rgb(44, 0, 6,0.9) 0%, rgba(63, 5, 20, 0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c0006', endColorstr='#3f0514',GradientType=1 ); 
	}		
	
.bg_img_10{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_shut_down.jpg);
	background-size:cover;
	background-position:center center;		
	}	
.bg_img_11{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_01.jpg);
	background-size:cover;
	background-position:center center;		
	}
.bg_img_12{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/banner_001.jpg);
	background-size:cover;
	background-position:center center;	
	}
.bg_img_13{
	background-image: url(../img/banner_005.jpg);
	background-size:cover;
	background-position:center center;	
}		
.bg_img_14{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_04.jpg);
	background-size:cover;
	background-position:center center;		
	}
.bg_img_15{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_05.jpg);
	background-size:cover;
	background-position:center center;	
	}	
.bg_img_16{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_shut_down.jpg);
	background-size:cover;
	background-position:center center;	
	}		
.bg_img_17{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_07.jpg);
	background-size:cover;
	background-position:center center;	
	}		
.bg_img_18{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_08.jpg);
	background-size:cover;
	background-position:center center;	
	}		
.bg_img_19{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_09.jpg);
	background-size:cover;
	background-position:center center;	
	}		
.bg_img_20{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_02.jpg);
	background-size:cover;
	background-position:center center;	
	}			
		
.bg_img_21{
	background-image:url(http://mountain-mm.myweb.hinet.net/img/bg_sign_in_10.jpg);
	background-size:cover;
	background-position:center center;	
	}			
.shadow_01{

	box-shadow:
	-9px 15px 3px rgba(144,144,144,0.5),	
	-9px 15px 9px rgba(144,144,144,0.4),
	-18px 18px 18px rgba(144,144,144,0.3),
	-27px 27px 27px rgba(170,170,170,0.2);	
}	
.shadow_01_2{

	box-shadow:
	-9px 15px 3px rgba(15,19,41,0.5),	
	-9px 15px 9px rgba(15,19,41,0.4),
	-18px 18px 18px rgba(15,19,41,0.3),
	-27px 27px 27px rgba(15,19,41,0.2);	
}			
		
		
		
.shadow_02{
	box-shadow:
	0 9px 9px rgba(0,0,0,0.4),
	0 18px 18px rgba(0,0,0,0.3),
	0 27px 27px rgba(170,170,170,0.2);		
}
.shadow_03{	
	
	-webkit-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);	
}
	


.shadow_25{
	box-shadow:
	0 6px 18px rgba(0,0,0,0.2),
	0 6px 27px rgba(0,0,0,0.4),
	0 6px 45px rgba(0,0,0,0.6);
	
}
.shadow_30{
	box-shadow:
	-9px 12px 3px rgba(15,19,41,0.063),	
	9px 12px 3px rgba(15,19,41,0.063),
	0 18px 12px rgba(15,19,41,0.15),	
	0 24px 18px rgba(15,19,41,0.075);		
}	
.shadow_31{
    box-shadow:
	0px 3px 3px rgba(15,19,41,0.15),
	0px 6px 6px rgba(15,19,41,0.125), 
	0px 12px 12px rgba(15,19,41,0.1);
}	
		

.shadow_32{
 border:1px #CCCCCC solid;	
	-webkit-box-shadow:
0 27px 12px rgba(198,184,173,0.55),
0 54px 45px rgba(192,189,184,0.4),
0 99px 90px rgba(226,227,232,0.3);

	-moz-box-shadow:
0 27px 12px rgba(198,184,173,0.55),
0 54px 45px rgba(192,189,184,0.4),
0 99px 90px rgba(226,227,232,0.3);

	box-shadow:
0 27px 12px rgba(198,184,173,0.55),
0 54px 45px rgba(192,189,184,0.4),
0 99px 90px rgba(226,227,232,0.3);

}	
		


.popup_shodow_01{
	background-color:rgba(255,255,255,0.9);	
	-webkit-box-shadow:
	0px 0px 3px rgba(239,190,178,0.6),
	0px 6px 9px rgba(239,190,178,0.4),
	0px 18px 21px rgba(239,190,178,0.2);
	-moz-box-shadow:
	0px 0px 3px rgba(239,190,178,0.6),
	0px 6px 9px rgba(239,190,178,0.4),
	0px 18px 21px rgba(239,190,178,0.2);
	box-shadow:
	0px 0px 3px rgba(239,190,178,0.6),
	0px 6px 9px rgba(239,190,178,0.4),
	0px 18px 21px rgba(239,190,178,0.2);
	}		
.popup_shodow_02{

	background-color:rgba(255,255,255,0.9);	
	-webkit-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	
	
	}
	
