/* btn */
	/*
*[class*="btn"]:hover{ 
	transition:all 0.3s ease-in-out;
 
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	-o-box-shadow:none !important; 
	box-shadow:none !important;
	}
	

	-webkit-transition:all 0.2s ease-out;
	-moz-transition:all 0.2s ease-out;
	-ms-transition:all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;	*/		
	
.btn_W{
	display: inline-block;
	font-size:12px;
	line-height:18px;
	color:#595a5e;
	color:#0f1329;
	text-align:center;
	margin:9px;
	padding:10px 0;
	background-color:#f5f5f5;	
/*
	border-top:1px #e6e6e6 solid;
	border-bottom:1px #e6e6e6 solid;	
	border-bottom-color:#9d9d9d;	
*/		
	border:1px #e6e6e6 solid;
	transition:all 0.27s ease-in-out;	
	}
.btn_W:hover{ 
	color:#0f1329;
	color:#703926;
/*	border:1px #9d9d9d solid;*/
	border-color:#a97962;
 	background: -webkit-linear-gradient( top, #fff 0%, #fff 100%);
	background: -moz-linear-gradient( top, #fff 0%, #fff 100%);
	background: linear-gradient( top, #fff 0%, #fff 100%%);   
	box-shadow:
	0 0 3px rgba(136, 130, 124,0.3) inset,
	0 0 6px rgba(136, 130, 124,0.2) inset,
	0 0 18px rgba(136, 130, 124,0.1) inset;				
	}
.btn_W_2{
	display: inline-block;
	font-size:12px;
	line-height:18px;
	color:#595a5e;
	color:#0f1329;
	text-align:center;
	
	text-transform:uppercase;
	
	margin:9px;
	padding:10px 0;

	border:1px #e6e6e6 solid;
	transition:all 0.27s ease-in-out;	
	}
.btn_W_2:hover{
	
	
	border-color: #000;
			
	}	
	
	
	
.btn_G_v01,
.btn_B_v01,
.btn_B_v02{
	display: inline-block;
	font-size:12px !important;
	line-height:18px;
	color:#fff;
	text-align:center !important;
	text-transform:uppercase;
	padding:11px 0;
	background-color:#0f1329;
	
	transition:all 0.18s ease-in-out;	
	}
	
	
.btn_G_v01{
	color:#FFF;
	background-color:#a97962;
	box-shadow: 
	0 0 3px rgba(54,49,55,1),
	0 0 9px rgba(54,49,55,1),
	0 0 27px rgba(54,49,55,1);
	}	
.btn_G_v01:hover{
	color:#0f1329 !important;	
	background-color:#703926;
	background-color:#f2d3c4;	
	/*
	box-shadow:
	0 0 3px rgba(242,211,196,1) inset,
	0 0 9px rgba(244,204,190,1) inset,
	0 0 27px rgba(237,189,173,1) inset,	
	0 0 54px rgba(149,79,67,1) inset;
	*/
	}	
	
.dark_night .btn_B_v01,
.dark_night.btn_B_v01{
	background-color:#1b365d;	
	}
	
.dark_night .btn_B_v01:hover,
.dark_night.btn_B_v01:hover{
	color:#FFF;
	background-color:#0f1329;
	box-shadow: 
	
	0 0 1px rgba(138,159,191,1) inset,
	0 0 9px rgba(19,53,97,1) inset,
	0 0 27px rgba(19,53,97,1) inset,	
	0 0 54px rgba(19,53,97,1) inset;			
}




.btn_B_v01:hover{
	color:#fff;	
	background-color:#1b365d;	
	box-shadow:
	0 0 1px rgba(15,19,41,1) inset,	
	0 0 3px rgba(15,19,41,0.81) inset,
	0 0 9px rgba(15,19,41,0.63) inset,	
	0 0 18px rgba(15,19,41,0.45) inset;		
	}

.btn_B_v02:hover{
	color:#fbf3eb;
	background-color:#a97962;
	box-shadow: 
	0 0 9px rgba(112,57,38,0.81) inset,
	0 0 27px rgba(112,57,38,0.63) inset,	
	0 0 54px rgba(112,57,38,0.45) inset;	
	}
/*
.btn_B_v01:hover,
.btn_B_v02:hover{
	transition:all 0.18s ease-in-out;
}
*/





	
	
	
.btn_facebook,
.btn_twitter{
	display: inline-block;
	font-size:14px !important;
	line-height:18px;
	color:#fff;
	color:#c1bfbf;
	text-align:center !important;
	padding:11px 0;
	}
.btn_facebook{
	background-color:#3d5a96;	
	}
.btn_twitter{
	background-color:#58acea;	
	}		
.btn_facebook:hover{
	color:#fff;	
	background-color:#28407a;	
	}
.btn_twitter:hover{
	color:#fff;
	background-color:#3e93e1;	
	}	





/*.btn_W:hover,
.btn_B_v01:hover,
.btn_B_v02:hover,*/
.btn_facebook,
.btn_twitter{
	transition:all 0.27s ease-in-out;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none; 
	box-shadow:none !important;
}

	
.btn_More{
	font-size:12px;
	line-height:20px;	
	padding:10px 0;
	color:#000;
	}
.btn_More:hover{
	color:#a97962;	
	}	
	
	
.color_facebook{
	color:#FFF;
	border:none;
	background-color:#3b5998;
	}
.color_facebook:hover{
	background-color:#8b9dc3;
	}
	
.color_twitter{
	color:#FFF;	
	border:none;
	background-color:#00aced;
	}
.color_twitter:hover{
	background-color:#1dcaff;
	}
		
	
	
	
	
	
	
/**/
.radio_box{
	overflow:hidden;
	}
.radio_box .btn_radio{
	float:left;
	}
.btn_radio,
.btn_check_box{
	display: block;
	position:relative;
	font-size:12px;
	line-height:16px;
	text-align:left;
	padding:12px 10px 12px 30px;
	}
.btn_check_box{
	clear:both;
	}	
	/*
.btn_radio .btn_img,
.btn_check_box .btn_img{
	position:absolute;
	top:5px;
	left:0;
	z-index:10;
	display:inline-block;
	background-image: url(../img/icon_2017.svg);
	width:26px;
	height:30px;
	background-position-y:-810px;	
	}	
	*/
	
.btn_radio.dark,
.btn_check_box.dark{
	
	}
	
	
	
.btn_radio.dark .btn_img{
	background-position-x:-1260px;
	}
.btn_check_box.dark .btn_img{
	background-position-x:-1260px;
	}
	
	
.btn_radio.v01 .btn_img{
	background-position-x:-1160px;
	}
.btn_check_box.v01 .btn_img{
	background-position-x:-1210px;
	}
	
		
.btn_radio.v02 .btn_img{
	background-position-x:-60px;
	}
.btn_check_box.v02 .btn_img{
	background-position-x:-110px;
	}	
		
	
.btn_radio.v03 .btn_img{
	background-position-x:-560px;
	}
.btn_check_box.v03 .btn_img{
	background-position-x:-610px;
	}	
	

.btn_radio:hover .btn_img,
.btn_check_box:hover .btn_img{
	background-position-y:-910px !important;	
	}		
	
	
/* jq */
* .r_c_p{
	background-position-y:-860px !important ;
	}



/*
.btn_X{
	display:block;
	position:absolute;
	top:0;
	right:0;
	
	z-index:100;
	
	width:50px;
	height:50px;
	
	line-height:50px;
	letter-spacing:0;
	
	text-align:center;
	
	border-radius:50%;
	}
	
.btn_X:hover{
	color:#FFF;
}
*/


.btn_X{
	display:block;	
	position:absolute;
	top:0;
	right:0;
	
	z-index:1;

	width:50px !important;
	height:50px !important;
	
	padding:0 !important;
		
	background-image:url(../img/icon_2017.svg);	
	background-position-y:-850px;		
	background-position-x:-250px;	
	}
.btn_X.v1{
	background-position-x:-250px;	
	}
.btn_X.v2{
	background-position-x:-300px;	
	}	
.btn_X.v3{
	background-position-x:-450px;	
	}			
.btn_X.v4{
	background-position-x:-750px;	
	}		
.btn_X:hover{
	background-position-y:-900px;	
	}







.dot_box{
	display:block;
	left:50%;
	bottom:36px;
	transform:translateX(-50%);
	white-space:nowrap;
	}
.dot_box a{
	display: inline-block;
	line-height:50px;
	text-align:center;
	width:50px;
	height:50px;
	background-image:url(../img/icon_2017.svg);
	background-position-x:0;	
	background-position-y:-800px;
	}
.dot_box a:hover{
	background-position-y:-900px !important;
	}
/* jq */
.click_now{
	background-position-y:-850px !important;	
	}



.dot_box.v2 a{
	background-position-x:-550px;		
	background-position-y:-800px;
}


.dot_box.v3{
	width:30px;
	left:100%;
	bottom:50%;
	transform:translate(-30px , 50%);
	}
.dot_box.v3 a{
	display:block;
	width:30px;
	height:30px;
	background-position-x:-10px;		
	background-position-y:-810px;
	}
.dot_box.v3 a:hover{	
	background-position-y:-910px !important;
	}
.dot_box.v3 .click_now{
	background-position-y:-860px !important;	
	}

/*
.dot_box{
	overflow:hidden;
	display:block;
	clear: both;
	}
.dot_box .btn_dot{
	float:left;
	display:inline-block;
	background-image: url(../img/icon_2017.svg);
	background-position-y:-800px;
	width:50px;
	height:50px;	
	}

	
.dot_box.v01 .btn_dot{
	background-position-x:0;
	}		
.dot_box.v02 .btn_dot{
	background-position-x:-300px;
	}	
	
.dot_box .btn_dot:hover{
	background-position-y:-950px;
	}	
	
	*/
	
/* jq */
.d_p{
	background-position-y:-850px !important;
	}
.d_p:hover{
	background-position-y:-900px !important;
	}
	
	
	
/*
plus_less_box	
num_box
less_img
plus_img
*/


.plus_less_box{
	display: inline-block;
	position:relative;
	
	text-align:center;
	
	width:100%;
	margin:0 auto;
	}	
	
.num_box{
	display: inline-block;
	font-size:18px;
	line-height:50px;
	
	text-align:center;
	width:50px;
	height:50px;
		
}
.less_img,
.plus_img{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-25px;	
	
	display:inline-block;
	background-image: url(../img/icon_2017.svg);
	background-position-y:-800px;
	width:50px;
	height:50px;	
	}	
.less_img{
	margin-left:-65px;
	}
.plus_img{
	margin-left:15px;	
	}			
	
.v01 .less_img{
	background-position-x:-150px;	
	}		
.v01 .plus_img{
	background-position-x:-200px;	
	}
	
	
.v02 .less_img{
	background-position-y:-850px;	
	background-position-x:-650px;	
	}		
.v02 .plus_img{
	background-position-y:-850px;		
	background-position-x:-700px;	
	}	
.less_img:hover,
.plus_img:hover{	
	background-position-y:-900px;
}




	
	


/* drop down menu */

.ddm{
	position:relative;
	/*
	width:320px;
	margin:0 auto;
	*/
	text-align:left;
	
	
	
	border:1px #999999 solid;
	border: 1px #e6e6e6 solid;
	border-bottom-color: #c8c8c8;
	border-bottom-color: #9d9d9d;
	}
.ddm_btn{
	display:block !important;
	background-color:#FFF;
	/*
	border:1px #999999 solid;
	border: 1px #e6e6e6 solid;
	border-bottom-color: #c8c8c8;
	border-bottom-color: #9d9d9d;
	*/
	/*
	transition:all .3s ease-in-out;*/
	}
.ddm_btn .btn_info{
	display:block;
	font-size:12px;
	line-height:18px;
	color:#cacaca;
	color:#a0a0a0;
	color:#5683ab;
	color:#666666;
	color:#a0a0a0;
	padding:11px 9px;
	}	
	
	
.btn_img{
	width:30px;
	height:30px;
	background-image: url(../img/icon_2017.svg);	
	}
.btn_radio .btn_img,
.btn_check_box .btn_img{
	display:inline-block;	
	position:absolute;
	z-index:1;	
	top:5px;
	left:0;

	background-position-y:-810px;	
	}	
.ddm_btn .btn_img{
	display:inline-block;	
	position:absolute;
	z-index:1;	
	top:50%;
	right:1px;
	width:31px;
	border-left:1px #e6e6e6 solid;
	transform:translateY(-50%);
	}
.ddm_btn:hover .btn_info{
	color:#eb8c02;
	color:#a97962 !important;
	}		
.ddm_btn:hover .btn_img{
	background-position-y:-510px;
	}		
	
	
.btn_up,
.btn_down{
	background-position-y:-410px;	
	}
.btn_up{
	background-position-x:-10px;
	}	
.btn_down{
	background-position-x:-110px;
	}	
	




.rotate_icon{
	display:block;	
	position:absolute;
	top:50%;
	left:18px;
	margin-top:-15px;
	transition:all ease-in-out 0.27s;	
	}
.rotate_icon span{
	display:block;
	width:30px;
	height:30px;
	background-image: url(../img/icon_2017.svg);
	background-position-y:-460px;	
	background-position-x:-110px;
	}
*:hover > .rotate_icon span{
	background-position-y:-510px;	
}
	
	

.ddm_menu{
	display: none;
	overflow:auto;	
	position:absolute;
	bottom:0;
	left:-1px;
	right:-1px;
	z-index:100;
	max-height:202px;
	padding:0;
	
	transform:translateY(100%);
	
	
	/*
	transition:all .3s ease-in-out;
	width:100%;
	border-top-color:#cacaca;
	*/
	
	background-color:#FFF;
	border:1px #999999 solid;
	border:1px #0f1329 solid;	
	border:1px #9d9d9d solid;		
	border-top:1px #e6e6e6 solid;
	}

	
	
/* dark_night */
.dark_night .ddm,
.dark_night .ddm_menu{
	border:none;
	
	left:0;
	right:0;
	}

	
/*position top = pt*/
.ddm_menu.pt{
	top:39px;
	}


.ddm_menu div,
.ddm_menu a{
	display:block !important;
	font-size:14px;
	line-height:20px;
	padding:10px 15px;
	}

.ddm_menu div{
	font-size:12px;
	line-height:16px;
	padding:12px 15px;
	}
.ddm a{
	 white-space:nowrap;
	}	
.ddm_menu a:hover{
	
	color:#595958;	
	color:#a97962;
	background-color:#f4f5f7;
	}
.ddm_menu div{
	color:#797979;
	color:#e6e6e6;
	}	


/* ddm jq style */
.border_color{
	color:#595958;	
	border-color:#0f1329;
	}	

	
.font_color{
	color:#0f1329 !important;	
	}	







.b_learn_more{
	display: inline-block;
    font-size: 12px;
    line-height: 18px;
    font-family: roboto_Regular;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-transform: uppercase;
    padding:18px !important;
	}









.social_media_btn{
	display: inline-block;
	clear: none;
	width:36px;	
	height:36px;
	background-image:url(../img/icon_2017.svg);
	background-position-y:-1257px;
	padding:0 !important;
	}
	
.icon_pinterest{
	background-position-x:-7px;	
	}
.icon_facebook{
	background-position-x:-57px;	
	}	
.icon_instagram{
	background-position-x:-257px;	
	}
.icon_twitter{
	background-position-x:-157px;		
	}
.icon_email{
	background-position-x:-207px;	
	}
.social_media_btn:hover{
	background-position-y:-1307px;	
	}		
	
	
	
	
	
	
	
/* v2 */	



.social_media_box{
	display:inline-block;
	text-align:center;
	padding-top:9px;
	}


.social_media_box.v02 *{
	float:left;
	width:40px;
	height:40px;
	background-position-y:-1255px;	
	}

.social_media_box.v02 .icon_pinterest{
	background-position-x:-5px;	
	}
.social_media_box.v02 .icon_facebook{
	background-position-x:-55px;	
	}	
.social_media_box.v02 .icon_instagram{
	background-position-x:-255px;	
	}
.social_media_box.v02 .icon_twitter{
	background-position-x:-155px;		
	}
.social_media_box.v02 .icon_email{
	background-position-x:-205px;	
	}	
.social_media_box.v02 *:hover{
	background-position-y:-1305px;	
	}		
	
	
	
.social_media_box.v02 .icon_mywish{
	background-position-y:-1055px;	
	background-position-x:-255px;			
	}		
.social_media_box.v02 .icon_mywish:hover{
	background-position-y:-1105px;	
	}	
.social_media_box.v02 .icon_mywish{
	border-left:1px #CCC solid;
	}	
		
		
/* jq */
.mywish_click{
	background-position-x:-205px !important;		
	}


				
			

	
	
	

.social_media_btn.v02{
	width:40px;	
	height:40px;
	background-position-y:-1205px;
	padding:0 !important;
	}
.icon_pinterest.v02{
	background-position-x:-655px;	
	}
.icon_facebook.v02{
	background-position-x:-705px;	
	}	
.icon_instagram.v02{
	background-position-x:-755px;	
	}	
.social_media_btn.v02:hover{
	background-position-y:-1255px;	
	}	
	
		
.social_media_btn.v03{
	width:50px;	
	height:50px;
	background-position-y:-1200px;
	padding:0 !important;
	}
.icon_pinterest.v03{
	background-position-x:-300px;	
	}
.icon_facebook.v03{
	background-position-x:-350px;	
	}	
.icon_instagram.v03{
	background-position-x:-400px;	
	}	

.social_media_btn.v03:hover{
	background-position-y:-1250px;	
	}	
