/* Mountaion - 邱文山 */
/* 20171229 building */

.customer_care_menu a{
	display:block;
	clear:both;
	font-size:14px;
	line-height:18px;
	font-family:roboto_Regular;
	padding:11px 0;
}
.customer_care_menu .b_useful_information{
	font-size:14px;
	line-height:18px;
	text-transform:uppercase;
	}
.b_useful_information{
	position:relative;
	}
	
	/*
.b_useful_information .btn_img{
	position:absolute;
	top:50%;
	left:18px;
	margin-top:-15px;
	transition:all ease-in-out 0.27s;
	}*/
.rotate_180{
	transform:rotate(-180deg);
	}	
		
@media screen and (min-width:768px) {
.customer_care_menu a{
	display:block;
	}
.customer_care_menu .b_useful_information{
	display:none !important;
	}
}
@media screen and (max-width:767px) {
.customer_care_menu{
	border-bottom:1px #e6e6e6 solid;
	padding-bottom:11px;
	margin-bottom:11px;
	}
.customer_care_menu > div{
	display:none;
	}
.customer_care_menu a{
	font-size:16px;
	font-family:roboto_light;
	padding:16px 18px 16px 48px;	
	}
.customer_care_menu .b_useful_information{
	display:block !important;
	font-size:16px;
	line-height:18px;
	font-family:roboto_Regular;
	}
}


/* jq */

