/* dark_night */
.dark_night,
.dark_night p,
.dark_night > a,
.dark_night p a,
.dark_night > *,
.dark_night .b_learn_more,
.dark_night .heading,
.dark_night .hand_writing,
.dark_night .big_num_2{
	color:#FFF;
	}
.dark_night a:hover{
	color:#fadeda;
	}
.dark_night textarea,
.dark_night input{
	padding-top:11px;
	padding-bottom:11px;
	border:none;
	}
	
	