/* 
greatvibes-regular.ttf
homemadeapple-regular.ttf
kaushanscript-regular.ttf
parisienne-regular.ttf
tangerine-bold.ttf
tangerine-regular.ttf */





@font-face {
font-family:"greatvibes_regular";
src: url("../font/great_vibes/greatvibes-regular.ttf");
}
@font-face {
font-family:"homemadeapple_regular";
src: url("../font/homemade_apple/homemadeapple-regular.ttf");
}
@font-face {
font-family:"kaushanscript_regular";
src: url("../font/kaushan_script/kaushanscript-regular.ttf");
}
@font-face {
font-family:"parisienne_regular";
src: url("../font/parisienne/parisienne-regular.ttf");
}
@font-face {
font-family:"tangerine_bold";
src: url("../font/tangerine/tangerine-bold.ttf");
}
@font-face {
font-family:"tangerine_regular";
src: url("../font/tangerine/tangerine-regular.ttf");
}








/* greatvibes_regular
homemadeapple_regular
kaushanscript_regular
parisienne_regular
tangerine_bold
tangerine_regular */



@font-face {
font-family:"didot";
src: url("../font/didot/didot.eot");
src: url("../font/didot/didot.eot?#iefix") format("embedded-opentype"),
url("../font/didot/didot.svg") format("svg"),
url("../font/didot/didot.woff") format("woff"),
url("../font/didot/didot.ttf") format("truetype"),
url("../font/didot/didot.otf") format("opentype");
}


@font-face {
font-family:"roboto_Medium";
src: url("../font/roboto/roboto_medium.eot");
src: url("../font/roboto/roboto_medium.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_medium.svg") format("svg"),
url("../font/roboto/roboto_medium.woff") format("woff"),
url("../font/roboto/roboto_medium.ttf") format("truetype"),
url("../font/roboto/roboto_medium.otf") format("opentype");
}

@font-face {
font-family:"roboto_Regular";
src: url("../font/roboto/roboto_regular.eot");
src: url("../font/roboto/roboto_regular.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_regular.svg") format("svg"),
url("../font/roboto/roboto_regular.woff") format("woff"),
url("../font/roboto/roboto_regular.ttf") format("truetype"),
url("../font/roboto/roboto_regular.otf") format("opentype");
}

@font-face {
font-family:"roboto_light";
src: url("../font/roboto/roboto_light.eot");
src: url("../font/roboto/roboto_light.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_light.svg") format("svg"),
url("../font/roboto/roboto_light.woff") format("woff"),
url("../font/roboto/roboto_light.ttf") format("truetype"),
url("../font/roboto/roboto_light.otf") format("opentype");
}

@font-face {
font-family:"roboto_thin";
src: url("../font/roboto/roboto_thin.eot");
src: url("../font/roboto/roboto_thin.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_thin.svg") format("svg"),
url("../font/roboto/roboto_thin.woff") format("woff"),
url("../font/roboto/roboto_thin.ttf") format("truetype"),
url("../font/roboto/roboto_thin.otf") format("opentype");
}

@font-face {
font-family:"northwell_alt";
src: url("../font/northwell/northwell_alt.woff");
src: url("../font/northwell/northwell_alt.woff") format("woff"),

url("../font/northwell/northwell_alt.svg") format("svg"),
url("../font/northwell/northwell_alt.eot") format("embedded-opentype"),
url("../font/northwell/northwell_alt.ttf") format("truetype"),
url("../font/northwell/northwell_alt.otf") format("opentype");

}



@font-face{
font-family:"modern_display";
font-style:normal;
font-weight:normal;
src:url("../font/modern_display/modern_display.eot");
src:url("../font/modern_display/modern_display.eot?#iefix") format("embedded-opentype"),
url("../font/modern_display/modern_display.woff") format("woff"),
url("../font/modern_display/modern_display.ttf") format("truetype"),
url("../font/modern_display/modern_display.svg") format("svg");
}

@font-face {
font-family:"modern_display_TI";
src: url("../font/modern_display_TI/modern_display_TI.eot");
src: url("../font/modern_display_TI/modern_display_TI.eot?#iefix") format("embedded-opentype"),
url("../font/modern_display_TI/modern_display_TI.svg") format("svg"),
url("../font/modern_display_TI/modern_display_TI.woff") format("woff"),
url("../font/modern_display_TI/modern_display_TI.ttf") format("truetype"),
url("../font/modern_display_TI/modern_display_TI.otf") format("opentype");
}




