/* 20160502 */
/* 20180312 */
@font-face {
font-family:"monotype";
src: url("../font/monotype/monotype.eot");
src: url("../font/monotype/monotype.eot?#iefix") format("embedded-opentype"),
url("../font/monotype/monotype.svg") format("svg"),
url("../font/monotype/monotype.woff") format("woff"),
url("../font/monotype/monotype.ttf") format("truetype"),
url("../font/monotype/monotype.otf") format("opentype");
}
@font-face {
font-family:"monotype_TI";
src: url("../font/monotype_TI/monotype_TI.eot");
src: url("../font/monotype_TI/monotype_TI.eot?#iefix") format("embedded-opentype"),
url("../font/monotype_TI/monotype_TI.svg") format("svg"),
url("../font/monotype_TI/monotype_TI.woff") format("woff"),
url("../font/monotype_TI/monotype_TI.ttf") format("truetype"),
url("../font/monotype_TI/monotype_TI.otf") format("opentype");
}





@font-face{
font-family:"modern_display";
font-style:normal;
font-weight:normal;
src:url("../font/modern_display/modern_display.eot");
src:url("../font/modern_display/modern_display.eot?#iefix") format("embedded-opentype"),
url("../font/modern_display/modern_display.woff") format("woff"),
url("../font/modern_display/modern_display.ttf") format("truetype"),
url("../font/modern_display/modern_display.svg") format("svg");
}

@font-face{
font-family:"modern_display_TI";
font-style:normal;
font-weight:normal;
src:url("../font/modern_display_TI/modern_display_TI.eot");
src:url("../font/modern_display_TI/modern_display_TI.eot?#iefix") format("embedded-opentype"),
url("../font/modern_display_TI/modern_display_TI.woff") format("woff"),
url("../font/modern_display_TI/modern_display_TI.ttf") format("truetype"),
url("../font/modern_display_TI/modern_display_TI.svg") format("svg");
}



@font-face {
font-family:"bodoni";
src: url("../font/bodoni/bodoni.eot");
src: url("../font/bodoni/bodoni.eot?#iefix") format("embedded-opentype"),
/*url("../font/bodoni/bodoni.svg") format("svg"),
url("../font/bodoni/bodoni.otf") format("opentype"),
*/
url("../font/bodoni/bodoni.woff") format("woff"),
url("../font/bodoni/bodoni.ttf") format("truetype");

}
@font-face {
font-family:"bodoni_mt";
src: url("../font/bodoni_mt/bodoni_mt.eot");
src: url("../font/bodoni_mt/bodoni_mt.eot?#iefix") format("embedded-opentype"),
/*
url("../font/bodoni_mt/bodoni_mt.otf") format("opentype"),
url("../font/bodoni_mt/bodoni_mt.svg") format("svg"),*/
url("../font/bodoni_mt/bodoni_mt.woff") format("woff"),
url("../font/bodoni_mt/bodoni_mt.ttf") format("truetype");

}


@font-face {
font-family:"helveticaNeue";
src: url('../font/helveticaNeue/helveticaNeue.eot');	
src: url("../font/helveticaNeue/helveticaNeue.eot?#iefix") format("embedded-opentype"),
url("../font/helveticaNeue/helveticaNeue.svg") format("svg"),
url("../font/helveticaNeue/helveticaNeue.woff") format("woff"),
url("../font/helveticaNeue/helveticaNeue.ttf") format("truetype"),
url("../font/helveticaNeue/helveticaNeue.otf") format("opentype");
}


@font-face {
font-family:"helveticaNeue_TI";
src: url('../font/helveticaNeue_TI/helveticaNeue_TI.eot');
src: url("../font/helveticaNeue_TI/helveticaNeue_TI.eot?#iefix") format("embedded-opentype"),
url("../font/helveticaNeue_TI/helveticaNeue_TI.svg") format("svg"),
url("../font/helveticaNeue_TI/helveticaNeue_TI.woff") format("woff"),
url("../font/helveticaNeue_TI/helveticaNeue_TI.ttf") format("truetype"),
url("../font/helveticaNeue_TI/helveticaNeue_TI.otf") format("opentype");
}
@font-face {
font-family:"helveticaNeue_LT";
src:url("../font/helveticaNeue_LT/helveticaNeue_LT.eot");
src:url("../font/helveticaNeue_LT/helveticaNeue_LT.eot?#iefix") format("embedded-opentype"),
url("../font/helveticaNeue_LT/helveticaNeue_LT.svg") format("svg"),
url("../font/helveticaNeue_LT/helveticaNeue_LT.woff") format("woff"),
url("../font/helveticaNeue_LT/helveticaNeue_LT.ttf") format("truetype"),
url("../font/helveticaNeue_LT/helveticaNeue_LT.otf") format("opentype");
}
@font-face {
font-family:"helveticaNeue_LT_BD";
src:url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.eot");
src:url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.eot?#iefix") format("embedded-opentype"),
url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.svg") format("svg"),
url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.woff") format("woff"),
url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.ttf") format("truetype"),
url("../font/helveticaNeue_LT_BD/helveticaNeue_LT_BD.otf") format("opentype");
}


@font-face {
font-family:"helveticaNeue_MD";
src:url("../font/helveticaNeue_MD/helveticaNeue_MD.eot");
src:url("../font/helveticaNeue_MD/helveticaNeue_MD.eot?#iefix") format("embedded-opentype"),
url("../font/helveticaNeue_MD/helveticaNeue_MD.woff") format("woff"),
url("../font/helveticaNeue_MD/helveticaNeue_MD.ttf") format("truetype"),
url("../font/helveticaNeue_MD/helveticaNeue_MD.svg") format("svg"),
url("../font/helveticaNeue_MD/helveticaNeue_MD.otf") format("opentype");
}
@font-face {
font-family:"flood_std_regular";
src:url("../font/flood/flood_std_regular.otf");
/*
src:url("../font/flood/flood_std_regular.eot?#iefix") format("embedded-opentype"),
url("../font/flood/flood_std_regular.woff") format("woff"),
url("../font/flood/flood_std_regular.ttf") format("truetype"),
url("../font/flood/flood_std_regular.svg") format("svg"),
url("../font/flood/flood_std_regular.otf") format("opentype");*/
}
@font-face {
font-family:"noto_sans_TC_L";
src:url("../font/noto_sans_TC_L/noto_sans_TC_light.eot");
src:url("../font/noto_sans_TC_L/noto_sans_TC_light.eot?#iefix") format("embedded-opentype"),
url("../font/noto_sans_TC_L/noto_sans_TC_light.woff") format("woff"),
url("../font/noto_sans_TC_L/noto_sans_TC_light.ttf") format("truetype"),
url("../font/noto_sans_TC_L/noto_sans_TC_light.svg") format("svg"),
url("../font/noto_sans_TC_L/noto_sans_TC_light.otf") format("opentype");
}
@font-face {
font-family:"noto_sans_TC_R";
src:url("../font/noto_sans_TC_R/noto_sans_TC_regular.eot");
src:url("../font/noto_sans_TC_R/noto_sans_TC_regular.eot?#iefix") format("embedded-opentype"),
url("../font/noto_sans_TC_R/noto_sans_TC_regular.woff") format("woff"),
url("../font/noto_sans_TC_R/noto_sans_TC_regular.ttf") format("truetype"),
url("../font/noto_sans_TC_R/noto_sans_TC_regular.svg") format("svg"),
url("../font/noto_sans_TC_R/noto_sans_TC_regular.otf") format("opentype");
}





@font-face {
font-family:"roboto_Medium";
src: url("../font/roboto/roboto_medium.eot");
src: url("../font/roboto/roboto_medium.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_medium.svg") format("svg"),
url("../font/roboto/roboto_medium.woff") format("woff"),
url("../font/roboto/roboto_medium.ttf") format("truetype"),
url("../font/roboto/roboto_medium.otf") format("opentype");
}

@font-face {
font-family:"roboto_Regular";
src: url("../font/roboto/roboto_regular.eot");
src: url("../font/roboto/roboto_regular.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_regular.svg") format("svg"),
url("../font/roboto/roboto_regular.woff") format("woff"),
url("../font/roboto/roboto_regular.ttf") format("truetype"),
url("../font/roboto/roboto_regular.otf") format("opentype");
}

@font-face {
font-family:"roboto_light";
src: url("../font/roboto/roboto_light.eot");
src: url("../font/roboto/roboto_light.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_light.svg") format("svg"),
url("../font/roboto/roboto_light.woff") format("woff"),
url("../font/roboto/roboto_light.ttf") format("truetype"),
url("../font/roboto/roboto_light.otf") format("opentype");
}

@font-face {
font-family:"roboto_thin";
src: url("../font/roboto/roboto_thin.eot");
src: url("../font/roboto/roboto_thin.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_thin.svg") format("svg"),
url("../font/roboto/roboto_thin.woff") format("woff"),
url("../font/roboto/roboto_thin.ttf") format("truetype"),
url("../font/roboto/roboto_thin.otf") format("opentype");
}













@font-face {
font-family:"northwell_alt";
src: url("../font/northwell/northwell_alt.woff");

/*
src: url("../font/northwell/northwell_alt.eot?#iefix") format("embedded-opentype"),
url("../font/northwell/northwell_alt.svg") format("svg"),
url("../font/northwell/northwell_alt.woff") format("woff"),
url("../font/northwell/northwell_alt.ttf") format("truetype"),
url("../font/northwell/northwell_alt.otf") format("opentype");*/
}
@font-face {
font-family:"broadcast_matter";
src: url("../font/broadcast_matter/broadcast_matter.eot");
src: url("../font/broadcast_matter/broadcast_matter.eot?#iefix") format("embedded-opentype"),
url("../font/broadcast_matter/broadcast_matter.svg") format("svg"),
url("../font/broadcast_matter/broadcast_matter.woff") format("woff"),
url("../font/broadcast_matter/broadcast_matter.ttf") format("truetype"),
url("../font/broadcast_matter/broadcast_matter.otf") format("opentype");
}


@font-face {
font-family:"avenir_LT_Std_book";
src: url("../font/avenir/avenir_LT_Std_book.eot");
src: url("../font/avenir/avenir_LT_Std_book.eot?#iefix") format("embedded-opentype"),
url("../font/avenir/avenir_LT_Std_book.svg") format("svg"),
url("../font/avenir/avenir_LT_Std_book.woff") format("woff"),
url("../font/avenir/avenir_LT_Std_book.ttf") format("truetype"),
url("../font/avenir/avenir_LT_Std_book.otf") format("opentype");
}

@font-face {
font-family:"levibrush";
src: url("../font/levibrush/levibrush.eot");
src: url("../font/levibrush/levibrush.eot?#iefix") format("embedded-opentype"),
url("../font/levibrush/levibrush.svg") format("svg"),
url("../font/levibrush/levibrush.woff") format("woff"),
url("../font/levibrush/levibrush.ttf") format("truetype"),
url("../font/levibrush/levibrush.otf") format("opentype");
}

@font-face {
font-family:"dubiel";
src: url("../font/dubiel_plain/dubiel.ttf");
/*
src: url("../font/dubiel_plain/dubiel.eot?#iefix") format("embedded-opentype"),
url("../font/dubiel_plain/dubiel.svg") format("svg"),
url("../font/dubiel_plain/dubiel.woff") format("woff"),
url("../font/dubiel_plain/dubiel.ttf") format("truetype"),
url("../font/dubiel_plain/dubiel.otf") format("opentype");
*/
}
@font-face {
font-family:"dubiel_IT";
src: url("../font/dubiel_plain/dubiel_IT.ttf");

}

@font-face {
font-family:"didot";
src: url("../font/didot/didot.ttf");
/*
src: url("../font/didot/didot.eot?#iefix") format("embedded-opentype"),
url("../font/didot/didot.svg") format("svg"),
url("../font/didot/didot.woff") format("woff"),
url("../font/didot/didot.ttf") format("truetype"),
url("../font/didot/didot.otf") format("opentype");*/
}


@font-face {
font-family:"austin_web_light";
src: url("../font/austin_web_light.eot");
src: url("../font/austin_web_light.eot?#iefix") format("embedded-opentype"),
url("../font/austin_web_light.svg") format("svg"),
url("../font/austin_web_lightt.woff") format("woff"),
url("../font/austin_web_light.ttf") format("truetype"),
url("../font/austin_web_light.otf") format("opentype");
}

@font-face {
font-family:"basis_grotesque";
src: url("../font/basis_grotesque.eot");
src: url("../font/basis_grotesque.eot?#iefix") format("embedded-opentype"),
url("../font/basis_grotesque.svg") format("svg"),
url("../font/basis_grotesque.woff") format("woff"),
url("../font/basis_grotesque.ttf") format("truetype"),
url("../font/basis_grotesque.otf") format("opentype");
}
@font-face {
font-family:"basis_grotesque_regular";
src: url("../font/basis_grotesque_regular.eot");
src: url("../font/basis_grotesque_regular.eot?#iefix") format("embedded-opentype"),
url("../font/basis_grotesque_regular.svg") format("svg"),
url("../font/basis_grotesque_regular.woff") format("woff"),
url("../font/basis_grotesque_regular.ttf") format("truetype"),
url("../font/basis_grotesque_regular.otf") format("opentype");
}
@font-face {
font-family:"sabon_roman";
src: url("../font/sabon_roman.eot");
src: url("../font/sabon_roman.eot?#iefix") format("embedded-opentype"),
url("../font/sabon_roman.svg") format("svg"),
url("../font/sabon_roman.woff") format("woff"),
url("../font/sabon_roman.ttf") format("truetype"),
url("../font/sabon_roman.otf") format("opentype");
}


@font-face {
font-family:"open_sans_Light";
src: url("../font/open_sans/open_sans_Light.ttf");
/*
src: url("../font/open_sans/open_sans_Light.eot?#iefix") format("embedded-opentype"),
url("../font/open_sans/open_sans_Light.svg") format("svg"),
url("../font/open_sans/open_sans_Light.woff") format("woff"),
url("../font/open_sans/open_sans_Light.ttf") format("truetype"),
url("../font/open_sans/open_sans_Light.otf") format("opentype");*/
}

@font-face {
font-family:"open_sans_Regular";
src: url("../font/open_sans/open_sans_Regular.ttf");
/*
src: url("../font/open_sans/open_sans_Regular.eot?#iefix") format("embedded-opentype"),
url("../font/open_sans/open_sans_Regular.svg") format("svg"),
url("../font/open_sans/open_sans_Regular.woff") format("woff"),
url("../font/open_sans/open_sans_Regular.ttf") format("truetype"),
url("../font/open_sans/open_sans_Regular.otf") format("opentype");*/
}
@font-face {
font-family:"open_sans_SemiBold";
src: url("../font/open_sans/open_sans_SemiBold.ttf");
/*
src: url("../font/open_sans/open_sans_SemiBold.eot?#iefix") format("embedded-opentype"),
url("../font/open_sans/open_sans_SemiBold.svg") format("svg"),
url("../font/open_sans/open_sans_SemiBold.woff") format("woff"),
url("../font/open_sans/open_sans_SemiBold.ttf") format("truetype"),
url("../font/open_sans/open_sans_SemiBold.otf") format("opentype");*/
}


@font-face {
font-family:"open_sans_Bold";
src: url("../font/open_sans/open_sans_Bold.ttf");
/*
src: url("../font/open_sans/open_sans_Bold.eot?#iefix") format("embedded-opentype"),
url("../font/open_sans/open_sans_Bold.svg") format("svg"),
url("../font/open_sans/open_sans_Bold.woff") format("woff"),
url("../font/open_sans/open_sans_Bold.ttf") format("truetype"),
url("../font/open_sans/open_sans_Bold.otf") format("opentype");*/
}
@font-face {
font-family:"open_sans_ExtraBold";
src: url("../font/open_sans/open_sans_ExtraBold.ttf");
/*
src: url("../font/open_sans/open_sans_ExtraBold.eot?#iefix") format("embedded-opentype"),
url("../font/open_sans/open_sans_ExtraBold.svg") format("svg"),
url("../font/open_sans/open_sans_ExtraBold.woff") format("woff"),
url("../font/open_sans/open_sans_ExtraBold.ttf") format("truetype"),
url("../font/open_sans/open_sans_ExtraBold.otf") format("opentype");*/
}





/* eot svg woff ttf otf */




@font-face{
font-family:"alex_brush_regular";
font-style:normal;
font-weight:normal;
src:url("../font/alex_brush_regular/alex_brush_regular.ttf");

}


@font-face{
font-family:"arizonia_regular";
font-style:normal;
font-weight:normal;
src:url("../font/arizonia_regular/arizonia_regular.ttf");

}

@font-face{
font-family:"notera";
font-style:normal;
font-weight:normal;
src:url("../font/notera/notera.ttf");

}