
/* 
z-index

header        1800 
rwd_size_box  1500
change-size   1500
open_close    1500
control_menu  1500

900

*/






.three_line{
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
}


.three_line .line{
    position: absolute;

    top: 50%;
    left: 50%;

    width: 30px;
    height: 2px;
    background-color: #000;

}
.three_line.white{
    background-color: #000 !important;
}
.three_line.white .line{
    background-color: #fff;
}
.three_line .line._a{
    -webkit-transform: translate(-50%, calc(-50% - 6px));
    -ms-transform: translate(-50%, calc(-50% - 6px));
    transform: translate(-50%, calc(-50% - 6px));
}
.three_line .line._b{
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.three_line .line._c{
    -webkit-transform: translate(-50%, calc(-50% + 6px));
    -ms-transform: translate(-50%, calc(-50% + 6px));
    transform: translate(-50%, calc(-50% + 6px));
}


.three_line:hover .line{
    background-color:#e9573f;
}

/* jQ */
.three_line.click .line._a{
     /* width: 18px; */
    -webkit-transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
    -ms-transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
    transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
}
.three_line.click .line._b{
    width: 0;
}
.three_line.click .line._c{
       /* width: 18px; */
    -webkit-transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
    -ms-transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
    transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
}

.three_line.transition{
    -webkit-transition: width , height , 0.3s ease-in-out , -webkit-transform;
    transition: width , height , 0.3s ease-in-out , -webkit-transform;
    -o-transition: transform , width , height , 0.3s ease-in-out;
    transition: transform , width , height , 0.3s ease-in-out;
    transition: transform , width , height , 0.3s ease-in-out , -webkit-transform; 
    transition: transform , width , height , 0.3s ease-in-out; 
}













header.m_HF{
    position: fixed;
    z-index: 1800;
    left:0;
}

footer.m_HF{
    z-index: 1500;
}

header .mm_nav{
    position: absolute;
}

.mm_nav{
    display: inline-block;
    position: fixed;
    top: 60px;
    left:0;
    left: -400px;

    text-align: left;
 /*    border-top:1px #e1e1e1 solid;
    border-right:1px #e1e1e1 solid; */
    /* border-bottom:1px #e1e1e1 solid; */
    /* margin-left:-100%; */
    max-height:calc(100vh - 60px);
    width:100%;


/*  min-width: 300px;
    max-width: 50% ; */

    /* overflow-y: auto; */
    background-color: #fff;

}



/* jq */
header.m_HF .mm_nav.margin_change{
    left: 72px;
}






.mm_nav.transition{
    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;
    transition: all 0.27s ease-in-out;
}
header.m_HF.v1{
    z-index: 900;

    right: 0;

    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    border-bottom:1px #e1e1e1 solid;

    background-color: #fff;

}
header.m_HF.v1 *[class*="logo-m-"]{
    width: 50px;
    height: 50px;
    margin: 11px;
}

header.m_HF.v1 *[class*="logo-m-"]:hover{
    background-position-y: -100px;
}


header .mm_nav.v1{
    position: static;
    width: auto;
}


.mm_nav.v1 > li > a{

    padding:24px 18px; 
 
    }   


.mm_nav > li{
    display: inline-block;
    }  
.mm_nav li{
    padding:0;
    }   


.mm_nav > li > span,
.mm_nav li div,
.mm_nav li a{
    display: block;
    font-size:14px;
    line-height: 24px;
    font-family:roboto_Regular;
    color:#000;
    padding:13px 18px; 
    width: 100%;  
    }   

.mm_nav > li > span,
.mm_nav > li > a{
    overflow: hidden;
    position: relative;
    font-size:12px;
    text-transform:uppercase;
    }

.mm_nav > li > span{

    cursor: pointer;

    }

.mm_nav ul a:not(.num_boo_m) span{
    display: block;
    clear: both;
    font-size:12px;

    color: #656d78;
    letter-spacing: 0.036em;
    }

.mm_nav .bold{
    /* font-family:Arial, sans-serif; */
    /* font-size: 14px; */

    font-family: roboto_Medium;
    text-transform:uppercase;
    letter-spacing: 0.09em;


    color:#656d78;
    color:#000;
    }
.mm_nav .bold span,
.mm_nav a:not(.num_boo_m) span{
    display: block;
    clear: both;
    font-size:12px;
    line-height: 16px;
    font-family: roboto_light;
    color: #656d78;
    /* letter-spacing: 0.036em; */
    }


.mm_nav .bold span.info{
    display: inline-block;

    font-size: 14px;
    line-height: 18px;
    color:#000 !important;
    font-family: roboto_Medium;

    
    }




.mm_nav a:hover{
    color:#e9573f !important;
    }
.mm_nav ul{
    position:absolute;
    top:100%;
    left:0;
    right: 0;
    z-index:90;
    display: none;
    -webkit-box-pack: center ;
    -ms-flex-pack: center ;
    justify-content: center ;
    -webkit-box-align: stretch ;
    -ms-flex-align: stretch ;
    align-items: stretch ;

    padding:0;

    border-top:1px #e1e1e1 solid;
    
/*     border-bottom:1px #333333 solid;
    border-bottom:1px #656d78 solid; */

    background-color:#FFF;

    /* max-height: 100vh; */
    height:auto;

    -moz-box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
    -webkit-box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
    box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
    } 


.mm_nav ul li > *:first-child{
    padding-top: 26px;
    } 
.mm_nav ul li > *:last-child{
    padding-bottom: 26px;
    } 

ul ul li{
    min-width: 150px;
    width: 33.333333%;
}
ul ul li:only-child,
ul ul li:first-child:nth-last-child(1){
   
}
ul ul li:only-child *,
ul ul li:first-child:nth-last-child(1) *{

}

ul ul li:first-child:nth-last-child(2),
ul ul li:first-child:nth-last-child(2)~li{
 
}

ul ul li:first-child:nth-last-child(3),
ul ul li:first-child:nth-last-child(3)~li{

}

ul ul li:first-child:nth-last-child(4),
ul ul li:first-child:nth-last-child(4)~li{
    width: 25%;
}

ul ul li:first-child:nth-last-child(5),
ul ul li:first-child:nth-last-child(5)~li{
    width:20%;
}

ul ul li:first-child:nth-last-child(6),
ul ul li:first-child:nth-last-child(6)~li{
    width:16.666666%;
   
}
ul ul li:first-child:nth-last-child(7),
ul ul li:first-child:nth-last-child(7)~li{
    width: 14.285714%;
}

ul ul li:first-child:nth-last-child(8),
ul ul li:first-child:nth-last-child(8)~li{
    width: 12.5%;
}

ul ul li:first-child:nth-last-child(9),
ul ul li:first-child:nth-last-child(9)~li{
    width: 11.111111%;
}








header.m_HF.v2{
    width: auto;
}
header.m_HF.v2 .three_line{
    display: inline-block;
    background:none;
    width: 72px;
    height: 72px;
}

@media screen and (max-width:767px) {
header.m_HF.v2 .three_line{
    float: left;
}
header.m_HF.v2{
    width: 100%;
    /* text-align: right; */
    /* left: calc(100% - 144px); */
}
header.m_HF.v2 > a{
    /* display: inline-block; */

}

}

/* mountain */

/* @media screen and (max-width:767px) {
.m_HF.v2 *[class*="logo-m"]{
    float: right;
    }
.m_HF.v2 .three_line{
    float: left;
    }

}

 */




.v2.mm_nav{
    /* display: none; */
    top: 72px;
    left: -400px;
    z-index: -1;
    min-width: 320px;
    max-height: calc(100vh - 144px);
    overflow-y: auto;
    /* margin-left: -400px; */
    padding: 11px 0;

 /*    border-top:1px #e1e1e1 solid;
    border-left:1px #e1e1e1 solid;
    border-right:1px #e1e1e1 solid;
    border-bottom:1px #e1e1e1 solid;
 */
    -moz-box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);
    -webkit-box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);
    box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);
}

.v2.mm_nav > li > span, 
.v2.mm_nav li div, 
.v2.mm_nav li a{
    line-height: 18px;
    padding: 16px 18px;
}

.v2.mm_nav > li{
    padding-bottom: 18px;  
    }
.v2.mm_nav > li:last-child{
    padding-bottom: 0;  
    }
.v2.mm_nav > li > .bold{
    opacity: 0.63;
    color: #656d78;
    padding-left: 18px;  
    }

.v2.mm_nav > li > a{
    padding-left: 36px;
    }
.v2.mm_nav li a.bold{
    opacity: 1;

    font-size:14px;
    color: #000;

}

.v2.mm_nav ul{
    display: block;
    position: static;
    width: 100% ;
    max-height: none;
    height: 100%;
    padding:0; 
    border-top:none;
    box-shadow: none;
}

.v2.mm_nav .bold{
    padding-left: 27px;  
    }

.v2.mm_nav ul li{
    display: block;
    min-width: none;
}
.v2.mm_nav ul a{
    padding-left: 36px;
}
.v2.mm_nav li,
.v2.mm_nav a{

    width: 100%;
}


/* .open{
    border-top:1px #333333 solid;
 */

/* .open ul li:first-child > *:first-child{
    padding-top: 0;

} */





.v2.mm_nav .btn_box{

  line-height: 18px;
    padding-left: 36px;

}
.v2.mm_nav .btn_box a{
  display: inline-block;
  line-height: 18px;
  color: #656d78;
  padding: 0 8px 0 0;

  width: auto;
}

.v2.mm_nav .btn_box a:first-child{
  display: block;
  clear: both;

  font-size: 12px;
  color: #000;

  text-transform: uppercase;
  padding: 0 ;
}








@media screen and (min-width:1024px) {
/* .mm_nav.v1 li:hover ul{
    display: block;
} */
.mm_nav.v1 > li:hover ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
}




@media screen and (max-width:767px) {
header.m_HF.v1 {
    text-align: center;
}

header.m_HF.v1 .three_line {
    display: block;
    position: absolute;
    left: 0;
    background: none;
    width: 72px;
    height: 72px;
}
header.m_HF.v1 *[class*="logo-"]{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}




.mm_nav{
    width: 100%;
    max-width: 300px;
    min-width: calc(100% - 72px);
    max-height: calc(100vh - 144px);
    overflow-y: auto;
    /* margin-left: -400px; */
}
.mm_nav.v1{
    position: absolute !important;
    top: 72px;
    left: 0;
    
    border-top:1px #e1e1e1 solid;
    border-left:1px #e1e1e1 solid;
    border-right:1px #e1e1e1 solid;
    border-bottom:1px #e1e1e1 solid;

    -moz-box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);
    -webkit-box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);
    box-shadow:
    0 30px 20px rgba(0,0,0,0.15),
    0 60px 40px rgba(0,0,0,0.12),
    0 90px 60px rgba(0,0,0,0.09);

}


.mm_nav.v1 > li{
    display: block;
}

.mm_nav.v1 ul{
    display: block;
    position: static;
    width: 100% ;
    max-height: none;
    height: 100%;
    padding:0; 
    border-top:none;

    box-shadow: none;
}
.mm_nav.v1 li,
.mm_nav.v1 a{
    /* position: static; */
    /* display: block; */
    width: 100% !important;
}
/* 
.mm_nav.v2{
    max-width: calc(100vw - 70px) ;
    min-width: calc(100vw - 70px) ;
}*/
} 



.num_boo_m > span:not(.txt) {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    color: #FFF;
    text-align: center;

    letter-spacing: 0;

    min-width: 24px;
    width: auto;

    padding:0 9px; 

    height: 24px;
    margin-left: 4px;
    background-color: #000;
/*     -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -o-border-radius: 24px; */
    border-radius: 24px;
    
    vertical-align: baseline;
}

.num_boo_m:hover > span:not(.txt) {
    background-color: #e9573f;
}

.num_boo_m > .txt {
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 16px;
    font-family: roboto_light;
    color: #656d78;
}




