/* 2017 mountain - chiou wen shan */
/* 20171106 */
/* 20180124 */

/* head foot box */

/* 
header.v01
	top_blue
		event_info_A
		btn_box_A

	top_white
		three_line
		logo
		nav_menu
		event_info_B

footer.v01
	btn_box_B
	btn_box_C
*/



/* header.v01 */
header.v01,
footer.v01{
	position:fixed;
	left:0;
	z-index:600;
	width:100%;
	background-color:rgba(255,255,255,0.8);
}
header.v01 *,
footer.v01 *{
	font-family:helveticaNeue;	
	font-family:roboto_light;	
	font-family:roboto_Regular;
}
header.v01{
	top:0;
	border-bottom:1px #C8C8C8 solid;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%%);
}
footer.v01{
	bottom:0;
	border-top:1px #C8C8C8 solid;
}



/* top_blue */
.top_blue{
		overflow:hidden;
	text-align: center;
	background-color:#0f1329;
	}
/*
top_blue event_info_A 
top_blue btn_box_A 
*/	
.event_info_A{
	display:block;
	float:left;
	font-size:12px;
	line-height:18px;
	padding:2px 0;
	color:#FFF;
	}
.btn_box_A{
	display:block;
	float:right;
	}
.btn_box_A *{
	float:left;
	font-size:12px;
	line-height:18px;
	color:#FFF;
	padding:2px 0;
	}
.btn_box_A > span{
	display:block;
	width:22px;
	color:#969696;
	text-align:center;
	}
.btn_box_A a:hover{
	color:#dec8b7;
	}
	
	



.top_white{
	position:relative;
	text-align:left;	
	}
.three_line{
	display:none;
	}
	
	
.logo{
	display:inline-block;
	
	margin:18px 9px 9px 0;

	width:104px;
	
	height:36px;

	background-image: url(http://mountain-mm.myweb.hinet.net/img/ifchic_v01.svg);
	background-size:cover;
	}
	
	
.logo img{
	
	width:auto;
	}
	

	
	
/* nav_menu */
.nav_menu{
	display:inline-block;
	padding-top:18px;
	}
.nav_menu > li{
	position:relative;
	display: inline-block !important;
	padding:0;
	border:1px #e6e6e6 solid;
	border-color:transparent;
}
.nav_menu > li > a{
	display:block;
	font-size:12px;
	line-height:18px;

	text-transform:uppercase;
	padding:14px 8px 12px 8px;
	
	border: 1px #C8C8C8 solid;
	border-color:transparent;
	border-bottom:none;	
}
.nav_menu > li > ul{
	display:none;
	white-space:nowrap;
	position:absolute;
	bottom:0;
	left:0;
	
	z-index:300;
	
	transform:translateY(100%);
	-ms-transform:translateY(-100%);	
-moz-transform:translateY(-100%);	
-webkit-transform:translateY(-100%);	
-o-transform:translateY(-100%);	
	padding:0 18px 0 18px;
	
	background-color:#FFF;
	border-top:none;

	border-bottom:1px #c8c8c8 solid;	
	-webkit-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);	
}
.nav_menu ul li {
	display:inline-block;
	text-align:left;
	padding:9px 9px;
	width:120px;
}	
.nav_menu ul li a{
	white-space: normal;	
	display:block;
	font-size:14px;
	line-height:18px;
	font-family:roboto_light;
	padding:9px 0;	
}	

/* menu list first item */
/* ul.nav_menu li ul li a.links_header  */
.links_header{
	display:block;
	clear:both;
	font-size:12px !important;
	line-height:18px;
	font-family:roboto_Medium !important;
	
	color:#999;
	color:#0f1329;  
	text-transform:uppercase;	
	padding:9px 0 9px 0;
	}
.links_header:hover{
	color:#a97962;	
	}		


	
	



/* event_info_B */

.event_info_B{
	position:relative;
	float:right;
	font-size:12px;
	line-height:16px !important;	
	color:#969696;
	text-align:right;
	padding-top:8px;
	padding-bottom:8px;	
	padding-right:45px;
	
	height:65px;
	}
.event_info_B span{
	color:#0f1329;
	}
.event_info_B .btn_X{
	display:none;
	}
.info_btn{
	cursor:pointer;
	display:block;
	
	position:absolute;
	top:50%;
	right:0;
	
	margin-top:-18px;
	width:36px;
	height:36px;
	
	font-size:14px;	
	line-height:36px;

	font-family: roboto_Regular;
	color:#FFF;
	text-align:center;
	
	background-color:#0f1329;
	
	border-radius:50%;
	/**/
	}
.info_btn:hover{
	background-color:#969696;
	background-color:#a97962;	
	}	
.offer_info{
	display:none;
	position:absolute;
	
	top:54px;	
	right: -18px;
	z-index:1;
	width:270px;
	text-align:left;
	padding:9px 18px;

	background-color:#a97962;	

	-webkit-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	}	
.offer_info p{
	font-size:12px;
	line-height:18px;
	color:#FFF;
	}
.offer_info:before {
	content: "";
	position: absolute;
	top: -12px;
	right:36px;
	
	margin-right:-12px;
   
	border-width: 0 12px 12px;
	border-style: solid;
	border-color: #a97962 transparent;
}

	
	
	
/* footer.v01 */
footer.v01 div{
	color:#969696;	
	}
.bottom_white{
	text-align:right;	
	}



.btn_box_B *,
.btn_box_C *{
	display:block;
	float:left;
	font-size:12px;
	line-height:18px;
	padding:9px;
	}
.btn_box_B{
	float:left;
	}	
.btn_box_C{
	display:inline-block;
	}	
.btn_box_C *{
	float:left;
}
.b_use_info{
	display:none;
	}







@media screen and (min-width:1200px) {
header.v01 .mw_1200{
	padding-left:27px;
	padding-right:27px;
	}
footer.v01 .mw_1200{
	padding-left:18px;
	padding-right:18px;
}
}
@media screen and (max-width:1199px) {
header.v01 .mw_1200{
	padding-left:9px;
	padding-right:9px;
	}
footer.v01 .mw_1200{
	padding-left:0;
	padding-right:0;
}
}
@media screen and (min-width:1025px) {
.nav_menu > li:hover{
	background-color:#FFF;
	border-left:1px #e6e6e6 solid;
	border-right:1px #e6e6e6 solid;
	border-top:1px #c8c8c8 solid;
}	
.nav_menu > li:hover > ul{
	display:block;
}	
}


@media screen and (max-width:1024px) {

.nav_menu ul{	
	width:100%;
	padding:0;
	}	
}
@media screen and (max-width:1023px) {
.top_white{
	text-align:center;
	}
		
.nav_menu{
	display:block;
	padding-top:0;
	}


.logo{
	margin-right:0;
	margin-bottom:0;
	}	
.event_info_B{
	position:absolute;
	right:0;	
	padding:0;
	width:65px;
	}
.event_info_B .info_btn{
	right: 50%;
    margin-right: -18px;
	}
.event_info_B div:not(.info_btn){
	display:none;
	}


	
.b_use_info{
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
	
	text-transform:uppercase;
    padding: 9px;
	}
.btn_box_B{
	display:none;
	position:absolute;
	top:-18px;
	left:9px;
	padding:18px;
	transform:translateY(-100%);

-ms-transform:translateY(-100%);	
-moz-transform:translateY(-100%);	
-webkit-transform:translateY(-100%);	
-o-transform:translateY(-100%);		
	background-color:#0f1329;
	
	-webkit-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 1px rgba(43,42,40,0.3),
	0px 3px 3px rgba(43,42,40,0.2),
	0px 9px 9px rgba(43,42,40,0.1);
}
.btn_box_B:before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 36px;
    margin-right: -12px;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #0f1329 transparent;
}
.btn_box_B *{
	display: block;
	clear:both;
	color:#FFF;
}


}


@media screen and (max-width:767px) {
header.v01 .mw_1200{
	padding-left:0;
	padding-right:0;
	}

.event_info_A{
	width:100%;
	}
.event_info_A,
.btn_box_A{
	float:none !important;	
	display:inline-block;
	}
.btn_box_A *{
	padding:9px 0;
	}

.three_line{
	display:block;
	position:absolute;
	top:36px;
	left:0;

	width:50px;
	height:50px;
	
	background-image:url(http://mountain-mm.myweb.hinet.net/img/icon_2017.svg);
	background-position-y:-1050px;
	background-position-x:0;
	
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);	
-moz-transform:translateY(-50%);	
-webkit-transform:translateY(-50%);	
-o-transform:translateY(-50%);	
	}
.three_line:hover{
	background-position-y:-1100px;
	}	
	
	
	
	
/* nav menu */	
.nav_menu{
	display:none;
	padding-top:0;
	background-color:#FFF;
	border:none;
	height:350px;
	overflow-y:auto;
	}
.nav_menu li{
	display: block !important;
	clear:both;
	border:none;
	padding:0 !important;
	}
.nav_menu li a{
	width:100%;
	padding:16px 0 !important;
	text-align:center;
	border:none;
	}
.nav_menu > li > a{
	padding:15px 0 16px 0 !important;
	border-top:1px #e6e6e6 solid !important;
	}	
.nav_menu li ul{
	position:static; 
	padding:0;	
	transform:none;
	box-shadow:none;	
}
.nav_menu ul li{
	width:auto;
	}


.logo{
	margin-bottom:11px;
	}	
.event_info_B{
	position:absolute;
	right:0;
	}


footer.v01 {
	position:static !important;
	}
.bottom_white{
	overflow:hidden;
	text-align:center;
	padding:18px;
	}

.btn_box_B,	
.btn_box_C{
	float:left;
	width:50%;
	}
.btn_box_B *,
.btn_box_C *{
	float:none;
	display:block;
	padding-top:12px;
	padding-bottom:12px;
	}	
	

.b_use_info{
    display:none;
	}

.btn_box_B{
	display:block;
	
	position: static;
	padding:0;
	transform:none;	
	background:none;
	border-right:1px #e6e6e6 solid;
	
	box-shadow:none;
	}
.btn_box_B:before {
	display:none;
	}
.btn_box_B *{
	color:#0f1329;
	}
	
	
.btn_box_C .social_media_btn{
	display:inline-block;
	}
.btn_box_C > *:last-child{
	margin-top:42px;
	}
	
	
}
@media screen and (max-width:320px) {
.btn_box_B{
	border-right:none;
	}	
.btn_box_B,	
.btn_box_C{
	float: none;
	width:100%;
	}
}