/* v20180125 add */
	
header.mm_v2018{
	display:block;
	clear:both;	
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:3000;
	font-size:14px;
	line-height:18px;
	font-family:roboto_light, Helvetica, Arial, sans-serif;
	color:#666;
	
	
	width:100%;
	background-color:#fff !important;
	
	margin:0 auto;
	
		border-bottom:1px #e1e1e1 solid;
	}
	
	
footer.mm_v2018{
	display:block;
	clear:both;
	}
	
footer.mm_v2018 .img_w{
	display:none;
	}
	
	
.mm_nav{
	position:relative;
	}
.mm_nav li{
	padding:0;
	list-style:none;
	}	
.mm_nav > li{
	position:static;
	display:inline-block;
	}
.mm_nav > li > a{
	font-size:12px;
	text-transform:uppercase;
	padding:18px;	
	}	
		
		
.mm_nav .bold,	
.mm_nav a{
	display:block;
	clear:both;
	}	
	
.mm_nav div{
	
	font-size:12px;
	line-height:18px;
	padding:13px 0;
	}		
	
.mm_nav div a{
	display:inline-block;
	line-height:18px;	
	padding:0;
	}		
	
				
.mm_nav a{
	font-size:14px;
	line-height:24px;
	font-family:roboto_Regular;
	color:#000;
	padding:13px 0;
	}		
	
.mm_nav div a{

	}	
	
	
	

.mm_nav .bold{

	font-size:12px;
	line-height:24px;	
	font-family:Arial, sans-serif;
	color:#656d78;		
	}
	
	
	
.mm_nav a:hover{
	color:#e9573f;
	}		

	
.mobile_btn{
	display:none !important;

	width:50px;
	height:60px;

	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/icon_2017.svg);
	background-position:-50px -195px;
	}
.mobile_btn:hover{
	background-position-y:-245px;
	}	
	

	
	
.num_boo{

}


.num_boo span{
	/*
		display:inline-block;
	position:relative;
	padding-right:46px !important;
	
	position:absolute;
	top:50%;
	right:18px;
	
	transform:translateY(-50%);
	*/
	
	
	display:inline-block;
	
	line-height:24px;
	font-family:Arial, sans-serif;		
	color:#FFF;
   
	text-align:center;
	
	width:24px;

	
	margin-left:4px;
  
    background-color: #000;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.num_boo:hover span{
	background-color:#e9573f;
}	
		
.mm_nav ul{
	overflow:hidden;
	
	position:absolute;
	
	top:60px;
	left:0;
	z-index:90;
	
	display: none;
	width:100%;
	
	padding:18px;
	background-color:#FFF;
	/**/
	border-top:1px #e1e1e1 solid;
	border-bottom:1px #333333 solid;

	background-color:#FFF;
	}				
.mm_nav li li{
	float:left;
	}			
	
	
	
.this_page{

	/*
	border-bottom:1px #e1e1e1 solid;*/
	}


/* logo box slide show */


.logo_slide_show{
	
	display:block;
	clear:both;
	position:relative;
	margin-top:61px;
	padding:27px 0;
	width:100%;
	border-bottom: 1px #e1e1e1 solid;
	}
.brand_design{
	overflow:hidden;
	white-space: nowrap;
	}
	
	
.brand_design *{
	font-size:12px;
	line-height:18px;
	font-family:roboto_light, Helvetica, Arial, sans-serif;
	color:#000;
	color:#656d78;	
	letter-spacing: 0.05em;
	word-spacing:	 0.05em;
	white-space: normal;
	}
.brand_design > div{

	display:inline-block;	
	
	width:25%;
	

	
	/*
	padding:0 18px 18px 18px;	
	max-height:340px;
	height:100%;
	border-right:1px #e1e1e1 solid;*/
	}
.brand_design > div:first-child .item_title{
	border:none;
	
	
}
.item_title{
	overflow:hidden;
	padding-left:18px;
	padding-right:18px;
	padding-bottom:18px;	
	border-left:1px #e1e1e1 solid;
	}	
.item_title .job_type{
	display:block;
	clear:both;
	font-size:14px;
	font-family:roboto_Regular, Helvetica, Arial, sans-serif;	
	color:#000;
	
	padding-bottom:9px;
	}	
.img_box{
	height:120px;
	}


.btn_more{
	display:block;
	/*float:right;*/
	
	font-family:roboto_Regular, Helvetica, Arial, sans-serif;	
	color:#000;
	
	text-transform:uppercase;
	
	padding:12px 18px;
	}
	
	
.btn_more:hover{
	color:#e9573f;
	}
	

.brand_design > div > span{
	display:block;
	clear:both;
	}	
.brand_design > *:last-child{
	border-right:none;
	}





/* btn_L_R */
.btn_prev_next{
	overflow:hidden;
	display:block;
	
	position: absolute;
	left:75%;
	bottom:-27px;
	
	padding:0;
	
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
	-o-transform:translateX(-50%);

	background-color:#FFF;
	width:144px;
	}
.btn_prev_next a{
	display:block;
	float:left;
	font-size:12px;
	line-height:18px;
	color: #000;
	text-transform:uppercase;
	width:72px;
	}
.btn_prev_next a:first-child{
	padding:9px 0 27px 18px;
	text-align:left;
	}
.btn_prev_next a:last-child{
	padding:27px 18px 9px 0;
	text-align:right;
	}
.btn_prev_next a:hover{
	color:#e9573f;
	/*background-color:#e9573f;*/
}
.btn_prev_next:before{
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	display:block;
	width:1px;	
	height:100px;
	
	
	background-color:#e1e1e1;


	transform:translate(-50%,-50%) rotate(23.5deg);
	-ms-transform:translate(-50%,-50%) rotate(23.5deg);
-moz-transform:translate(-50%,-50%) rotate(23.5deg);
-webkit-transform:translate(-50%,-50%) rotate(23.5deg);
-o-transform:translate(-50%,-50%) rotate(23.5deg);
	
	
	}
	
	


.mm_sign{
	position:relative;
	display:block;
	padding:32px 18px 33px 18px;	
	border-top: 1px #e1e1e1 solid;
	}
	
.mm_sign *{
	position:relative;
	display:inline-block;

	font-size:14px;
	line-height:24px;
	font-family:Helvetica, Arial, sans-serif;	
	font-family:roboto_Regular;
	color:#999;
	letter-spacing:0.021em;
	}
	
	
.mm_sign span{
	padding:0;
	padding-right:12px;

	}			
.mm_sign img{
	width:auto;
	height:12px;
	}
	

	
		
		
		
.mm_logo_A{
	display:block;
	width:150px;
	height:150px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/mm_logo.svg);
	background-size:300px;
	background-position:-150px -150px;
	}		
.mm_logo_B{
	display:inline-block;
	position:absolute;
	top:50%;
	right:18px;
	margin-top:-18px;
	display:block;
	width:36px;
	height:36px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/mm_logo.svg);
	background-size:120px;
	background-position:-12px -12px;
	}			
.mm_logo_D{
	display:inline-block;
	width:108px;
	height:24px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/mm_logo_mountain.svg);
	background-position:center ;
	background-size:108px 12px;
	}	
		
	
.mm_logo_C{
	position: relative;
	}
.mm_logo_C a{
	position:absolute;
	top:-9px;
	right: 25%;
	z-index:100;
	display:block;
	margin-right: -81px;
	width:174px;
	height:24px;
	
	background-color:#fff;	
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/mm_logo_mountain.svg);
	background-position:center 2px;
	background-size:126px 14px;
	
	border-bottom:1px #e1e1e1 solid;	
	}	
.mm_logo_C img{
	width:auto;
	height:14px;
	}				

	
	
.banner_box{
	position:relative;
	height:100vh;
	height:450px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/photo-bg002-3.jpg);
	background-position:center center;
	background-size:cover;
	}
.dd_20170811{
	display: inline-block;
	position:absolute;
	top:0;
	left:0;
	padding:18px;
	font-size:14px;
	line-height:18px;
	color: #FFF !important;	
	}
	
/* prtfolio_box */
	
.prtfolio_box{
	text-align:center; 
	border: 1px #e1e1e1 solid;
	/*border-bottom:4px #000 solid;	*/
	
	border-top:none;
	margin-bottom:90px;
	padding:0 27px;
	}	
.prtfolio_box > *{
	padding-bottom:54px; 
	}	
.handlin{
	font-size:14px;
	line-height:18px;
	font-family:roboto_light;	
	padding:0;
	}
.prtfolio_box h3{
	font-size:27px;
	line-height:27px;
	font-family:roboto_thin;
	
	padding:90px 0 30px 0;
	border-top: 1px #e1e1e1 solid;	
	}		
.prtfolio_box h3 div{
	font-size:14px;
	line-height:18px;
	font-family:roboto_light;
	padding-top:9px;
	}		
.prtfolio_box p{
	font-size:14px;
	line-height:18px;
	font-family:roboto_light;
	text-align:left;
	padding:18px;
	}
.prtfolio_box .w_33{
	display:inline-block;
	}
.prtfolio_box img{
	width:100%;
	/*border: 1px #000 solid;*/
	}
.prtfolio_box .w_33 img{
	display:inline-block;
	max-width:190px;
	}	


	

	
	

@media screen and (min-width:768px){
.mm_nav > li:hover > ul{
	display:block;
	}
}
@media screen and (max-width:767px){

	
	/*
.brand_design > div:nth-child(2){
	border:none;
	}	
	
	*/
	
.mm_nav > li{
	display:none;
	}
.mm_nav .mobile_btn{
	display:block !important;
	}
.mm_nav ul{
	overflow:hidden;
	position:static;
	border-top:none;
	padding:0 18px 18px 18px;
	}
.mm_nav li li{
	display:block;
	float: none;
	}	
.mm_nav li li.w_25{
	width:100%;
	}
}

@media screen and (max-width:1024px){
.brand_design{

	}	
	
.brand_design > div{
	width:33.333333%;

	}
	
	
	
}
@media screen and (max-width:1023px){
	
.btn_prev_next{
	left:66.666666%;
	}
	/*
.brand_design a{
	width:33.333333%;
	}*/
}
@media screen and (max-width:767px){
.brand_design{

	}	
	
.brand_design > div{
	width:50%;
	}	
/*	
.brand_design a{
	width:50%;
	}*/
.banner_box{
	height:100vh;
	}	
}
@media screen and (max-width:410px){
.brand_design a{
	width:100%;
	}
}


.back_to_top{
	display:block;
	position: fixed;
	bottom:-100%;
	font-size:12px;
	line-height:50px;
	font-family:Arial, sans-serif;
	color:#FFF;
	background-color:#000;
	}
	
	

.page_name{
	display: block;
	font-size: 36px;
	line-height: 36px;
	font-family: roboto_thin;
	color: #0f1329;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0;
	word-spacing: 0.12em;
	padding:90px 0 30px 0;  	
	}
.page_name h2{ 
	font-size:24px;
   font-family:roboto_light;	
	}	
	
.page_name h3{  
	font-size:18px;	
	}		
.page_name p{
	font-size:14px;
	line-height:18px;
 font-family:roboto_light;		
	color: #0f1329;	
	padding:9px 0 9px 0;  	
	}
.page_name p span{
	display:inline-block;
	color:#CCC;
	color:#a6a6a6;
	width:18px;
	padding:0;		
	}	
.tag_content{
	position:relative;
	display:block;
	clear: both;
	overflow:hidden;
	font-size:16px;
	line-height:20px;
	font-family:Arial, sans-serif;
	font-family:roboto_light;	
	color: #0f1329;
	text-transform:none;
	margin-bottom:9px;
	}
.tag_content:before,	
.tag_content:after{
	display:inline-block;
	content:"";
	text-align:center;
	width:10px;
	height:10px;
	border-bottom:1px #a6a6a6 solid;
	vertical-align:top;
	margin:0 10px;
	}		
	
	
/* dark_night */
.dark_night,
.dark_night p,
.dark_night > a,
.dark_night p a,
.dark_night > *,
.dark_night .b_learn_more,
.dark_night .heading,
.dark_night .hand_writing,
.dark_night .big_num_2{
	color:#FFF;
	}
.dark_night a:hover{
	color:#fadeda;
	}
.dark_night textarea,
.dark_night input{
	padding-top:11px;
	padding-bottom:11px;
	border:none;
	}
	
.dark_night .ifchic_slogan {
  
    color:#CCCCCC;

}
	
	
	/* 20180319 for vino 


lord
deputy
secondary*/
.lord{

    display: inline-block;
    clear: both;
    font-size: 21px;
    line-height: 24px;
	font-family:roboto_light;	
    color: #595a5e;
    color: #0f1329;
    text-align: center;
    text-transform: uppercase;
	
	width:100%;
    padding:90px 0 9px 0;	
	
	}
.lord div{
	font-size:54px;
	line-height:54px;
	font-family:roboto_thin;
	color: #CCC;
	}	
.deputy{
	/*
	vertical-align:middle;
	vertical-align:top;
	vertical-align:bottom;
	*/
	
    display: inline-block;
    clear: both;
    font-size: 21px;
    line-height: 24px;
    font-family: roboto_light;
    color: #595a5e;
    color: #0f1329;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding:90px 0 45px 0;	
	
	}
.deputy p{
	font-size:27px;
	line-height:27px;
	font-family:"notera";
	color:#666;
	text-transform: none;
	padding:0;
	}
.secondary{
	font-size:14px;
	line-height:18px;
	font-family:roboto_Regular;
	color:#999;
	padding:18px 0 9px 0;	
	}
	
	
	
	
	
	
/* Sammarinese */	
.vino_logo img{
	width:81px;
	height:81px;
	}
.vino_logo p{
	font-size:16px;
	line-height:18px;
    font-family: roboto_light;
	color:#000;
	text-transform:uppercase;
	letter-spacing:0.15em;
	}	
	
	
	
	
	
	
.popup_shodow_02{
	
	-webkit-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 3px 6px rgba(43,42,40,0.2),
	0px 9px 12px rgba(43,42,40,0.1);
	
	
	}
	
.color_vino{
	background: -webkit-linear-gradient(top, #f1efd8 50%, #f8f7e9 90%) !important;	
	background: -moz-linear-gradient(top, #f1efd8 50%, #f8f7e9 90%) !important;	
	background: linear-gradient(top, #f1efd8 50%, #f8f7e9 90%) !important;	
}	
	
	
	
	
	


.jb_scroll_down,
.jb_change_size{
	position:relative;
	left:50%;
	display: inline-block;
	
	margin:0 auto 45px auto;

	width:50px;
	height:50px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img_mm/mm_icon_2018.svg);
	background-position-x:0;	
	background-position-y:-50px;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-o-transform:translateX(-50%);
	
	}
.h_100vh .jb_scroll_down{
position:absolute;
	bottom:0;
	}
.jb_scroll_down:hover,			
.jb_change_size:hover{

	background-position-y:-100px;
	}		
	
.change{
	background-position-x:-50px;	
	}		


.jb_scroll_down{
	
	background-position-x:-100px;	
	}	

.drink_night .jb_scroll_down,
.drink_night .jb_change_size,
.drink_night .change{
	background-position-y:-150px;	
	}
.drink_night .jb_scroll_down:hover,
.drink_night .jb_change_size:hover,
.drink_night .change:hover{
	background-position-y:0;	
	}
		
	
	
	
	
	