/* 20180320 
- lord
- lord div
- deputy
- deputy p
- secondary
*/
.lord{

    display: inline-block;
    clear: both;
    font-size: 21px;
    line-height: 24px;
	font-family:roboto_light;	
    color: #595a5e;
    color: #0f1329;
    text-align: center;
    text-transform: uppercase;
	
	width:100%;
    padding:90px 0 9px 0;	
	
	}
.lord div{
	font-size:54px;
	line-height:54px;
	font-family:roboto_thin;
	color: #CCC;
	}	
.deputy{
	
	
    display: inline-block;
    clear: both;
    font-size: 21px;
    line-height: 24px;
    font-family: roboto_light;
    color: #595a5e;
    color: #0f1329;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding:90px 0 9px 0;	
	
	}
.deputy p{
	font-size:27px;
	line-height:27px;
	font-family:"notera";
	color:#666;
	text-transform: none;
	padding:0;
	}
.secondary{
	font-size:14px;
	line-height:18px;
	font-family:roboto_Regular;
	color:#999;
	padding:18px 0 9px 0;	
	}
	
	
	
	