
.iphon5_size_out{
	display:block;
	max-width:360px;
	width:100%;
	height:auto;
		
	margin:0 auto 180px auto;	
	padding:90px 15px;
	
	border:5px #eceae4 solid;	
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
	
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#fafafa 100%);
	background: -moz-linear-gradient(top, #f4f4f4 0%, #fafafa 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#fafafa 100%);
}
.iphon5_size_in{
	overflow:hidden;
	
	display:block;
	position:relative;
	width:100%;
	
	height: 570px;

	
	background-color:#f2f1ed;
	background-color:#FFF;
	

	border:2px #eceae4 solid;		
	}




.clock_01{
	position:relative;
	text-align:center;
	background-color:#6681b2;	
	background: -webkit-linear-gradient(top, #6681b2 0%,#647aa8 100%);
	background: -moz-linear-gradient(top, #6681b2 0%, #647aa8 100%);
	background: linear-gradient(to bottom, #6681b2 0%,#647aa8 100%);	
	}
.clock_01 .sec{
	position:absolute;
	top:50%;
	left:100%;
	z-index:100;
	margin:-270px 0 0 -60px;
	width:120px;  
	height:540px;
    -webkit-animation:rotate_item 60s linear infinite;
    -moz-animation:rotate_item 60s linear infinite;
    animation:rotate_item 60s linear infinite;	
	}	
.img_sun,	
.img_moon{
	display:block;
	width:120px;
	height:120px;
	background-image:url(http://mountain-mm.myweb.hinet.net/img/mm_icon_v2018.svg);		
    -webkit-animation:rotate_item 60s linear infinite;
    -moz-animation:rotate_item 60s linear infinite;
    animation:rotate_item 60s linear infinite;
	
	background-position-Y:-15px;

}
.img_sun{
	margin-bottom:300px;
	background-position-X:-15px;
	}	
.img_moon{
	background-position-X:-165px;
	}
	
	
@-moz-keyframes rotate_item { 
100% { 

	-ms-transform: rotate(360deg);	
	-moz-transform: rotate(360deg);	
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
}




.time_num_box{
	display:inline-block;
	
	position:absolute;
	top:50%;
	left:50%;
	z-index:1;
	
	font-size:20px;
	line-height:24px;
	
	color:#fce1bc;
	letter-spacing:1px;
	word-spacing:0.05em;

	-ms-transform:translate(-50%,-50%);
-moz-transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
-o-transform:translate(-50%,-50%);
		
	transform:translate(-50%,-50%);
	}
	
	
.time_num_box span{

	display: inline-block;
	width:24px;
	text-align:center;

	}






/* style trend */
.month-day-year{
	display:none !important;
	}
	/*
.copywriter .month-day-year{
	padding-bottom:10px;
	
	font-style:italic;
	font-size:12px;

	font-family:"Times New Roman", Times, serif;
	color:#595a5e;
	letter-spacing:0.075em;
	}*/		
	
	

.corporate_image,
.page_style_trend{
	display:block;
	padding-bottom:90px;
	text-align:center;
}

.corporate_image > div,
.page_style_trend > div{
	cursor:pointer;	
	display: inline-block;
	-webkit-border-radius:0 0 3px 3px;	
	-moz-border-radius:0 0 3px 3px;		
	-o-border-radius:0 0 3px 3px;		
	border-radius:0 0 3px 3px;
	-webkit-box-shadow:
	0 2px 2px rgba(23,22,20,0.15),
	0 3px 6px rgba(33,32,30,0.1),
	0 6px 12px rgba(43,42,40,0.05);
	-moz-box-shadow:
	0 2px 2px rgba(23,22,20,0.15),
	0 3px 6px rgba(33,32,30,0.1),
	0 6px 12px rgba(43,42,40,0.05);
	-o-box-shadow:
	0 2px 2px rgba(23,22,20,0.15),
	0 3px 6px rgba(33,32,30,0.1),
	0 6px 12px rgba(43,42,40,0.05);	
	box-shadow:
	0 2px 2px rgba(23,22,20,0.15),
	0 3px 6px rgba(33,32,30,0.1),
	0 6px 12px rgba(43,42,40,0.05);
	border-bottom: 1px solid #bab9b8;	
	background-color:#FFF;
	width:22%;
	margin:15px 1.5%;
	margin-bottom:120px;
/* width:97%; */	
	}
.corporate_image > div{
	position:relative;
	
	overflow:hidden;	
	
	cursor:default;
	-webkit-border-radius:6px;	
	-moz-border-radius:6px;		
	-o-border-radius:6px;		
	border-radius:6px;	
	}
.corporate_image .copywriter{

	background-color:#FFF;
	}
.corporate_image .copywriter h2 span{
	color:#CCC;
	}	
.parking_img_box{
	height:450px;
	}	
.parking_img_box img{
	position:relative;
	left:50%;
	width:auto;
	height:100%;
		
	-ms-transform:translateX(-50%);
-moz-transform:translateX(-50%);
-webkit-transform:translateX(-50%);
-o-transform:translateX(-50%);
	transform:translateX(-50%);
	}		

.copywriter{
	padding:12px;
	}

.copywriter h3{
	font-size:28px;
	line-height:26px;	
	font-family:"modern_display", "Times New Roman", Times, serif;
	font:28px/26px "modern_display", "Times New Roman", Times, serif;	
	text-rendering:optimizeLegibility;
	text-transform:uppercase;
	
	padding-top:9px;
	padding-bottom:9px;
	
	letter-spacing:0;
	word-spacing:0.2em;	
	}
.copywriter .shopNow{
	font-size:12px;
	line-height:20px;
	font-family:"helveticaNeueMd", "helveticaNeue", Helvetica, Arial, sans-serif;	
	font:12px/20px "helveticaNeueMd", "helveticaNeue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	padding:0;
	letter-spacing:0.06em;
	word-spacing:0.15em;
	
	padding:16px 0;
	}
.page_style_trend > div:hover .shopNow{
	color:#a97962 !important;
}

@media screen and (max-width:1300px){
.corporate_image,
.page_style_trend{
	width:1000px;
	}
} 
@media screen and (max-width:1024px){
.corporate_image,
.page_style_trend{
	max-width:92%;
	margin:0 4% ;
	}
.corporate_image > div,	 
.page_style_trend > div{
	width:30.333333%;
	margin:15px 1.5% 81px 1.5% ;
	}	
}
@media screen and (max-width:768px){
.corporate_image > div,	
.page_style_trend > div{
    margin-bottom:72px;
	}
}  
@media screen and (max-width:767px){
.corporate_image > div{
	width:95%;
	margin:15px 2.5% 81px 2.5% ;	
	

}

.page_style_trend > div{
   margin-bottom:45px;
	width:47%;
	}
.page_style_trend .copywriter h3{
    font-size:18px;
	line-height:20px;
	}
}
    
	