/* v20170115 */
/* signin register list */
/* all */
.popup_bg{
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:999;	
	width:100%;
	height:100%;
	transition:all 1s ease;
	background-color:rgba(15,19,41,0.9);
	background-color:rgba(28,31,42,0.9);
}	

.signin_register{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;			
	}
.signin_register .btn_X{
	position:absolute;
	z-index:110;
	top:-25px;
	right:-25px;
	}
.signin_register h2{
	display:block;
	clear:both;
	}	
	

/* signin_register > hand_info */	
.hand_info{
	display:block;
	clear:both;

	font-size:36px;
	line-height:36px;
	font-family:roboto_thin;  	
	color:#0f1329;

	text-align:center !important;
	word-spacing:0;	

	padding:9px;
	}
.hand_info *{
  	font-family:roboto_thin;  
	}
.hand_info div{
	font-size:36px;
	line-height:36px;
	color:#0f1329;
	text-align:center;
	word-spacing:0;
	padding:9px 0;
	}
.hand_info p{
	font-family: roboto_light;
	}
.hand_info a{
	display:inline-block;
	word-spacing:0;	
	}
.hand_info span{
	color:#c1bfbf;
	}

/* form */
.signin_register .ddm,
.signin_register textarea,
.signin_register input,
.signin_register button,
.signin_register * > a[class*="btn_"]:not(.btn_check_box){
	margin-top:5px;
	margin-bottom:1px;		
	}
	

/* box */
.signin_box,
.register_box,	
.forgot_box,
.check_info,
.apply_now_box{
	display:none;
	clear:both;	
	position:relative;
	}
.signin_box{
	display: block;
	}
	
/* hone page */
.signin_register_box .forgot_box,
.signin_register_box .check_info{
	display: block;		
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(450%, -50%);
	
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;			
}	
/* jq - hone page */
* .t_middle{
	transform:translate(-50%, -50%) !important;	
	}
* .t_left{
	transform:translate(-450%, -50%) !important;	
	}
	
	
	
.b_go_forgot{
	font-size:12px;
	line-height:18px;
	text-align:right;
	padding:11px 9px;	
	}
.b_apply_now{
	position:absolute;
	top:50%;
	left:50%;
	z-index:110;
	display:block;
	font-family:roboto_light;
	text-transform:uppercase;
	text-align:center !important;
	transition:all 0.4s ease-in-out;
	}
.b_go_info button,
.b_go_signin button{
	width:100%;
	}

/* dark_night */	
.dark_night .hand_info,
.dark_night .hand_info *{
	color:#FFF;
	}	
.dark_night .btn_check_box,
.dark_night .b_go_forgot{
	color:#c1bfbf;
	}
.dark_night .btn_check_box:hover,
.dark_night .b_go_forgot:hover{
	color:#dec8b7;
	}
@media screen and (max-width:1023px) {
	.signin_register.v04_1 .btn_X{
	top:0;
	right:0;
		
	}
	
	
}

@media screen and (max-width:767px) {
.signin_register{
	position: relative;
	top:0;
	left:0;
	transform:none;
	padding:90px 0;	
	}
.signin_register .wm_50.btn_check_box,
.signin_register .wm_50.b_go_forgot,	
.signin_box .btn_check_box,
.signin_box .b_go_forgot{
	float:left !important;
	width:41%;
	}
.signin_register .btn_X{
	top:0;
	right:0;
	}
}
@media screen and (max-width:413px) {
.hand_info div a{
	font-size:30px;
	}	
}

/* mockup 1 ~ 7 */

/* mockup 1 */
@media screen and (max-width:767px) {
.signin_register.v01 .register_box{
	display:block;	
	}
.signin_register.v01 .hand_info{
	display:none;
	}
}


/* mockup 2 */
.signin_register.v02 .hand_info span{
	color: #FFF;
	}


/* mockup 3 */
@media screen and (max-width:767px) {
.signin_register.v03 .wm_100,
.signin_register.v03 .wm_66,
.signin_register.v03 .wm_50,
.signin_register.v03 .wm_33{
	float:left !important;
	margin-left: 1.5%;
	margin-right: 1.5%;
	}
.signin_register.v03 .wm_100{
	width:97%;
	}	
.signin_register.v03 .wm_66{
	width:63.666666%;
	}
.signin_register.v03 .wm_50{
	width:47%;
	}
.signin_register.v03 .wm_33{
	width:30.333333%;
	}		
}

/* mockup 4.1 4.2 4.3*/
.v04_1 .w_50{
	display:table-cell;
	vertical-align:middle;
	float:none;
	padding:27px;
	}
.v04_1 > img{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	width: auto;
	height: 550px;
	transform: translate(-72%,-50%);
	}
@media screen and (max-width:767px) {
.v04_1{	
	padding-top:180px;
	background-position:10% !important;
	}		
.v04_1 .w_50{	
	display: block;
	padding:9px;
	width:100%;
	margin:0;
	}
.v04_1 img{
	left:-75%;
	}	
}
/* mockup 5 */

/* mockup 6 */

.add_b{
	cursor:pointer;
	font-size:18px;
	line-height:18px;
	color:#FFF;
	margin:-45px 0 0 -45px;
	padding:27px 0 0 0;
	width:90px;
	height:90px;
	border:0 #e6e6e6 solid;
	
	border-radius:100%;
	background-color:#f5f5f5;
	background-color:#a97962;
	/*transform:rotate(-18deg) translateX(240px) rotate(45deg);	*/
	transform:rotate(-18deg) translate(-195px , -135px) rotate(-18deg);
	-webkit-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);
	-moz-box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);
	box-shadow:
	0px 1px 3px rgba(43,42,40,0.3),
	0px 6px 9px rgba(43,42,40,0.2),
	0px 18px 21px rgba(43,42,40,0.1);	
	}
.add_b:hover{

	background-color:#f2d3c4;
	
	/*
	color:#fff;
	color:#703926;	
	transform:rotate(-15deg) translateX(255px) rotate(54deg);	*/	
	transform:rotate(-18deg) translate(-195px , -145px) rotate(-21deg);		
	
	-webkit-box-shadow:
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);
	-moz-box-shadow:
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);
	box-shadow:
	
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);

	}		
.add_a{
	z-index:0;
	font-size:36px;
	line-height:36px;
	font-family:roboto_thin;
	color:#0f1329;
	text-transform:none;	

	text-align: center !important;
	word-spacing:0;
	margin:-190px 0 0 -165px;	
	padding:54px 0;

	width: 330px;
	height: 330px;
	
	/*	font-size:27px;
	line-height:27px;
	margin:-240px 0 0 -240px;	
	margin:-200px 0 0 -180px;	
		margin:-240px 0 0 -120px;
	width:240px;
	height:480px;		
		
	width:480px;
	height:480px;
  		border:24px #f5f5f5 solid;
	border:24px #0f1329 solid;
	background: rgba(255,255,255,0.72);
	border-radius:100%;
	background-color:rgba(255,255,255,0.81);
	
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.36) 0%, rgba(255,255,255,0.81) 90%, rgba(255,255,255,1) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.36) 0%, rgba(255,255,255,0.81) 90%, rgba(255,255,255,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,0.36) 0%, rgba(255,255,255,0.81) 90%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff',GradientType=1 ); 	
	
	*/
	transform:rotate(-360deg) translateX(0) rotate(0deg);		
	}

@media screen and (max-width:767px) {
.apply_now_box .btn_B_v01{
	float:left !important;
	width:44%;
	}
.apply_now_box .b_back{
	margin-left:4.5%;
	margin-right:1.5%;	
	}
.apply_now_box .b_submit{
	margin-left:1.5%;
	margin-right:4.5%;
	}
	
.add_b{
	transform:rotate(-63deg) translateX(270px) rotate(81deg);	
	}	
.add_b:hover{
	transform:rotate(-63deg) translateX(285px) rotate(90deg);	
	}	
}
/* mockup 7 */
.signin_register.v07{
	-webkit-transition: -webkit-filter .2s ease;
	-moz-transition: filter .2s ease;
	-o-transition: filter .2s ease;
	transition: -webkit-filter .2s ease;		
	}
.bg.v07 .forgot_box,
.bg.v07 .check_info{
	display: block;
	}
.bg.v07 .forgot_box,
.bg.v07 .check_info,
.bg.v07 .popup_box{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-transition:all .27s ease;
	-moz-transition:all .27s ease;
	-o-transition:all .27s ease;
	transition:all .27s ease;			
	}
.bg.v07 .forgot_box,
.bg.v07 .check_info{
	left: -210%;
	}	
.forgot_box .btn_X,
.check_info .btn_X{
	top:-25px;
	right:-25px;
	}	

@media screen and (max-width:767px) {
.signin_register.v07 > .wm_50{
	width:100%;
	margin:0;
	}
}

/* signin register btn style 1 ~ 4 */

/* style 1 */

/* 1 */
.btn_signin_v01,
.btn_register_v01{
	position:absolute;
	left:-140px;
	z-index:100;
	font-size:12px;
	line-height:18px;
	color:#0f1329;
	text-align: center;

	text-transform:uppercase;
	padding:11px 0;
	width:120px;	
	background-color:#FFF;
}
.btn_signin_v01{
	top:79px;	
	top:96px;
	top:25px;
	top:23px;	
	}
.btn_register_v01{	
	top:141px;	
	top:158px;
	top:77px;
	top:69px;	
}
.btn_signin_v01:before,
.btn_register_v01:before{
	position: absolute;
	top:0;
	right:0;
	z-index:-2;

	content:"";
	border-style: solid;
	border-width:20px 0 20px 20px;
	border-color:transparent #fff;
	
	transition:all 0.1s ease-in-out;
}
/* jq */
.select_this_v01{
	border:none;
	background-color:#f6f0ea;
}
.select_this_v01:before{
	right:-20px; 
	border-color:transparent #f6f0ea;
}
@media screen and (min-width:768px) {
.btn_signin_v01:hover,
.btn_register_v01:hover{
	cursor:pointer;
	border:none;
	background-color:#f6f0ea;
	background-color:#FFF;
}
.btn_signin_v01:hover:before,
.btn_register_v01:hover:before{
	right:-20px;
	border-color:transparent #f6f0ea;
	border-color:transparent #fff;	
}
}
@media screen and (max-width:767px) {
.btn_signin_v01,
.btn_register_v01{
	display:block;
	clear:both;
	position:static;
	font-size: 27px;
    line-height: 36px;
    font-family: roboto_light;
	
	color:#FFF;
    text-align: center !important;
    padding: 9px 0;
	
	width:100%;
	
	background:none;
	box-shadow:none !important;

}
.btn_signin_v01:before,
.btn_register_v01:before{
	display:none;
}	
}		

/* style 2 */
.btn_signin_v02,
.btn_register_v02{
	position:absolute;
	left:-120px;
	font-size:14px;
	line-height:18px;
	text-align: center;
	padding:16px 0 16px 0;
	width:120px;	
	background-color:#FFF;
	transition:all 0.3s ease-in-out;
}
.btn_signin_v02{
	top:96px;
	}
.btn_register_v02{	
	top:158px;
}
.btn_signin_v02:hover,
.btn_register_v02:hover,
.select_this_v02{
	border:none;
	background-color:#f6f0ea;
	box-shadow: 
	18px 3px 18px rgba(240, 230, 222,0.27) inset, 
	9px 2px 9px rgba(240, 230, 222,0.36) inset,
	3px 1px 3px rgba(240, 230, 222,0.63) inset !important;	

}
.btn_signin_v02:before,
.btn_register_v02:before{
	position: absolute;
	top:50%;
	right:0;
	z-index:-1;
	margin-top:-9px;
    content:"";
	width:18px;
	height:18px;
	border-radius:50%;
	background-color:#f6f0ea;
	transition:all 0.3s ease-in-out;	
}
.btn_signin_v02:hover:before,
.btn_register_v02:hover:before,
.select_this_v02:before{
	right:-9px; 
}

/* style 3 */
.btn_signin_v03,
.btn_register_v03{
	position:absolute;
	left:50%;
	z-index:10;
	
	font-size:24px;
	line-height:120px;	
	font-family: roboto_light;
	
	text-transform:uppercase;

	margin:-60px 0 0 -60px;
	width:120px;
	border-radius:50%;
	transition:all 0.3s ease-in-out ;
}
.btn_signin_v03{
	top:50%;
	margin:-60px 0 0 -60px;	
	transform:rotate(90deg) translateX(-135px) rotate(-90deg);	
	}
.btn_register_v03{
	bottom:50%;
	margin: 0 0 -60px -60px;	
	transform:rotate(-90deg) translateX(-135px) rotate(90deg);		
}

/* jq */
.add_btn_2:hover,
.add_btn{
	cursor:pointer;
	font-size:14px;
	line-height:72px;
	color:#fef4ef;
	width:72px;	
	margin-left:-36px;	
	background-color:#0f1329;	
		
	-webkit-box-shadow:
	0px 3px 6px rgba(43,42,40,0.36),	
	0px 9px 6px rgba(43,42,40,0.27),
	0px 18px 12px rgba(43,42,40,0.18),
	0px 27px 36px rgba(43,42,40,0.09);
	-moz-box-shadow:
	0px 3px 6px rgba(43,42,40,0.36),	
	0px 9px 6px rgba(43,42,40,0.27),
	0px 18px 12px rgba(43,42,40,0.18),
	0px 27px 36px rgba(43,42,40,0.09);
	box-shadow:
	0px 3px 6px rgba(43,42,40,0.36),	
	0px 9px 6px rgba(43,42,40,0.27),
	0px 18px 12px rgba(43,42,40,0.18),
	0px 27px 36px rgba(43,42,40,0.09);
	}
.add_btn_2,
.add_btn:hover{
	font-size:14px;
	line-height:72px;
	color:#fff;
	
	width:72px;	
	margin-left:-36px;	
	background-color:#a97962;
	
	-webkit-box-shadow:
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);
	-moz-box-shadow:
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);
	box-shadow:
	0px 18px 18px rgba(43,42,40,0.1),
	0px 18px 27px rgba(43,42,40,0.07),
	0px 18px 36px rgba(43,42,40,0.04);
	}
.boo_s{
	transform:rotate(-90deg) translateX(-135px) rotate(90deg);			
}
.boo_r{
	transform:rotate(-270deg) translateX(-135px) rotate(270deg);		
}
.boo_s_f{
	transform:rotate(15deg) translateX(-210px) rotate(-45deg);	
	transform:rotate(60deg) translateX(-180px) rotate(-72deg);
	transform:rotate(30deg) translateX(-210px) rotate(-54deg);
	transform:rotate(18deg) translateX(-180px) rotate(-54deg);
}
.boo_r_f{
	transform:rotate(-135deg) translateX(-210px) rotate(150deg);	
	transform:rotate(-120deg) translateX(-180px) rotate(135deg);	
	transform:rotate(-135deg) translateX(-210px) rotate(150deg);
	transform:rotate(-135deg) translateX(-150px) rotate(150deg);
}


/* style 4 */


