/* max width */

.h_100vh{
	height:100vh;
	}
.mw_1200{
	max-width:1200px;
	width:100%;
	margin:0 auto;
	}
.mw_900{
	max-width:900px;
	width:100%;
	margin:0 auto;	
	}		
.mw_600{
	max-width:600px;
	width:100%;
	margin:0 auto;	
	}	
.mw_540{
	max-width:540px;
	width:100%;
	margin:0 auto;	
	}		
.mw_450{
	max-width:450px;
	width:100%;
	margin:0 auto;
	}	
	
.mw_360{
	clear:both;
	max-width:360px;
	width:100%;
	margin:0 auto;	
	}	
.mw_270{
	clear:both;
	max-width:270px;
	width:100%;
	margin:0 auto;	
	}		
		
.mw_33{
	width:30.333333%;
	margin:0 1.5%;
	}




/* no margin */
.w_360{
	max-width:360px;
	width:100%;
	}

.w_240{
	max-width:240px;
	width:100%;
	}

.w_100{
	display:block;	
	clear:both;
	width:100%;
	}




.w_90{
	width:90%;
	}	
.w_80{
	width:80%;
	}
.w_75{
	width:75%;
	}	
.w_70{
	width:70%;
	}
.w_66{
	width:66.666666%;
	}	
	
.w_60{
	width:60%;
	}
.w_50{
	width:50%;
	}
.w_40{
	width:40%;
	}	
.w_33{
	width:33.333333%;
	}	
.w_30{
	width:30%;
	}	
.w_25{
	width:25%;
	}
.w_21{
	width:21%;
	}					
.w_20{
	width:20%;
	}	
.w_10{
	width:10%;
	}	

.w_16{
	width:16.666666%;
	}	
		
.w_8{
	width:8.333333%;
	}		



*[class^="wm_"]{
	display:inline-block;
	margin-left:1.5%;	
	margin-right:1.5%;	
	
	}
.wm_100{
	width:97%;
	}	
.wm_90{
	width:87%;
	}	
.wm_80{
	width:77%;
	}
.wm_75{
	width:72%;
	}	
.wm_70{
	width:67%;
	}
	
.wm_66{
	width:63.666666%;
	}	
.wm_60{
	width:57%;
	}
.wm_50{
	width:47%;
	}
.wm_40{
	width:37%;
	}	
.wm_33{
	width:30.333333%;
	}	
.wm_30{
	width:27%;
	}	
.wm_25{
	width:22%;
	}				
.wm_20{
	width:17%;
	}	
.wm_10{
	width:7%;
	}	
	
/* 6 */	
.wm_16{
	width:13.666666%;
	}
/* 12 */			
.wm_8{
	width:5.333333%;
	}		
*[class^="w_"]:not([class^="w_100"]),	
*[class^="wm_"]:not([class^="wm_100"]){
	float:left;
	}
	
@media screen and (max-width:767px) {
*[class^="wm_"],
*[class^="w_"]{
	display:inline-block;
	float:none !important;
	margin-left:4.5%;
	margin-right:4.5%;	
	width:91%;
	}	
}