/* 20180313 */

.drink_night{
	overflow:hidden;
	color:#FFF;
	background-color:#3f0514;
	}
.drink_night *:not(textarea):not(input){
	color:#FFF;
	}
.drink_night .sm_note_box:hover{
	color:#e4e0b9;
	}
		

.drink_night .vino_logo p{
	color:#f8f7e9;	
	}
.drink_night .vino_btn_X{
	background-position-y:0;
	}
.drink_night .vino_btn_X:hover{
	background-position-y:-150px;	
	}
.drink_night form,
.drink_night .input_box{
	border:1px #5d0b24 solid;
	border-bottom-color:#981643;
	}
	
	
.drink_night a{
	color:#5d0b24;
	}	
.drink_night a:hover{
	color:#e4e0b9 !important;
	}	
	
.drink_night .sm_item_menu p{
	color: #fcd88c;
	}

/*
.vino_sr{

	}
*/	

.vino_btn_X{

	display:block;	
	position:absolute;
	top:0;
	right:0;
	
	z-index:1;

	width:50px !important;
	height:50px !important;
	
	padding:0 !important;
		
	background-image:url(../img_vino/sm_icon_v01.svg);	
	background-position-y:-50px;		
	background-position-x:0;	
	}
.vino_btn_X:hover{
	background-position-y:-100px;	
	}
	
	
.btn_white,	
.btn_wine_red,
.btn_fb{
	display:block;
	font-size:12px;
	line-height:18px;
	font-family:roboto_regular;
	color:#FFF !important;
	text-align:center;
	text-transform:uppercase;
	padding:11px 0;
	
	width:100%;

	border-radius:6px;
	}

.btn_white{
	color:#2c0006 !important;
	padding:10px 0;
	background-color:#f8f7e9;
	border:1px #e4e0b9 solid;
	}	
.btn_white:hover{
	background-color:#f1efd8;	

	}	
	
	
		
	
.btn_fb{
	background-color:#3a5998;
	}	
.btn_fb:hover{
	background-color:#4971c2;
	}
	
	
.btn_wine_red{
	background-color:#5d0b24;
	}	
.btn_wine_red:hover{
	background-color:#981643;
	}	
	
	
.sm_radio_box,
.sm_check_box{
	display: block;
	position:relative;
	font-size:12px;
	line-height:18px;
	font-family: roboto_regular;
	text-align:left;
	padding:12px 10px 12px 30px;
	}
	
.sm_radio_box .btn_img,
.sm_check_box .btn_img{
	position:absolute;
	top:0;
	left:0;
	
	width:30px;
	height:40px;
	
	background-image:url(../img_vino/sm_icon_v01.svg);	
	background-position-y:-5px;		
	background-position-x:-110px;	
	}
.sm_check_box .btn_img{
	background-position-x:-160px;	
	}	
	
.sm_radio_box:hover .btn_img,
.sm_check_box:hover .btn_img{
	background-position-y:-55px;	
	}



.radio_list{
	padding-top:6px;
	padding-bottom:6px;
	}	
.radio_list .sm_radio_box{
	display:inline-block;
	}	




/* jq */
.click_icon,
* .click_icon{
	background-position-y:-105px !important;	
	}
.click_icon:hover,
.sm_radio_box:hover .click_icon,
.sm_check_box:hover .click_icon{
	background-position-y:-155px !important;		
	}
	
	
.my_wish_icon{
	display:block;
	
	position:absolute;
	top:0;
	right:0;
	
	width:40px;
	height:40px;
	
	padding:0 !important;
	
	background-image:url(../img_vino/sm_icon_v01.svg);	
	background-position-y:-5px;		
	background-position-x:-405px;	
	}
.my_wish_icon:hover{

	background-position-y:-55px;		
	}









/* drop down menu */

.sm_ddm{
	display:block ;	
	position:relative;
	text-align:left;
	width:100%;
	border:1px #f4ecbb solid;
	border-left-width:2px;
	border-right-width:2px;
	border-radius:6px;	
	background-color:#FFF;
	}
	
.sm_ddm_btn{
	display:block !important;
	}
.sm_ddm_btn .btn_info{
	display:block;
	font-size:14px;
	line-height:18px;
	color:#a0a0a0;
	color:#d5b84f;
	padding:11px 12px;
	}	
.btn_img{
	width:30px;
	height:30px;
	background-image:url(../img_vino/sm_icon_v01.svg);	
	}

.sm_ddm_btn .btn_img{
	display:inline-block;	
	position:absolute;
	z-index:1;	
	top:50%;
	right:0;
	width:31px;
	border-left:1px #e6e6e6 solid;
	transform:translateY(-50%);
	}
.sm_ddm_btn:hover .btn_info{
	color:#eb8c02;
	color:#a97962 !important;
	}		
.sm_ddm_btn:hover .btn_img{
	background-position-y:-110px;
	}		
	
	
.btn_up,
.btn_down{
	background-position-y:-60px;
	}
.btn_up{
	background-position-x:-210px;
	}	
.btn_down{
	background-position-x:-310px;
	}	
.btn_left{
	background-position-x:-360px;
	}	
.btn_right{
	background-position-x:-260px;
	}		
	
	


.sm_ddm_menu{
	display: none;
	overflow:auto;	
	position:absolute;
	bottom:0;
	left:-2px;
	right:-2px;
	z-index:100;
	max-height:202px;
	padding:0;
	transform:translateY(100%);
	background-color:#FFF;
	/*
	border:1px #999999 solid;
	border:1px #0f1329 solid;	
	border:1px #9d9d9d solid;	
	*/
	border:1px #e9d98e solid;
	border-top:1px #e6e6e6 solid;
	border-bottom-width:2px;
	border-radius:6px;		
	}
.sm_ddm_menu *{
	display:block;
	font-size:14px;
	line-height:18px;
	color:#a0a0a0;
	color:#a39849 !important;
	padding:11px 12px;	
	}
	
.sm_ddm_menu a:hover{

	color:#5d0b24 !important;

	}


p{
	font-size:12px;
	line-height:18px;
    font-family: roboto_regular;
	color: #666;
	padding:9px 0;	
	}
p strong{
	font-family:roboto_regular;
	font-weight:normal;
	color:#5d0b24;
	}	
	
p a{
	font-size:12px;
	line-height:18px;
   font-family:roboto_regular;
	}

a{
	color:#5d0b24;
	}			
a:hover{
	color:#981643;
	}	
	
.form_vino{
	display:block;
	text-align:center;
	}
.form_vino form{
	display:block;
	position:relative;
	text-align:center;
	padding:27px;
	
	width:300px;
	border:1px #CCCCCC solid; 
	}

/* form */

form{
	display:block;
	padding-bottom:36px;
	}

form:after{
	content:'';
	display:block;
	clear:both;
	width:100%;
	
	}

form p{
	font-size:14px;
	line-height:21px;
    font-family: roboto_light;
	color: #666;
	padding:9px 0;
	}
form p a{
	display:inline-block;
	font-size:inherit;
	line-height: inherit;
	}	
	
.sm_note_01{
	font-size:12px;
	font-family: roboto_regular;
	padding:0 12px 0 30px;
	}	
form > a{
	display:inline-block;
	font-size:14px;
	line-height:20px;
	font-family: roboto_regular;
	padding:9px 0;
	}			
	

.or_line span,
.box_name,
.main_title{
	display:block;
	font-size: 30px;
    line-height: 30px;
    font-family: modern_display;
	color:#2c0006;
	
	text-align:center;
    text-transform: uppercase;
    letter-spacing: 0;
	
	padding:14px 0 6px 0;

}


.main_title{
	display:block;
	clear: both;
	padding:90px 0 30px 0;
	}
.subtitle{
	display:block;
	clear: both;
	font-size:21px;
	font-family: roboto_light;
	padding:36px 0 12px 0;	
}
.subtitle p{
	padding:6px 0 0 0;
}

form .subtitle{
	padding-left:14px;
	padding-right:14px;
	margin-left: 1.5%;
    margin-right: 1.5%;
}


.box_name p{
	font-size:18px;
}


.or_line{
	position:relative;
	display:block;
	}
.or_line span{
	position:relative;
	z-index:1;
	
	display: inline-block;
	
	padding:14px 18px 6px 18px;
	background-color:#FFF;

	
	}	
.or_line:before{
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:0;
	
	width:100%;
	
	border-bottom:1px #e9d98e solid;
	/*
	color:#d5b84f;*/
	}
	
	
	
	
	
	
	

.user_picture{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	display:inline-block;
	text-align:center;
	}
.box_user_picture{
	overflow:hidden;
	display:inline-block;	
		width:150px;
	height:150px;

	border-radius:50%;
	border:1px #2c0006 solid;
	border:1px #2c0006 solid;
	border-bottom-width:3px;
	border-right-width:3px;	
	}
	
	
	
	
	
	
	
	
textarea {
	resize: none;
}	
::-webkit-input-placeholder{
	color:#f4ecbb;
color:#d5b84f;
	}/* Chrome/Opera/Safari */
::-moz-placeholder{ 
	color:#f4ecbb;
color:#d5b84f;
	}/* Firefox 19+ */
:-moz-placeholder{ 
	color:#f4ecbb;
color:#d5b84f;
	}/* Firefox 18- */
:-ms-input-placeholder{ 
	color:#f4ecbb;
color:#d5b84f;
	}/* IE 10+ */
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
	color:transparent;
	} /* Chrome/Opera/Safari */
textarea:focus::-moz-placeholder,	
input:focus::-moz-placeholder{
	color:transparent;
	} /* FF 19+ */	
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder{
	color:transparent;
	} /* FF 4-18 */
textarea:focus:-ms-input-placeholder,	
input:focus:-ms-input-placeholder{
	color:transparent;
	} /* IE 10+ */
	

textarea,
input,
.input_box{
	display:block;

	font-size:14px;
	line-height:18px;

	color: #170003;
	
	width:100%;
	
	padding:11px 12px;
	
	border:1px #f1efd8 solid;
	border:1px #f4ecbb solid;
		border-left-width:2px;
	border-right-width:2px;
	border-radius:6px;	
	
	}
	
.label_box,
label{
		display:block;
		clear:both;
		font-size:12px;
		line-height:18px;
		color:#e4e0b9;
		color:#b6ad64;
		
		color:#a39849;
		padding:0 14px;
		
		width:100%;
}

.input_box{
	padding:11px 13px;
	border:1px #fbfbf2 solid;
	border-left-width:2px;
	border-right-width:2px;
	border-radius:0;
	margin-top:6px;
	margin-bottom:6px;
	
	}	
	
		
textarea:focus	,
input:focus{
	
	border-color:#e9d98e;

	
	/*
	-webkit-box-shadow:;
	-moz-box-shadow:;
	-o-box-shadow:;
	box-shadow:
	0 0 3px rgba(136, 130, 124,0.3) inset,
	0 0 6px rgba(136, 130, 124,0.2) inset,
	0 0 18px rgba(136, 130, 124,0.1) inset;
	*/
	background-color:#f8f7e9;
	}

button,
textarea,
input,
.sm_ddm{
	margin-top:6px;
	margin-bottom:6px; 
}
	
/* Main title */


.vino_logo{
	text-align:center;
	width:100%;
	padding:11px 0;
	}
.vino_logo div{
	display:inline-block;
	font-size:150px;
	line-height:120px;
	font-family: modern_display;
	color:#170003;
	padding-top:40px;
	}
.vino_logo p{
	display:block;
	font-size:16px;
	line-height:18px;
    font-family: roboto_light;
	color:#170003;
	text-transform:uppercase;
	padding-top:0;
	padding-bottom:10px;
	}	
.sm_nav .vino_logo{

	border-bottom:1px #dfdfe1 solid;	
	}
	
	
footer > div{
	border-top:1px #dfdfe1 solid;
	}
.sm_copyright{
	display:inline-block;
	padding:25px 12px;
	
	}	
.vino_logo.v02{
	display:inline-block;
	float:right;
	width:auto;
	padding: 11px 12px;
	}

.vino_logo.v02 img{
	width:46px;
	}
	
.vino_logo.v02 p{
	display:inline-block;
	font-size:12px;
	font-family: roboto_regular;
	padding:14px 0;
}
	
	
.sm_note_box{
	display: inline-block;
	position:absolute;
	
	bottom:-100px;
	
	font-size:36px;
	line-height:36px;
	font-family:northwell_alt;
/*color:#f8f7e9;*/
	
	word-spacing:0;
	
	transform:rotate(-23.5deg);

	}
.sm_note_box:hover{
	/*color:#e4e0b9;*/
	}	
.sm_item_menu{
	position:fixed;
	top:50%;
	left:0;
	z-index:900;
	transform:translateY(-50%);
	
	max-width:210px;
	width:100%;
	
	padding:18px;
	
	}	
.sm_item_menu div,
.sm_item_menu p,
.sm_item_menu a{
	display:block;
	clear: both;
	font-size:12px;
	line-height:18px;
	font-family:Arial, sans-serif;
	
	text-transform:uppercase;
	/*color:#5d0b24;	*/
	padding:9px 0;

	}
	
	
.sm_item_menu p{
	font-size:14px;
	color: #999;	
	text-transform: none;
}
.sm_item_menu p span{
	display:block;
	clear:both;
	font-size:14px;
	color: #666;	
	text-transform: uppercase;
}

.sm_item_menu a:hover{
	/*color:#981643;	*/
	}
a.w_100{
	margin:0;
	padding:0;
	}
	
	
	
/* header */
header{
	
	}
	
.sm_nav{
	text-align:left;
	border-bottom:1px #dfdfe1 solid;	
	
	}
.b_three_line{
	display: inline-block;
	width:50px;
	height:50px;
	background-image:url(../img_vino/sm_icon_v01.svg);	
	background-position-y:-100px;		
	background-position-x:-50px;	
	
	}	
.b_three_line:hover{
	background-position-y:-50px;
	}		
	
.right_box{
	float:right;
	display:block;
	font-size:12px;
	line-height:24px;
	
	padding:0 12px;
	
	
	}
.right_box > a{
	display:inline-block;
	font-size:12px;
	line-height:24px;
	color:#3f0514;
	text-transform:uppercase;
	
	padding:13px 0 13px 12px;
	}
.right_box > *:hover{
	color:#981643;
	}		
.right_box > *:hover .num_boo{
	background-color:#981643;
	}		
.b_my_wish span.num_boo,
.b_shopping_bag span.num_boo{
	display:inline-block;
	font-size:12px;
	line-height:24px;
	color: #FFF;
	text-align:center;
	width:24px;
	background-color:#3f0514;
	border-radius:50%;
	margin-left:4px;
	}

.sm_nav.v2 .right_box {
	
	}
	
	
.sm_nav.v2 .b_my_wish,
.sm_nav.v2 .b_shopping_bag{
	font-size:14px;
	padding-left:36px;
	background-image:url(../img_vino/sm_icon_v01.svg);	
}

.sm_nav.v2 .b_my_wish{
	background-position-y:-150px;		
	background-position-x:-400px;	

	}
	
.sm_nav.v2 .b_shopping_bag{
	
	background-position-y:-150px;		
	background-position-x:-500px;	

	}	
.sm_nav.v2 .b_my_wish:hover,
.sm_nav.v2 .b_shopping_bag:hover{
		background-position-y:-100px;		
}
	
	
	
.sm_nav.v2 .num_boo{
	margin-left:0;

	}



/* products list */
.product_info {
	border:1px #000000 solid;
	}
.product_info *{
	display:block;
	clear:both;
	}
.finishers_all{
	overflow: hidden;
	}
.finishers_all > *{
	display:inline-block;
	width:33.333333%;
	padding:18px 9px;
	}
	
.vino_products_box > *{
	display:inline-block;
	text-align:center;
	width:25%;
	
	margin:27px 0;
	padding:0 12px;
	}
	
	
	
	
.hmp{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:900;
	margin:0 auto;
	font-size:12px;
	line-height:50px;
	color:#F00;
	padding:0 25px;
	background-color:#F00;
	}	
	
	
.vino_info{
	position:relative;
	}
	
.vino_info > *{
	display: block;
	font-size:14px;
	line-height:18px;
	font-family:roboto_light;
	color:#170003;
	color:#3f0514;
	letter-spacing:0.06em;
	padding:6px 0;
	}
.vino_p_img{
	display:inline-block;
	width:auto;
	height:240px;
transition:all .11s ease-in-out;
	padding:0;
	}
.vino_info > * span{
	display: block;
	font-size:12px;
	line-height:18px;
	font-family:roboto_regular;
	color: #999;
	text-transform:uppercase;
	padding:3px 0;
	}
.vino_kind{
	display: block;
	font-size:12px;
	line-height:18px;
	font-family:roboto_regular;
	color: #999;
	text-transform:uppercase;	
	}
.vino_name{
    font-size: 21px;
    line-height: 24px;
    font-family: modern_display;
    text-transform: uppercase;
    letter-spacing: 0;
	padding:6px 0 0 0;
	}	
	

.b_plus_minus{
	position:relative;
	display:inline-block;
	width:50px;
	height:50px;
	transition:all .21s ease-in-out;
	}
.b_plus_minus:before{
	position: absolute;
	top:50%;
	left:50%;
	
	transform:translate(-50%,-50%);
	
	content:"";
	display:inline-block;
	width:50px;
	height:50px;
	background-image:url(../img_vino/sm_icon_v01.svg);
	background-position-x:-450px;
	background-position-y:-100px;

	}
.b_plus_minus:hover:before{
	background-position-y:-50px;
	}
	
	/*jq*/
.rotate_135{
	transform:rotate(135deg);
	}
.img_w{
	height:146px !important;
	}
.shop_now_box{
	display:none;
	padding:0 12px 0 12px;
	background-color:#fff;
	}
.shop_now_box a{
	display: inline-block;
	font-size:12px;
	line-height:18px;
	width:100%;
	margin:2px 0;
	}	
.shop_now_box .vino_price{
	padding:14px 0 12px 0;
	}
	
	