/* .vino_logo * {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    font-family: roboto_regular;
    color: #170003;
    text-transform: uppercase;

    text-align: center;
}



 */

.vino_logo.v1 {
    text-align: center;
    margin: 0 auto;
    padding: 24px 0;
    width: 100%;
}
.vino_logo.v1 img {
    display: inline-block;
    width: auto;
    height: 54px;
}


.sm_bg > *{
    background-color: #faf5f0;
}
.sm_bg_color-01{
    background-color: #561424 !important;
    /* background-color: rgba(63, 5, 20, 0.90); */
}

.day_night{
  background: #3f0514;
}


/* 
.mobile_size_iPhone6.un > *{
  width: calc( 100% - 36px );
}
*/
/*
45
36
27
24
21
18
15
*/





h1,h2, h3, h4, h5, h6, p{ 
  letter-spacing:0.021em;
  word-spacing:0.021em;
}

h1{
  font-size:36px;
  line-height:72px;
  font-family:roboto_thin;
  letter-spacing:0;

  padding: 0;

  } 
h2{
  font-size:27px;
  line-height:30px;
  font-family:roboto_thin; 

  padding: 0;

  }   

h3{
  font-size:24px;
  line-height:27px;
  font-family:roboto_light; 
  text-transform: uppercase;
  text-align: center;
  padding:18px 14px 9px 14px;
  } 


h3 p, 
h3 a {
    display: block;
    font-size: 16px;
    text-transform: none;
}

h3 p{
   font-family:roboto_light; 
}

h3 a{
  display: inline-block;
  color: #fcd88c !important;
  font-family: roboto_regular;
  border-bottom: 1px #fcd88c solid;
}

h4{
  display: block;
  clear: both;

  font-size:21px;
  line-height:21px;
  font-family: roboto_light;
  padding:18px 18px 6px 18px;

  width: 100%;
  } 

h5{
  display: block;
  clear: both;
  
  font-size:16px;
  line-height:18px; 
  font-family:roboto_Medium;


/* 
font-family:greatvibes_regular;
font-family:homemadeapple_regular;
font-family:kaushanscript_regular;
font-family:parisienne_regular;
font-family:tangerine_bold;
font-family:tangerine_regular;
 */

  text-transform: none;


  color:#a39849;
  color: #b6ad64;

  /* color: #2c0006; */
  padding:18px 18px 6px 18px;


  width: 100%;
  }   

h6 {
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 18px;
    font-family: roboto_Regular;
  font-family:roboto_Medium;  

    color: #0f1329;
    color: #94969a;
    color: #a39849;


    text-transform: uppercase;

    width: 100%;

  padding:18px 18px 6px 18px;
}
h6 p{
  float: none !important;
  display: block;
  clear: both;
  opacity: 0.72;


}

p{
  font-size:14px;
  line-height:18px;
  font-family:roboto_regular;
  letter-spacing: 0.03em;

  color: #666;
  color:#2c0006;
  /* color:#981643;  */

  padding:9px 18px;
  }



.m_subtitle{
    display: block;
    clear: both;
    font-size:27px;
    line-height:27px;
    font-family: roboto_thin;
    color: #0f1329;
    text-transform: uppercase;
    padding: 9px 9px 9px 36px;


    letter-spacing: 0.045em;
    word-spacing: 0.09em;



    /* text-align: center; */

    width:100%;  
}
.m_subtitle + .m_subtitle{
    font-family: roboto_light;
    text-align: left !important;

}

.s_subtitle{
    font-size:16px;
    line-height:18px;
    font-family: roboto_Regular;
    color: #0f1329;

    padding: 9px 9px 9px 36px;

        letter-spacing: 0.045em;
    word-spacing: 0.09em;


}



*[class*="mobile_"] .m_subtitle,
*[class*="mobile_"] .s_subtitle{
padding: 9px 18px;
text-align: center;
}


@media screen and (max-width:767px) {
.m_subtitle,
.s_subtitle{

padding: 9px 18px;
text-align: center;
}



}




/* *[class*="mobile_"] p{
    padding:9px 18px;
} */






p strong{
  font-size:inherit;
  line-height:inherit;
  font-family: roboto_Medium;

  font-weight:normal;
  color:#5d0b24;
  color:#981643;
  } 
* > b{
  font-size: inherit;
    font-family: inherit;

    color: #5d0b24;

    
}
p a{
  color: #3f0514;
  /* font-style: italic; */
  /* border-bottom:1px #5d0b24 solid; */
     padding: 0;
   text-transform: uppercase;
  }


p a:hover{
  /* border-bottom:1px #3f0514 solid; */
  } 
p span{
  font-size:inherit;
  color:#d5b84f;
  
  /* padding-right:6px; */
  vertical-align:baseline;
  } 
  




p.v2{
    font-family: roboto_light;
    color: #981643;
/*     text-transform: none; */
    padding:18px 0 0 0 !important;
    text-align: center;

}
p.v2 a{
    display: block;
    font-size: 16px;
    line-height: 18px;
    padding: 9px 0 18px 0;
}








a{
  font-family: roboto_regular;
  color:#5d0b24;
  /* #5d0b24 */
  }     
a:hover{
  color:#981643;
  } 





a.v2{
  display: block;

  font-size: 12px;
  line-height: 18px;

    font-family: roboto_light;
    color: #981643;

    text-transform: none;
    padding:27px 0 0 0 !important;
    text-align: center;
}
a.v2 span{
    display: block;

    font-size: 24px;
    line-height: 27px;
    font-family: modern_display;
  color:#5d0b24;
  text-transform: uppercase;
    padding: 0px 0 27px 0;
}
a.v2:hover{
    color: #981643;


  } 
a.v2:hover span{
  color:#981643;

}







/* form */

form{
  position:relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;


  padding:27px ;

  width: 100%;
  max-width: 100%;

  background-color: #fbfbf2;

  background-color: #fff;


  -webkit-box-shadow:
  0px 1px 3px rgba(44,0,6,0.3),
  0px 3px 6px rgba(44,0,6,0.2),
  0px 9px 12px rgba(44,0,6,0.1);
  -moz-box-shadow:
  0px 3px 4px rgba(44,0,6,0.3),
  0px 6px 8px rgba(44,0,6,0.2),
  0px 9px 12px rgba(44,0,6,0.1);
  box-shadow:
  0px 3px 4px rgba(44,0,6,0.3),
  0px 6px 8px rgba(44,0,6,0.2),
  0px 9px 12px rgba(44,0,6,0.1);

/*   63 , 5 , 20 */

}
form.none{
  display: none;
}

/* *[class*="mobile_"] form{
  padding: 18px;
  width: 100%;
  max-width:calc( 100% - 36px);
  margin: 0;

  min-width:calc( 100% - 36px );
}

 */



*[class*="mobile_"] form{
  padding:18px 
}
*[class*="mobile_"] form > *{
  width: 100%;
}


form > *{
  float: none !important;
}



form:after{
  content:'';
  display:block;
  clear:both;
  width:100%;
  }
form p{
  /* line-height:21px; */
/*   font-family: roboto_light;
  letter-spacing: 0.06em; */

  }
form p a{
  display:inline-block;
  font-size:inherit;
  line-height: inherit;
  } 
form > a{
  display:inline-block;
  font-size:12px;
  line-height:20px;
  /* text-transform:uppercase; */
  padding:9px 0;
  }

form .p_remove{
  position:absolute;
  top:0;
  right:0;
  } 


form .w_50.sm_radio_box,
form .w_50.b_forgot{
  float: left;
  width: 50%;
  margin: 0;
}

.w_50 + .b_forgot{
  text-align: right;
  padding-right: 18px;

}



  
  
textarea {
  resize: none;
}




::-webkit-input-placeholder{
  color:#f4ecbb;
  color:#d5b84f;
  color:#a39849;

  }/* Chrome/Opera/Safari */
::-moz-placeholder{ 

  color:#a39849;  
  }/* Firefox 19+ */
:-moz-placeholder{ 

  color:#a39849;  
  }/* Firefox 18- */
:-ms-input-placeholder{ 
  color:#a39849;  
  }/* IE 10+ */
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
  color:transparent;
  } /* Chrome/Opera/Safari */
textarea:focus::-moz-placeholder, 
input:focus::-moz-placeholder{
  color:transparent;
  } /* FF 19+ */  
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder{
  color:transparent;
  } /* FF 4-18 */
textarea:focus:-ms-input-placeholder, 
input:focus:-ms-input-placeholder{
  color:transparent;
  } /* IE 10+ */

.textarea.status_empty,
.input.status_empty{
color:#a39849 ;
}


.textarea,
.input,
textarea,
input,
.input_box{
  display:block;
  display:inline-block;

  font-size:14px;
  line-height:18px;
  font-family:roboto_Regular;

  color: #170003;
  
  /* color:#a39849;  */
  /* width:100%; */
  
  padding:10px 12px;
  
/*   border:1px #f1efd8 solid;
  border:1px #f4ecbb solid; */
  border:1px #e9d98e solid; 
  border-left-width:2px;
  border-right-width:2px;
  border-radius:6px;
  
  letter-spacing:0.03em;
  background-color:#fdfdf7;
  background-color:#FFF;
  }


/* input:invalid {
    background-color: red !important;
} */

/* input:valid {
    background-color: blue !important;
} */

.textarea.status_focus,
.input.status_focus,  
textarea:focus,
input:focus{
  border-color:#e9d98e;
  border-color:#a39849; 
  background-color:#f8f7e9; 
  }

.status_error {
    color: red !important;
    border-color: red !important;
}

button,
textarea,
input,
.ddm_sm{
  margin-top:3px;
  margin-bottom:3px; 
}
  


label{
  display: block;
  clear: both;

  font-size: 12px;
  line-height: 18px;
  color: #a39849;

  font-family:roboto_regular;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  padding: 18px 0 6px 14px;
  width: 100%;
}  



.dark_night label{
  color: #e4e0b9;
}




.type_B ::-webkit-input-placeholder{
  color:#d5b84f;

  }/* Chrome/Opera/Safari */
.type_B ::-moz-placeholder{ 

  color:#d5b84f;  
  }/* Firefox 19+ */
.type_B :-moz-placeholder{ 

  color:#d5b84f;  
  }/* Firefox 18- */
.type_B :-ms-input-placeholder{ 
  color:#d5b84f;  
  }/* IE 10+ */

.type_B textarea,
.type_B input{

  background: none;

  border: none;

  border-bottom:1px #e9d98e solid; 
  border-radius:0;

  margin-top: 0px;
  margin-bottom: 0px;

  padding: 11px 18px 11px 30px;

  transition: padding-left 0.3s;
  }

.type_B textarea:focus,
.type_B input:focus{
  padding-left: 45px;
  border-bottom-color:#a39849; 
  }

/* .btn_X + .box_name {
    padding-top: 24px;
}
 */




.box_name{
    display: block;
    font-size: 24px;
    line-height: 36px;
    font-family: modern_display;
    color: #2c0006;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    padding: 18px;


    width: 100%;

    /* border-bottom: 1px #e4e0b9 solid; */
}
.box_name p{
    display: block;
    font-size: 14px;
    line-height: 18px;
  font-family:roboto_light;
   color: #981643;

    text-transform: none;
    padding:0; 
}
.box_name a {
    display: block;
    font-size: 16px;
    line-height: 18px;

  padding:11px 0;  
}











.progress {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
width: 100%;
max-width: 60%;
min-width: 320px;

margin: 27px auto 27px auto;

/* margin-bottom: 27px; */
}
.progress:before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  width: calc( 100% - 24px );
  height: 2px;

  background-color: #e4e0b9;

  -webkiit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);
}


.progress div {
  display: block;
  position: relative;

    width: 16px;
  height: 16px;
  background-color: #fff;
  border: 2px #e4e0b9 solid;
  border-radius: 50%;

}



.progress .complete {
  position: relative;
  border: none;
  background-color: #981643;
  background-color: #5d0b24;

}


.progress .complete:before {
  content: '';
  display: block;

  position: absolute;
top:50%;
left: 50%;

width: 9px;
height: 9px;

  background-color: #5d0b24;
  background-color: red;

  border-radius: 50px;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.progress .check{
  border: 2px #5d0b24 solid;
}

.progress div span{
  position: absolute;
  left: 50%;
  bottom: -3px;

  font-size: 12px;
  line-height: 18px;

  font-family: roboto_regular;
  color: #a39849;  
  letter-spacing: 0.06em;

  text-transform: none;

  white-space: nowrap;
  -webkiit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}

*[class*="mobile_"] .progress:not(.rotate)  div:first-child span{
    -webkiit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}

*[class*="mobile_"] .progress:not(.rotate) div:last-child span{
  -webkiit-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
}





.v2.progress .complete {
  border: 2px #981643 solid;
  border: 2px #e4e0b9 solid;
  background-color: #fff;
}

.v2.progress .complete:before {
  content: '';
  position: absolute;

  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;

  background-color: #5d0b24;
  background-color: #e4e0b9;
  background-color: #a39849;
  -webkiit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);

  border-radius: 50%;

}


*[class*="mobile_"] .rotate.progress{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;


max-width: none;
min-width: auto;
width: 16px;
height: 100%;
min-height: 320px;
margin: 18px auto 27px auto;
}

*[class*="mobile_"] .rotate.progress:before {
  width: 2px;
  height: calc( 100% - 24px );
}

*[class*="mobile_"] .rotate.progress div span{
  position: absolute;

  left: 100%;
  bottom: 50%;
  
  line-height: 15px;
  text-align: left;

  width: 72px;

  white-space: normal;
  -webkiit-transform: translate(6px, 50%);
  -ms-transform: translate(6px, 50%);
  transform: translate(6px, 50%);
}


@media screen and (max-width:767px) {
.progress:not(.rotate) div:first-child span{
  -webkiit-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}
.progress:not(.rotate) div:last-child span{
  -webkiit-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
}
.rotate.progress{
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;

width: 16px;
height: 100%;
min-height: 320px;
margin: 18px auto 27px auto;
}
.rotate.progress:before {
  width: 2px;
  height: calc( 100% - 24px );
}
.rotate.progress div span{
  position: absolute;

  left: 100%;
  bottom: 50%;
  
  line-height: 15px;
  text-align: left;

  width: 72px;

  white-space: normal;
  -webkiit-transform: translate(6px, 50%);
  -ms-transform: translate(6px, 50%);
  transform: translate(6px, 50%);
}
}











.or_line{
  position:relative;
  display:block;
  text-align:center;
  background-color: inherit;

  }
.or_line span{
  position:relative;
  z-index:1;
  
  display: inline-block;
  
  /* padding:14px 18px 6px 18px; */
  background-color:#FFF;
  background-color:#faf5f0;
  background-color: inherit;




    font-size: 24px;
    line-height: 30px;
    font-family: modern_display;
    color: #2c0006;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    padding:12px 18px 4px 18px;
  
  } 

.or_line a{
  position:relative;
  z-index:1;
  
  display: inline-block;
  
  /* padding:14px 18px 6px 18px; */
  background-color:#FFF;
  background-color:#faf5f0;




    font-size: 16px;
    line-height: 18px;


    font-family: roboto_regular;
    color: #2c0006;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    padding:14px 18px 14px 18px;
  
  } 


.or_line:before{
  content:"";
  display:block;
  position:absolute;
  top:50%;
  left:0;
  
  width:100%;
  
  border-bottom:1px #e9d98e solid;

  }







.sm_note{
/*     position: relative;
    font-size: 12px;
    font-family: roboto_regular;
    color: #999;
    text-align: center;
  letter-spacing: 0.06em;

    padding: 6px 12px; */

  font-size: 12px;
  line-height: 16px;
    font-family: roboto_regular;
    color: #666;
  letter-spacing: 0.03em;

padding: 11px 9px 11px 36px;

width: 100%;
}

.sm_note *{
  display: initial;
}


.dark_night .sm_note a{
  color: #f7bd3f;
}



*[class*="mobile_"] .sm_note{
  text-align: center; 
  padding: 11px 18px 11px 18px;
}

@media screen and (max-width:767px) {

.sm_note{
  text-align: center; 
  padding: 11px 18px 11px 18px;
}
}










.sm_slogan {
    display: block;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.36em;
    padding: 22px 0;
    width: 100%;
}








.p_table{
  position: relative;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 18px 0;

  /* border-top: 1px #e6e6e6 solid; */
}
.p_table .btn_X{
  left: calc(100% - 50px);
}
.p_table > *{
  text-align: center;
}
.p_table > *:first-child{
  width: 60%;
}
.p_table > .p_qty{
  width: 15%;
}
.p_table > .p_price{
  width: 25%;
}
.p_table *{
  font-size: 14px;
    line-height: 18px;
    font-family: roboto_regular;
  color: #981643;
}
.p_table.item_name > *{
  font-size: 12px;
  color:#a39849;
}
.p_description{
  position: relative;
  padding-left:90px;
  text-align: left;
}



.product_img{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 81px;
}
.product_img img{
  width: auto;
  height: 100%;
}
.product_brands{
    padding: 9px 0 0 0;
}
.product_name{
    font-size: 16px;
    color: #5d0b24;
    text-transform: uppercase;
    padding:0;
}
.p_price{
  color:#5d0b24;
  text-align: right;
  padding-right: 18px;
}




.checkout_page .info_box{
  display: inline-block;
  padding: 18px;
  margin-bottom: 18px;
  border: 1px #e4e0b9 solid;
  width: 100%;
}


*[class*="mobile_"] .info_box{
  border:none;
  /* border-top: 1px #e4e0b9 solid; */
  margin-bottom: 0;
  padding: 0 0 18px 0;
}



@media screen and (max-width:767px) {

.checkout_page .info_box{
  border:none;
  border-top: 1px #e4e0b9 solid;

  margin-bottom: 0;

  padding: 18px 0;
}



}






.checkout_page .info_box > .ddm_sm,
.checkout_page .info_box > button{
  width: 48%;
}

.info_box .btn_edit{
  float: right;
}

.txt_info{
  position: relative;
  display: block;
  clear: both;
  font-size: 14px;
  line-height: 21px;

  color: #2c0006;
  padding:6px 18px 18px 36px;
  width: 100%;
}
.txt_info .btn_txt{
  position: absolute;

  top: -20px;
  right: 0;

}

.txt_info > *:not([class*="btn_"]){

  font-size: inherit;
  color: inherit;

  padding-left:0;
  padding-right: 0;
  
}











.payment_total{
  display: block;
  color:#a39849;

  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #fff;
  /* border-top: 1px #CCCCCC solid; */
}
.payment_total > p{
  color:#a39849;
  padding-left: 18px;
}
.payment_total > p > span{
  float: right;

  width: 50%;
  color:#5d0b24;

  text-align: right;

    padding-right: 18px;
}
.payment_total > *:first-child{

  margin-bottom: 9px;
    border-bottom: 1px #CCCCCC dashed;
}
.payment_total > *:last-child{
  margin-top: 9px;

  border-top: 1px #CCCCCC solid;
}








.add_gift_code{
  display: none;

  clear: both;

  overflow: hidden;
  background-color: #f3f3f3;

  margin: 0 9px 9px 9px;

  padding: 9px;

}






.icon_question{

  position: relative;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  border: 2px #a39849 solid;

  border-top-width: 1px;
  border-bottom-width: 1px;

  border-radius: 50%;
}
.icon_question:hover{
  border-color:#5d0b24;
}




.a_l:before,
.a_r:before,
.a_t:before,
.a_d:before{
  content:"";
  position: absolute;
  border-style: solid;
} 
  
.a_t:before{
  top:-9px;
  left:50%;
  transform:translateX(-50%);
  border-width:0 6px 9px 6px;
  border-color:#981643 transparent;
}
.a_r:before{
  top:50%;
  right:-9px;
  transform:translateY(-50%);
  border-width:6px 0 6px 9px;
  border-color:transparent #981643;
}
.a_d:before{
  bottom:-9px;
  left:50%;
  transform:translateX(-50%);
  border-width:9px 6px 0 6px;
  border-color:#981643 transparent;
} 
.a_l:before{
  top:50%;
  left:-9px;
  transform:translateY(-50%);
  border-width:6px 9px 6px 0;
  border-color:transparent #981643;
}   




.tooltip{
  display: inline-block;
  clear:both;
  position:relative;
  font-size:12px;
  line-height:18px;
  color: #FFF;

  text-align: left;
  text-transform: none;

  width: -webkit-max-content;  
  width: -moz-max-content;  
  width: max-content;
  max-width: 180px;
  
  height: auto;

padding:9px 18px;
border-radius:4px;
background-color:#2c0006;
  }

.tooltip.a_t:before{
  border-color:#2c0006 transparent;
}
.tooltip.a_r:before{
  border-color:transparent #2c0006;
}
.tooltip.a_d:before{
  border-color:#2c0006 transparent;
} 
.tooltip.a_l:before{
  border-color:transparent #2c0006;
} 

.v2.tooltip{
  color: #2c0006;
  text-align: left;
  background-color:#2c0006;

  border: 1px #e4e0b9 solid;

  background: -webkit-linear-gradient(top, #f1efd8 10%, #f8f7e9 90%);  
  background: -moz-linear-gradient(top, #f1efd8 10%, #f8f7e9 90%); 
  background: linear-gradient(top, #f1efd8 10%, #f8f7e9 90%);

/*     -webkit-box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1);
  -moz-box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1);
  box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1); */
  }

.v2.tooltip.a_t{
  /* border-top-width: 2px; */
  border-top-color:#b6ad64 ;
}
.v2.tooltip.a_r{
  /* border-right-width: 2px; */
  border-right-color: #b6ad64;
}
.v2.tooltip.a_d{
  /* border-bottom-width: 2px; */
  border-bottom-color:#b6ad64 ;
} 
.v2.tooltip.a_l{
  /* border-left-width: 2px; */
  border-left-color: #b6ad64;
} 

.v2.tooltip.a_t:before{
/*   top:-9px;
  border-width:0 9px 9px 9px; */
  border-color:#a39849 transparent;
}
.v2.tooltip.a_r:before{
/*   right:-9px;
  border-width:9px 0 9px 9px; */
  border-color:transparent #a39849;
}
.v2.tooltip.a_d:before{
/*   bottom:-9px;
  border-width:9px 9px 0 9px; */
  border-color:#a39849 transparent;
} 
.v2.tooltip.a_l:before{
 /*  left:-9px;
  border-width:9px 9px 9px 0; */
  border-color:transparent #a39849;
}   




.v3.tooltip{
  color: #fff;
  text-align: left;




  background: -webkit-linear-gradient(top, #981643 10%, #5d0b24 100%);  
  background: -moz-linear-gradient(top, #981643 10%, #5d0b24 100%); 
  background: linear-gradient(top, #981643 10%, #5d0b24 100%);

/*     -webkit-box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1);
  -moz-box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1);
  box-shadow:
  0px 1px 3px rgba(43,42,40,0.3),
  0px 3px 6px rgba(43,42,40,0.2),
  0px 9px 12px rgba(43,42,40,0.1); */
  }



.v3.tooltip.a_t:before{
/*   top:-9px;
  border-width:0 9px 9px 9px; */
  border-color:#981643 transparent;
}
.v3.tooltip.a_r:before{
/*   right:-9px;
  border-width:9px 0 9px 9px; */
  border-color:transparent #5d0b24;
}
.v3.tooltip.a_d:before{
/*   bottom:-9px;
  border-width:9px 9px 0 9px; */
  border-color:#5d0b24 transparent;
} 
.v3.tooltip.a_l:before{
/*   left:-9px;
  border-width:9px 9px 9px 0; */
  border-color:transparent #5d0b24;
}   



.icon_question .tooltip{
  display: none;
  position: absolute;
}
.icon_question:hover .tooltip{
  display: block;
}

.icon_question .tooltip.a_t{
  top: calc( 100% + 18px );
  left: 50%;
  transform: translate(-50%, 0);
}
.icon_question .tooltip.a_r{
  top: 50%;
  left: -18px ;
  transform: translate(-100%, -50%);
}
.icon_question .tooltip.a_d{
  top: -18px ;
  left: 50%;
  transform: translate(-50%, -100%);
} 
.icon_question .tooltip.a_l{
  top: 50%;
  left: calc( 100% + 18px );
  transform: translate(0%, -50%);
} 










.dark_night *:not(textarea):not(input),
.dark_night,
.dark_night *{
  color:#FFF;
/*   color: #fbfbf2;
  color: #f8f7e9; */
  }


.dark_night a{
  color: #e4e0b9;
}
.dark_night a:hover{
  color: #f8f7e9;
}

.dark_night a.v2{
  color: #e4e0b9;
  color: #d5b84f;
}
.dark_night a.v2:hover > span{
  color: #e4e0b9;
}

.dark_night p{
  color: #f1efd8;
  font-family: roboto_regular;
}
.dark_night p a{
  color: #f7bd3f;
  border-bottom-color:  #fcd88c ;
}


.dark_night .sm_note{
  color: #e4e0b9;
}


/* .dark_night > a:hover:not('[class*="sm_radio"]'),
.dark_night p a:hover{
  opacity: 0.72;
} */


.dark_night p a:hover,
.dark_night a:hover{
color: #f0ea92 !important;
border-bottom-color:  #e9d98e ;

} 



.dark_night form {
  z-index: -1;
  padding: 18px;

    -webkit-box-shadow: 
    0px 36px 36px rgba(152, 22, 67, 1);

    -moz-box-shadow:
    0px 36px 36px rgba(152, 22, 67, 1);

    box-shadow: 
/*     0px 1px 3px rgba(152, 22, 67,0.3), 
    0px 3px 6px rgba(152, 22, 67,0.2),  */
    0px 36px 36px rgba(152, 22, 67, 1);

  background-color:#3f0514;
}

.dark_night form .btn_X{
  top: -25px !important;
}



/* .dark_night .sm_slogan{
  opacity: 0.72;
}
 *//* 





.components_demo > *:first-child:before{
  position: absolute;

  top: 50%;

  content: '';
  display: block;

  height: 2px;
  width: 100%;

  background-color: red;

} 
 */




.components_demo > *:first-child .vino_logo.v1{
  margin-top: -54px;
}

.components_demo > *:first-child .sm_slogan{
  position: absolute;
  bottom: 0;
}








.popup_box {
/*     -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 900;

    width: 320px;
    height: auto;

    background:none;
    -webkit-transform: translate( -50% , -50%); 
    -ms-transform: translate( -50% , -50%); 
    transform: translate( -50% , -50%); 

    /* background-color: rgba(255,255,255,0.81); */
}

.popup_box > *{
  text-align: center;
}

.popup_box .btn_X{
    top: -25px;
    left: calc( 100% - 25px);
}


*[class*="mobile_"] .popup_box{
    position: static;
    -webkit-transform: none; 
    -ms-transform: none; 
    transform: none; 
}

*[class*="mobile_"] .popup_box .btn_X{
    top: 0;
    left: 0;
}


@media screen and (max-width:767px) {
.popup_box{
    position: static;
        -webkit-transform: none; 
    -ms-transform: none; 
    transform: none; 
}
.popup_box .btn_X{
    top: 0;
    left: 0;
}



}







/* list page */
/* order list page */
.info_tr{



    display: flex;

    justify-content: center;

    align-items: center;

    /* flex-wrap: nowrap; */

    flex-direction:row;


  background-color: #fff;
}

.info_tr > *{
  border: 1px red solid;

}


.info_tr img{
  width: 72px;
  height: auto;
}


.info_tr *{
  font-size: 14px;
  line-height: 16px;
  padding:0; 
}








