/* all 2016*/
* {
	margin:0;
	padding:0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	
	background-repeat:no-repeat;
	vertical-align:top;	
}

html, 
body,
img{
	border: 0;
}
img{
	vertical-align:top;
}
button,
input,
textarea{
	outline:none;
	border:none;
	}
body{
	font-family:Arial, sans-serif;

	font-size:16px;
	/* line-height:1.5; */
	color: #000;
	background: #fff;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}
h1,h2, h3, h4, h5, h6{ 
	font-weight: normal; 
}
a{
	text-decoration:none;
	letter-spacing:0.05em;
	}
	

table { 
	width:auto; 
	border-collapse: collapse;
	border-spacing: 0;
}
