/* all 2016*/

*[id^="MywebFrameSet"]{
	display:none;
	}

* {
	margin:0;
	padding:0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing:border-box;
	
	background-repeat:no-repeat;
	vertical-align:top;	
/*
	letter-spacing:0.033333em;
	word-spacing:0.033333em;*/
}
html, 
body,
img{
	border: 0;
}
img{
	width:100%;
	vertical-align:top;
}
button,
input,
textarea{
	outline:none;
	border:none;
}

button{
	cursor:pointer;
}
body{
	font-family:Arial, sans-serif;
	font-size:16px;
	/* line-height:1.5; */
	color: #000;
	background: #fff;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}
h1,h2, h3, h4, h5, h6{ 
	font-weight: normal; 
}
a{
	text-decoration:none;
    letter-spacing: 0.024em;
    word-spacing: 0.18em;
	
    letter-spacing: 0.018em;
    word-spacing: 0.09em;	
}
table{ 
	width:auto; 
	border-collapse: collapse;
	border-spacing: 0;
}




.flex_box{
	display: -webkit-box ;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex !important;
	/*左右至中*/
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	/*上下至中*/
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	/*元素的排列方向:從上到下，再由左到右*/
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
		
	}
	
	
.version_num{
	display:block;
	position: absolute;
	top:0;
	left:0;
	font-size:12px;
	line-height:18px;
	font-family:Helvetica, Arial, sans-serif;
	
	color:#FFF;
	text-align:center;	
	padding:27px 0;
	width:72px;
	height:72px;
	background-color: #000;
	}

/* jq */
.filter_ef{
    -webkit-filter:blur(2px);
    filter:blur(2px);
}	

