/* 20160502 */
/* 20180312 */

@font-face{
font-family:"modern_display";
font-style:normal;
font-weight:normal;
src:url("../font/modern_display/modern_display.eot");
src:url("../font/modern_display/modern_display.eot?#iefix") format("embedded-opentype"),
url("../font/modern_display/modern_display.woff") format("woff"),
url("../font/modern_display/modern_display.ttf") format("truetype"),
url("../font/modern_display/modern_display.svg") format("svg");
}

@font-face {
font-family:"roboto_Medium";
src: url("../font/roboto/roboto_medium.eot");
src: url("../font/roboto/roboto_medium.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_medium.svg") format("svg"),
url("../font/roboto/roboto_medium.woff") format("woff"),
url("../font/roboto/roboto_medium.ttf") format("truetype"),
url("../font/roboto/roboto_medium.otf") format("opentype");
}

@font-face {
font-family:"roboto_Regular";
src: url("../font/roboto/roboto_regular.eot");
src: url("../font/roboto/roboto_regular.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_regular.svg") format("svg"),
url("../font/roboto/roboto_regular.woff") format("woff"),
url("../font/roboto/roboto_regular.ttf") format("truetype"),
url("../font/roboto/roboto_regular.otf") format("opentype");
}

@font-face {
font-family:"roboto_light";
src: url("../font/roboto/roboto_light.eot");
src: url("../font/roboto/roboto_light.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_light.svg") format("svg"),
url("../font/roboto/roboto_light.woff") format("woff"),
url("../font/roboto/roboto_light.ttf") format("truetype"),
url("../font/roboto/roboto_light.otf") format("opentype");
}

@font-face {
font-family:"roboto_thin";
src: url("../font/roboto/roboto_thin.eot");
src: url("../font/roboto/roboto_thin.eot?#iefix") format("embedded-opentype"),
url("../font/roboto/roboto_thin.svg") format("svg"),
url("../font/roboto/roboto_thin.woff") format("woff"),
url("../font/roboto/roboto_thin.ttf") format("truetype"),
url("../font/roboto/roboto_thin.otf") format("opentype");
}
