.c_info{
	display:inline-block;
	position:relative;
	padding:9px 9px 9px 72px;
	width:30.333333%;
	min-height:72px;
	height:100%;
	border:1px #ccc solid;
	margin:9px 1.5%;
	border-radius:4px;
	}
.c_title{
	font-size:12px;	
	line-height:18px;
	font-family:roboto_Regular;
	}
.c_name{
	display:block;
	font-size:16px;
	line-height:18px;
	font-family:roboto_light;
	}






