/* 20190306 */


/* 
logo
three_line

*/








/* body{
    background-image:url(../img-m/bg_01.jpg);
    background-repeat:repeat !important;
    background-color: #35373c;
}

 */

.kami{
    /* background-color: #2d2d2f; */
}
















.screen_size{
    width: 100%;
min-height: 100vh;
    height: 100%;
    border:2px #000 solid;
/*     background-color: red;

    background-color: #fff; */

    overflow: hidden;
    position: relative;
}






footer.if_HF,
header.if_HF{
    position: fixed;

    left: 0;
    right: 0;
    z-index: 300;
    background-color: #fff;
    border-bottom:1px #e1e1e1 solid;
}

header.if_HF{
    top: 0px;

}
footer.if_HF{


/*     -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
 */
}


/* 
.ps_list.column + footer,
.ps_list.list + footer{ */



.column + footer,
.list + footer{
    position: static;
    display: block;
    clear: both;

}


/* footer + .list{

        position: static; 
}
 */


.screen_size footer,
.screen_size header{
    position: absolute;
}





ul ul li {
    display:block;
    text-align:left;
    padding:9px 0;
}   
ul ul li{
    min-width: 150px;
    width: 33.333333%;
}
ul ul li:only-child,
ul ul li:first-child:nth-last-child(1){
   
}
ul ul li:only-child *,
ul ul li:first-child:nth-last-child(1) *{
    text-align: center;
}


ul ul li:first-child:nth-last-child(2),
ul ul li:first-child:nth-last-child(2)~li{
 
}

ul ul li:first-child:nth-last-child(3),
ul ul li:first-child:nth-last-child(3)~li{

}


ul ul li:first-child:nth-last-child(4),
ul ul li:first-child:nth-last-child(4)~li{
    width: 25%;
    /* background-color:#8cc152; */
}

ul ul li:first-child:nth-last-child(5),
ul ul li:first-child:nth-last-child(5)~li{
    width:20%;
}

ul ul li:first-child:nth-last-child(6),
ul ul li:first-child:nth-last-child(6)~li{
    width:16.666666%;
   
}
ul ul li:first-child:nth-last-child(7),
ul ul li:first-child:nth-last-child(7)~li{
    width: 14.285714%;
}

ul ul li:first-child:nth-last-child(8),
ul ul li:first-child:nth-last-child(8)~li{
    width: 12.5%;
}

ul ul li:first-child:nth-last-child(9),
ul ul li:first-child:nth-last-child(9)~li{
    width: 11.111111%;
}






.new_in{
    display: none;

    position: absolute;
    top: 5px;
    left: calc(100% - 55px);

    font-size: 27px;
    line-height: 45px;

    font-family:modern_display;

    color:#e9573f;

    text-align: center;
    width: 50px;


    padding-top: 5px;
}
.new_in.num_boo span{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9573f;
}
.new_in:hover{
    color: #000 !important;
}
.new_in:hover span{
    background-color: #000;
}






@media screen and (min-width:1024px) {
 
.if_v1 ul > li:hover ul,
.m_HF.v1 ul > li:hover ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

}
@media screen and (max-width:1023px) {

.new_in,
.m_v2019 > div{
    display: block;
}

.m_v2019{
    display: block;
    text-align: center;
    /* background-color: red; */
}
.logo-M-mountain{
    display: inline-block !important;
}

.three_line{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    }

.mm_nav{
    position: fixed;

    top: 60px;

    left:0;

    text-align: left;

    border-top:1px #e1e1e1 solid;
    border-right:1px #e1e1e1 solid;
    border-bottom:1px #e1e1e1 solid;

    margin-left:-100%;

    /* min-height: auto; */

        max-height:calc(100vh - 60px);

    width:100%;
    min-width: 300px;
    max-width: 50% ;

    overflow-y: auto;
}
.screen_size .mm_nav{
    position: absolute;

}


/* jQ */

*[class*="_nav"] .open_menu{
    display: block;
}

}



/* jQ */
*[class*="_nav"].margin_change{
    /* display: */
    margin-left:0% ; 
}










.logo_if_v1{
    display: block;

     background-image: url('../img-if/ifchic_v01_b.svg');

    width: 108px;
    height:37px;

    background-size: auto 100%;
    background-position: center center;
    margin:9px;
}

.logo_if_v1:hover{

     background-image: url('../img-if/ifchic_v01_g.svg');


}
.logo_if_v2{
    display: inline-block;
    background-image: url('../img-if/ifchic_v02_b.svg');

    width: 197px;
    height: 44px;

    width: 134px;
    height: 30px;


    background-size: auto 100%;
    background-position: center center;
    margin:9px;
}
.logo_if_v2:hover{
     background-image: url('../img-if/ifchic_v02_g.svg');
}

/* 20190908 */
.signin_register .logo_if_v2{
    width: 100%;
    margin:48px 0 9px 0;

}
.if_v2 header{
    text-align: center;
}
.if_v2 .logo_if_v2{
    margin:15px 0 15px 0;
}

/* 


.if_v2 .logo_if_v1{
   height:60px;
    background-size: 100% auto;
    margin: 0;
}


 */






@media screen and (max-width:1023px) {

}




.if_v1{
    height: 100%;
}



.if_v1 > header{
    border-bottom: 1px #C8C8C8 solid;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
}
.if_v1 > footer{

    border-top: 1px #C8C8C8 solid;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%);
}
.if_v1 footer > div{

    display: flex;
    justify-content: space-between;
}

.if_v1 .btn_box_C *,
.if_v1 .btn_box_B *{
    display: inline-block;
}

.if_v1 .btn_box_C a,
.if_v1 .btn_box_B a{

    font-size: 12px;
    line-height: 18px;

    padding: 9px;
}



.text_copyright{
    font-size: 12px;
    line-height: 18px;
    padding: 9px;
}



.top_white{
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end ;    

    height: 63px;
}
.top_white > *:last-child{
    margin-left: auto;
}


.if_nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;    
    -ms-flex-pack: center;    
    justify-content: center;

    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

}
.if_nav .btn_box_A {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 

    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center;

    border-bottom: 1px #969696 solid;
    padding:0;
}
.if_nav .btn_box_A > a:after{
    display: none;
}

.if_nav .btn_box_A .btn_s_r,
.if_nav .btn_box_A .btn_my_account{
    width: 100% !important;
}

.if_nav .btn_box_A .btn_shopping_bag,
.if_nav .btn_box_A .btn_mywish,
.if_nav .btn_box_A .btn_search{
    display: inline-block !important;
    width: 33.333333% !important;
}





.if_nav > li{
    padding: 0;
    border: 1px #e6e6e6 solid;
    border-color: transparent;

}
.if_nav > li > a{
    font-family: roboto_Regular;
    color: #0f1329;
}
.if_nav a {
    display: block;
    
    font-size: 12px;
    line-height: 18px;
    font-family: roboto_light;

    text-transform: uppercase;

    padding: 14px 12px 12px 12px;
    width: auto;
    text-align: center;
}
.if_nav > li > a {
    position: relative;
}
.if_nav > li > a:before {

    display: none;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;

    z-index: 2;

    width: auto;
    height: 1px;
    background-color: #fff;
}
.if_nav ul{
    position:absolute;

    top: 100%;
    left:0;
    right: 0;
    z-index:1;

    display: none;

    -webkit-box-pack: center ;
    -ms-flex-pack: center ;
    justify-content: center ;
    -webkit-box-align: stretch ;
    -ms-flex-align: stretch ;
    align-items: stretch ;

    padding:0 0 0 0;

    background-color:#FFF;


    max-height: 100vh;
    height:auto;

    border-top: 1px #c8c8c8 solid;
    border-bottom: 1px #c8c8c8 solid;

    -webkit-box-shadow: 0px 2px 2px rgba(43,42,40,0.18), 0px 4px 4px rgba(43,42,40,0.135), 0px 6px 6px rgba(43,42,40,0.09);
    -moz-box-shadow: 0px 2px 2px rgba(43,42,40,0.18), 0px 4px 4px rgba(43,42,40,0.135), 0px 6px 6px rgba(43,42,40,0.09);
    box-shadow: 0px 2px 2px rgba(43,42,40,0.18), 0px 4px 4px rgba(43,42,40,0.135), 0px 6px 6px rgba(43,42,40,0.09);

}

.if_nav ul div,
.links_bold {
    display: block;
    clear: both;


    font-size: 12px !important;

    font-family: roboto_Medium !important;   
    color: #0f1329;

    text-transform: uppercase !important;

    padding: 9px 18px;
}

.if_nav ul a {
    text-transform: none;

    font-size: 14px;
   
    text-align: left;
    padding: 9px 18px;
}


.top_blue {
    overflow: hidden;
    background-color: #0f1329;
}
.top_blue > div{
    display: flex;
     justify-content: space-between;
}
.top_blue *{
    font-size: 12px;
    line-height: 24px;
    color: #969696; 
}
.top_blue strong,
.top_blue a{
    color: #fff;
}

.event_info_A {
    display: block;
    padding: 0 9px;
}


.btn_box_A {
    display: block;
    padding: 0 9px;
    overflow: hidden;
}
.btn_box_A a span{
    display: inline-block;
}
.btn_box_A > a:after {
    display: inline-block;
    content: 'I';
    width: 24px;
    color: #969696;
    text-align: center;
    opacity: 0.81;
}
.btn_box_A > a:last-child:after {
    display: none;
}












.v1.btn_shopping_bag:before,
.v1.btn_mywish:before,
.v1.btn_search:before{
    display: inline-block;
    content:'\00a0';
    width:26px;
    height:24px;
    background: url('../img-if/icon_2017.svg');
    background-position-y: -1163px;
}

.v1.btn_mywish:before{
    background-position-x: -162px;
}
.v1.btn_shopping_bag:before{
    background-position-x: -412px;
}
.v1.btn_search:before{
    background-position-x: -312px;
}
.v1.btn_shopping_bag:hover:before,
.v1.btn_mywish:hover:before,
.v1.btn_search:hover:before{
    background-position-y: -1113px;
}

.v1.btn_shopping_bag:before,
.v1.btn_mywish:before{
    -webkit-transform: rotate(23.5deg);
    -moz-transform: rotate(23.5deg);
    transform: rotate(23.5deg);
}

.if_nav .v1.btn_shopping_bag:before,
.if_nav .v1.btn_mywish:before,
.if_nav .v1.btn_search:before{
    background-position-y: -1063px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}





.v2[class^="btn_"]{
     position: relative;   
}
.v2.btn_shopping_bag:before,
.v2.btn_mywish:before,
.v2.btn_search:before{


    display: inline-block;
    content:'\00a0';
    width:60px;
    height:60px;
    background: url('../img-if/icon_2017.svg');
    background-position-y: -1045px;
}

.v2.btn_mywish:before{
    background-position-x: -245px;
}
.v2.btn_shopping_bag:before{
    background-position-x: -445px;
}
.v2.btn_search:before{
    background-position-x: -345px;
}
.v2.btn_shopping_bag:hover:before,
.v2.btn_mywish:hover:before,
.v2.btn_search:hover:before{
    background-position-y: -1095px;
}

.v2[class^="btn_"] .num_boo{
    position: absolute;
    top: 6px;
    right: 0;

    font-size: 12px !important;
        font-family: sans-serif;
    font-style:normal;
}
.v2[class^="btn_"]:hover .num_boo{
   background-color:#a97962;
}





.three_line{
    display: none;
    background: none;
}

.event_info_B{

    display: flex;
    align-items: center;

    position: relative;
    float: right;
    color: #969696;
    text-align: left;


    max-width: 270px;
    width:100%;
    min-height: 60px;
    padding: 0 9px 0 60px;
    
}
.event_info_B p{
 
    font-size: 12px;
    line-height: 14px;
    font-family: roboto_Regular;
    padding: 0;
}
.btn_promo_info {
    display: block;
    position: absolute;
    top: 50%;
    left: 30px;

    width: 36px;
    height: 36px;


    font-size: 14px;
    line-height: 36px;
    font-family: roboto_Regular;
    color: #FFF;
    text-align: center;

    -webkit-transform: rotate(0deg) translate(-50% , -50%) rotate(9deg);
    -moz-transform: rotate(0deg) translate(-50% , -50%) rotate(9deg);
    transform: rotate(0deg) translate(-50% , -50%) rotate(9deg);


    transition: transform 0.27s ease-in-out;

    background-color: #0f1329; 

    border-radius: 50%;
}
.btn_promo_info:hover {
    color: #fff !important;
    background-color: #a97962;
    
    -webkit-transform: rotate(0deg) translate(-50% , -50%) rotate(-9deg);
    -moz-transform: rotate(0deg) translate(-50% , -50%) rotate(-9deg);   
    transform: rotate(0deg) translate(-50% , -50%) rotate(-9deg);
}




@media screen and (max-width:1023px) {

.btn_promo_info {
    -webkit-transform: rotate(0deg) translate(-50% , -50%) rotate(-12deg);
    -moz-transform: rotate(0deg) translate(-50% , -50%) rotate(-12deg);   
    transform: rotate(0deg) translate(-50% , -50%) rotate(-12deg);
}
.btn_promo_info:hover {

    -webkit-transform: rotate(0deg) translate(-50% , -50%) rotate(12deg);
    -moz-transform: rotate(0deg) translate(-50% , -50%) rotate(12deg);   
    transform: rotate(0deg) translate(-50% , -50%) rotate(12deg);
}

}





.event_info_B .btn_X{
    display: none;
    position: absolute;
    right: 0;
    top: -25px;
    background-color: red;
    width: 50px;
    height: 50px;
}



.offer_info_box {
    display: none;
    position: absolute;
 
    z-index: 300;
    width: 270px;

    color: #fff;
    text-align: left;
    padding: 18px;
    background-color: #a97962;
    background-color: #0f1329;

/*  
    -webkit-box-shadow: 0px 2px 2px rgba(43,42,40,0.3), 0px 4px 4px rgba(43,42,40,0.2), 0px 6px 6px rgba(43,42,40,0.1);
    -moz-box-shadow: 0px 2px 2px rgba(43,42,40,0.3), 0px 4px 4px rgba(43,42,40,0.2), 0px 6px 6px rgba(43,42,40,0.1);
    box-shadow: 
    0px 2px 2px rgba(43,42,40,0.3), 
    0px 4px 4px rgba(43,42,40,0.2), 
    0px 6px 6px rgba(43,42,40,0.1);
 */
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);

    -webkit-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    -moz-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
}

.offer_info_box p {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

.offer_info_box .arrow_top{
    left: 30px;
}


.small_list{
}
.my_account_box,
.bag_list_box,
.wish_list_box{
    display: none;
    position:absolute;      
    z-index: 300;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}





.small_list{
    /* overflow:hidden; */
    background-color:#FFF;
    border-bottom: 1px #e6e6e6 solid;    
    padding-top:12px;
    
    -webkit-box-shadow:
    0px 1px 1px rgba(43,42,40,0.3),
    0px 3px 3px rgba(43,42,40,0.2),
    0px 9px 9px rgba(43,42,40,0.1);
    -moz-box-shadow:
    0px 1px 1px rgba(43,42,40,0.3),
    0px 3px 3px rgba(43,42,40,0.2),
    0px 9px 9px rgba(43,42,40,0.1);
    box-shadow:
    0px 1px 1px rgba(43,42,40,0.3),
    0px 3px 3px rgba(43,42,40,0.2),
    0px 9px 9px rgba(43,42,40,0.1);
    max-width:270px;
    width:100%;
}
.small_list a{
      display: block;
}
.small_list > *{
      padding: 9px; 
}


.small_list .arrow_down{
    top:0;
    bottom: auto;
    left:calc( 100% - 36px );
    -webkit-transform: translate(-50% , 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.small_list .product_info{
    overflow: hidden;
    position: relative;
    border-bottom: 1px #e6e6e6 solid;
}
.small_list .product_info *{
      font-size: 14px;
      line-height: 18px;
      padding: 0;
}




.small_list .product_img{
    position: absolute;
    top:0;
    left: 9px;
    width:90px;
}



.small_list .product_name{
    padding-bottom: 9px;
}

.small_list .total_price{
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    padding:16px 9px;
}


.bag_info{
    font-size: 16px;
    line-height: 24px;
    font-family: roboto_light;
    text-align: center;
    padding: 0 18px 18px 18px;
}



.my_account_box > a{
      font-size: 14px;
      line-height: 18px;
      padding: 16px 9px;   
      border-bottom: 1px #e6e6e6 solid;
}



.bag_list_box .product_info{
   padding-left:108px;
}
.bag_list_box .p_price{
    float: right;
}







.wish_list_box .product_img{
      position: static;
      width:50%;
      float: right;
      text-align: center;
}
.wish_list_box .product_img img{
    max-width:120px;
    width: 100%;
}
.wish_list_box .p_price{

}
.small_list > *[class^=btn_]{
    display: inline-block;
    width: calc(100% - 36px);
    margin:18px ;
}







.if_nav .small_list{
    display: none;
    padding: 0px;
    margin-top: 0px;


}
.if_nav .product_info > *{

    text-align: left;
}

.if_nav .my_account_box{
    border:none;
    border-top: 1px #e6e6e6 solid;

}


@media screen and (min-width:1024px) {
.my_account_box,
.bag_list_box,
.wish_list_box{
    top: 24px;
}
}
@media screen and (max-width:1023px) {
.my_account_box,
.bag_list_box,
.wish_list_box{
    top: 48px;
    left: 50% !important;
    max-width: none;
    width: 72%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}


.small_list .arrow_down{
 
    left: 50%;
    -webkit-transform: translate(-50% , 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
}

@media screen and (max-width:767px) {
.small_list{
    display: block;
  
    position: static;
    transform: none;
    max-width: none;
    width: 100%;

    box-shadow: none;

    margin-top: 79px;

}
.small_list .arrow_down{
    display: none;

}


}


















/* if_nav */





@media screen and (min-width:1024px) {
*:not('.if_v2') .if_nav > li:hover:not(.not_menu) {
    background-color: #FFF;
    border-left: 1px #e6e6e6 solid;
    border-right: 1px #e6e6e6 solid;
    border-top: 1px #c8c8c8 solid;
    border-bottom: 1px #FFF solid;
}
.if_nav > li:hover:not(.not_menu) > a:before {
    display: block;
}
}
@media screen and (max-width:1023px) {

.top_blue,
.top_white{
    text-align: center;
}

.top_blue > div{
    display: inline-block;
}
.event_info_A,
.event_info_A *{
    line-height: 16px;
}

.btn_box_A > *{
    padding-top: 4px;
    padding-bottom: 4px;
}
.btn_box_A a > *{
    display: inline-block;
}
.btn_box_A .btn_text{
    display: none;
}




.top_white{
    display: block;
    height: 60px;
    /* justify-content: center ; */
    text-align: center;
}
.three_line{
    display: block;
}
.logo_if_v1{
    display: inline-block;
}
.event_info_B{
    /* display: none; */
    /* float: right; */
    position: absolute;
    right: 0;
    top: 0;
}







/* nav menu */

.if_nav{
    /* display: none; */
    display: block;
    position: fixed;
    /* top: 100%; */
    left: 0;
    background-color: #fff;
    overflow-y:auto;

    margin-left: -100%;

    height:auto;
    max-height:calc(100vh - 108px);

    width:100%;
    min-width: 300px;
    max-width: 50% ;

    border-top: 1px #C8C8C8 solid;
    border-right: 1px #969696 solid ;
    border-bottom: 1px #969696 solid;
}
.screen_size .if_nav{
    position: absolute;
    z-index: 300;
}


.if_nav ul{
    display: none ;
    position: static;
    transform: none;
    box-shadow: none;
    background: none;
    overflow: hidden;
    max-height: none;
    border: none;
}


.if_nav ul > li:first-child{
    padding-top: 0;
}

.if_nav ul li,
.if_nav ul li *{
    width: 100%;
    text-align: left !important;
}
.if_nav *:not('.btn_box_A'){
    border: none !important;
    width: 100% !important;
    text-align: left !important;
}

.if_nav > li{
    border: none;
    border-bottom: 1px #969696 solid;
}
.if_nav > li:last-child{
    border-bottom: none;
}
.if_nav li > a{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.if_nav ul a{
    padding-left: 24px;
}
}
/* 1023 */



.if_v2 header > *{
    display: inline-block;
}

.if_v2 .three_line{
    position: absolute;
    top: 0;
    left: 0;

}
.if_v2 .if_nav{
    /* display: none; */
    display: block;
   position: absolute;
 
    top: 60px;
    /* bottom: 0px; */

    left: 0;

    z-index: 300;

    overflow-y: scroll;

    max-height: calc(100% - 60px);

/*     margin-left: -100%;
    margin-left: 0%; */
/*     margin-top: 60px;
 */
    margin-left: -320px;




    width:100%;
    min-width: 300px;
    max-width: 50% ;

    background-color: #fff;
    border-top: 1px #C8C8C8 solid;
    border-right: 1px #969696 solid ;
    border-bottom: 1px #969696 solid;

 
}
.if_v2 .if_nav ul{
    display: none ;
    position: static;
    transform: none;
    box-shadow: none;
    background: none;
    overflow: hidden;
    max-height: none;
    border: none;
}



.screen_size .if_nav{
    position: absolute;
    z-index: 300;
}





.if_v2 .if_nav ul > li:first-child{
    padding-top: 0;
}

.if_v2 .if_nav ul li,
.if_v2 .if_nav ul li *{
    display: block;
    width: 100% !important;
    text-align: left !important;
}
.if_v2 .if_nav *:not('.btn_box_A'){
    border: none !important;
    width: 100% !important;
    text-align: left !important;
}

.if_v2 .if_nav > li{
    border: none;
    border-bottom: 1px #969696 solid;
}
.if_v2 .if_nav > li:last-child{
    border-bottom: none;
}
.if_v2 .if_nav li > a{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}
.if_v2 .if_nav ul a{
    padding-left: 24px;
}




@media screen and (max-width:1023px) {
.event_info_B{
    max-width: none;
    width: auto;
    padding-right:0; 
}
.offer_info_box{

    width: 50% ;
}
.offer_info_box .arrow_top{
    left:calc(100% - 30px) ;
}
.promo_event_txt{
    font-size: 14px !important;
    text-transform: uppercase;
    text-align: center;
}
.promo_event_txt span{
    display: block;

    font-size: 18px;
    line-height: 24px;
    color: #fff;

    text-align: center;
    width: 100%;
    padding-top: 12px;
}
}




@media screen and (max-width:767px) {

.if_nav{
    width:calc(100% - 60px);
    min-width: none;
    max-width: none;
}
.offer_info_box{
    top: 79px !important;
    width: calc(100% - 60px) ;
}

}



/* 767 */



