/* 20190306 */


/* 
logo
three_line

*/

.logo-M-mountain{
    display: block;

    background: url('../img-m/m_mountain_b_v1.svg');
    background-position-y: 0px;
    background-position-x: 0px;

    background-size:auto 100%;

    width: 216px;
    height: 60px;

    background-color: #fff;
}
.logo-M-mountain:hover{
    background: url('../img-m/m_mountain_g_v1.svg');
    background-position-y: 0px;
    background-position-x: 0px;
    background-size: auto 100%;
}
.logo-M-mountain > img{
    width: auto;
    height: 100%;

}
.logo-M-mountain.v2{
    background: url('../img-m/m_mountain_b_v2.svg');
    background-position-y: 0px;
    background-position-x: 0px;
    width: 230px;
    height: 72px;
}
.logo-M-mountain.v2:hover{
    background: url('../img-m/m_mountain_w_v2.svg');

}


@media screen and (max-width:1023px) {
.logo-M-mountain{
    background-position-y: -6px;
    background-position-x: -72px;
    background-size:auto 72px;
    width: 188px;
}
.logo-M-mountain:hover{
    background: url('../img-m/m_mountain_g_v1.svg');
    background-position-y: -6px;
    background-position-x: -72px;
    background-size:auto 72px;
}
}




.three_line{
    display: none;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
}
.three_line .line{
    position: absolute;

    top: 50%;
    left: 50%;

    width: 30px;
    height: 2px;
    background-color: #000;

    -webkit-transition: width , height , 0.3s ease-in-out , -webkit-transform;
    transition: width , height , 0.3s ease-in-out , -webkit-transform;
    -o-transition: transform , width , height , 0.3s ease-in-out;
    transition: transform , width , height , 0.3s ease-in-out;
    transition: transform , width , height , 0.3s ease-in-out , -webkit-transform; 

    transition: transform , width , height , 0.3s ease-in-out; 

}
.three_line .line._a{
    -webkit-transform: translate(-50%, calc(-50% - 6px));
    -ms-transform: translate(-50%, calc(-50% - 6px));
    transform: translate(-50%, calc(-50% - 6px));
}
.three_line .line._b{
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.three_line .line._c{
    -webkit-transform: translate(-50%, calc(-50% + 6px));
    -ms-transform: translate(-50%, calc(-50% + 6px));
    transform: translate(-50%, calc(-50% + 6px));
}
.three_line:hover .line{
    background-color:#e9573f;
}

/* jQ */

.three_line.click .line._a{
     width: 18px;
    -webkit-transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
    -ms-transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
    transform: rotate(0deg) translate(-50%, -50%) rotate(45deg);
}
.three_line.click .line._b{
    width: 0;
}
.three_line.click .line._c{
       width: 18px;
    -webkit-transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
    -ms-transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
    transform: rotate(0deg) translate(-50%, -50%) rotate(-45deg);
}












footer.m_HF,
header.m_HF{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    background-color: #fff;
    border-bottom:1px #e1e1e1 solid;
}
footer.m_HF{
    top: 100%;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);

}

.screen_size footer.m_HF,
.screen_size header.m_HF{
    position: absolute;
}

/* .m_v2019{
    z-index: 1200;
} */

header.m_HF > div{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



.mm_nav{
    display: inline-block;
    background-color: #fff;
    transition: all 0.27s ease-in-out;
}
.mm_nav li{
    padding:0;
    }   
.mm_nav > li{
    display: inline-block;
    }  
.mm_nav li div,
.mm_nav li a{
    display: block;
    font-size:14px;
    line-height: 24px;
    font-family:roboto_Regular;
    color:#000;
    padding:13px; 
    width: 100%;  
    }   
.mm_nav > li > a{
    overflow: hidden;
    position: relative;
    font-size:12px;
    line-height: 24px;
    text-transform:uppercase;
    padding:18px 16px;
    }
.mm_nav .bold{
    font-size:12px;  
    font-family:Arial, sans-serif;
    color:#656d78;      
    }
.mm_nav a:hover{
    color:#e9573f !important;
    }
.mm_nav ul{
    position:absolute;
    top:100%;

    left:0;
    right: 0;

    z-index:90;

    display: none;

    -webkit-box-pack: center ;
    -ms-flex-pack: center ;
    justify-content: center ;
    -webkit-box-align: stretch ;
    -ms-flex-align: stretch ;
    align-items: stretch ;

    padding:0 0 0 0;
    border-top:1px #e1e1e1 solid;
    border-bottom:1px #333333 solid;
    background-color:#FFF;


    max-height: 100vh;
    height:auto;

    } 

ul ul li {
    display:block;
    text-align:left;
    padding:9px 0;
}   
ul ul li{
    min-width: 150px;
    width: 33.333333%;
}
ul ul li:only-child,
ul ul li:first-child:nth-last-child(1){
   
}
ul ul li:only-child *,
ul ul li:first-child:nth-last-child(1) *{
    text-align: center;
}


ul ul li:first-child:nth-last-child(2),
ul ul li:first-child:nth-last-child(2)~li{
 
}

ul ul li:first-child:nth-last-child(3),
ul ul li:first-child:nth-last-child(3)~li{

}


ul ul li:first-child:nth-last-child(4),
ul ul li:first-child:nth-last-child(4)~li{
    width: 25%;
    /* background-color:#8cc152; */
}

ul ul li:first-child:nth-last-child(5),
ul ul li:first-child:nth-last-child(5)~li{
    width:20%;
}

ul ul li:first-child:nth-last-child(6),
ul ul li:first-child:nth-last-child(6)~li{
    width:16.666666%;
   
}
ul ul li:first-child:nth-last-child(7),
ul ul li:first-child:nth-last-child(7)~li{
    width: 14.285714%;
}

ul ul li:first-child:nth-last-child(8),
ul ul li:first-child:nth-last-child(8)~li{
    width: 12.5%;
}

ul ul li:first-child:nth-last-child(9),
ul ul li:first-child:nth-last-child(9)~li{
    width: 11.111111%;
}





@media screen and (min-width:1024px) {
.m_HF.v1 ul > li:hover ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
}
@media screen and (max-width:1023px) {
/* 
.m_v2019 > div{
    display: block;
}

.m_v2019{
    display: block;
    text-align: center;
    /* background-color: red; */
/* }  */

.logo-M-mountain{
    display: inline-block !important;
}

/* .three_line{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    } */

.mm_nav{
    position: fixed;

    top: 60px;

    left:0;

    text-align: left;

    border-top:1px #e1e1e1 solid;
    border-right:1px #e1e1e1 solid;
    border-bottom:1px #e1e1e1 solid;

    margin-left:-100%;

    /* min-height: auto; */

        max-height:calc(100vh - 60px);

    width:100%;
    min-width: 300px;
    max-width: 50% ;

    overflow-y: auto;
}

.screen_size .mm_nav{
    position: absolute;
}

.mm_nav ul{
    display: none;
    position: static;
    transform: none;
    box-shadow: none;
    background: none;
    max-height:none;
}

/* jQ */

*[class*="_nav"] .open_menu{
    display: block;
}
.mm_nav > li{
    display: block;
    border-bottom:1px #656d78 solid;
}
.mm_nav li ul{
    border:none;
}
.mm_nav ul li{
    border-top:1px #e1e1e1 solid;
    width: 100% !important;
}
.mm_nav ul li .bold{
    padding-left: 18px;
}
.mm_nav ul li a{
    padding-left: 27px;
}
.mm_nav ul li:first-child{
    padding-top: 10px;
}
.mm_nav ul li:last-child{  
    padding-bottom: 10px;
}
}



/* jQ */
*[class*="_nav"].margin_change{
    /* display: */
    margin-left:0% ; 
}







header.m_HF.v2{
    display: flex;
    justify-content: space-between ;
    background:none;
    border: none; 


}
header.m_HF.v2 > *{
    display: inline-block;
}
header.m_HF.v2 .three_line{
    display: block;
    margin:6px 0;
    background:none;
}
header.m_HF.v2 .three_line.click span{
    background-color: #fff;
}
header.m_HF.v2 .mm_nav{
    position:fixed;
    top: 72px;
    left: 100%;

    max-width: 320px;
    width: 100%;
    max-height: calc(100vh - 144px);

    margin-left: 0px;

    overflow-y: auto;

    -moz-box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
    -webkit-box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
    box-shadow:
    -10px 30px 20px rgba(0,0,0,0.15),
    -20px 60px 40px rgba(0,0,0,0.12),
    -30px 90px 60px rgba(0,0,0,0.09);
}

header.m_HF.v2 .mm_nav{
    position: absolute;
}


header.m_HF.v2 .mm_nav ul{
    position: static;

    width: 100% ;

    max-height: none;
    height: 100%;
    padding:0; 
}


header.m_HF.v2 .mm_nav ul li{
    display: block;
    min-width: none;
}
header.m_HF.v2 .mm_nav ul a{
    padding-left: 32px;
}
header.m_HF.v2 .mm_nav li{
    display: block;
}
header.m_HF.v2 .mm_nav li,
header.m_HF.v2 .mm_nav a{
    position: static;
    display: block;
    width: 100% !important;
}
