/* 20190924 */
/* Copyright Chiou Wen Shan */

form{}
label{}
input{}

textarea {
    resize: none;
}   
::-webkit-input-placeholder{
    color:#a0a0a0;
    }/* Chrome/Opera/Safari */
::-moz-placeholder{ 
    color:#a0a0a0;
    }/* Firefox 19+ */
:-moz-placeholder{ 
    color:#a0a0a0;
    }/* Firefox 18- */
:-ms-input-placeholder{ 
    color:#a0a0a0;
    }/* IE 10+ */


textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
    color:transparent;
    } /* Chrome/Opera/Safari */
textarea:focus::-moz-placeholder,   
input:focus::-moz-placeholder{
    color:transparent;
    } /* FF 19+ */  
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder{
    color:transparent;
    } /* FF 4-18 */
textarea:focus:-ms-input-placeholder,   
input:focus:-ms-input-placeholder{
    color:transparent;
    } /* IE 10+ */

.textarea.status_focus,
.input.status_focus,
.search:hover input,
textarea:focus,
input:focus{

    /* padding-left: 27px; */
    border-color:#9d9d9d !important;
    border-top-color:#9d9d9d !important;

    -webkit-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 
    
    -moz-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 

    -o-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 
/* 
    box-shadow:
    0 0 3px #f3bb07 inset,
    0 0 6px #f3bb07 inset,
    0 0 18px #f3bb07 inset;   */

    box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 




    }



.search:hover .input,
.search:hover input{
    padding-left: 50px;
}

/* 
.status_normal
.status_pressed
.status_disabled
.status_loading 

*/
.textarea.status_empty,
.input.status_empty{
color:#a0a0a0 !important;
}





.textarea,
.input,
textarea,
input{
    display: inline-block;

    font-size:16px;
    line-height:18px;

    color: #c8c8c8;
    color: #0f1329;

    letter-spacing: 0.06em;
    
    padding:16px 18px;

    border-radius: 3px;
/*     border:1px #e6e6e6 solid;
    border-bottom-color:#c8c8c8;
    border-bottom-color:#9d9d9d;  */   
    background-color: #FFFFFF;

    margin-top: 5px;
    margin-bottom: 1px;
    }

label,
.label{
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 18px;
    color: #9d9d9d;
    /* color: #dfdfdf; */
    padding:12px 0 6px 18px ;
}

label + *{
  width: 100%;
  margin: 0;
}









/* cis - color */
.dev_box .color_box,
.color_box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -ms-flex-line-pack: center;
  align-content: center;
}

.color_box.v1{
  overflow: unset;
  background: none;
  box-shadow: none;
}

.color_box.v1 > div{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 20%;
  min-width: 300px;
  height: 450px;

  margin:30px 1.5%;

  border-radius: 12px;
  background-color: #ececec;

  -webkit-box-shadow: 0 90px 90px rgba(0,0,0,0.54);
  box-shadow: 0 90px 90px rgba(0,0,0,0.54);
}


.color_box.v2 > div:not(.txt_box){
  display: inline-block;
  position: relative;
  width:72px;
  height:72px;
  margin:0 auto;
  border:1px #FFFFFF solid;
  border-radius:50%;
  margin: 18px 18px 36px 18px;
}

.color_box.v2 span{
  position: absolute;
  bottom: -36px;
  left: 50%;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  color:#2e58a6;
  color:#a3a3a3;
    letter-spacing: 0.15em;
    margin-right: -0.30em;

  padding: 9px;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}





.color_box.v1 .boo{
  width: 63%;
  padding-bottom: calc( 63% - 2px );
  background-color: #000;
  border-radius: 360px;
  border: 1px #fff solid;
  box-shadow: 0 3px 9px rgba(0,0,0,0.12);
}
[class*="border_color_"] .boo{
  position: relative;
  width: 72%;
  padding-bottom: calc( 72% );
  border-radius: 360px;
  box-shadow: none !important;

}






.color_info{
  font-size: 14px;
  color: #b4b8be;
}

[class*="p_"].color_info{
  position: absolute;
}

.color_info.p_TL{
  top: 6%;
  left: 6%;
}
.color_info.p_BR{
  bottom: 6%;
  right: 6%;
}
.color_info.p_T{
  top: 25%;
  left: 50%;
}

.color_info.p_B{
  bottom: 25%;
  right: 50%;
}

.border_color_blue{
    background: linear-gradient(108deg, #4c70d9 50%, #3959cc 50%);
    background: linear-gradient(108deg, #557be0 50%, #314fc6 50%);

}
.border_color_blue .boo{
    border-color: #3b64db !important;
    background: linear-gradient(150deg, #6788df 50%, #314ec5 50%);
    background: linear-gradient(150deg, #658ee9 50%, #243eba 50%);

/*  
    border-top: 1px #658ee9 solid;
    border-bottom: 1px #243eba solid;
    border-left: 1px #557be0 solid;
    border-right: 1px #314fc6 solid; */
}

.border_color_yellow{
    background: linear-gradient(108deg, #fcee63 50%, #f8d527 50%);
    background: linear-gradient(108deg, #fcee63 50%, #fade3b 50%);
}
.border_color_yellow .boo{
    border-color: #ffe610 !important;
    background: linear-gradient(150deg, #fdf374 50%, #f5c614 50%);
    background: linear-gradient(150deg, #fdf374 50%, #f9d62c 50%);

/*   
    border-top: 1px #fdf374 solid;
    border-bottom: 1px #f9d62c solid;
    border-left: 1px #fcee63 solid;
    border-right: 1px #fade3b solid; */

}


.border_color_yellow-2{
    background: linear-gradient(108deg, #f6de5d 50%, #efc940 50%);
}
.border_color_yellow-2 .boo{
    border-color: #f7cf18 !important;
    background: linear-gradient(150deg, #f9e86e 50%, #edc238 50%);

/*   
    border-top: 1px #f9e86e solid;
    border-bottom: 1px #edc238 solid;
    border-left: 1px #f6de5d solid;
    border-right: 1px #efc940 solid; */

}


.border_color_gray{
    background: linear-gradient(108deg, #b8b8b8 50%, #989898 50%);
}
.border_color_gray .boo{
    border-color: #a3a3a3 !important;
    background: linear-gradient(150deg, #c8c8c8 50%, #8e8e8e 50%);

/*   
    border-top: 1px #c8c8c8 solid;
    border-bottom: 1px #8e8e8e solid;
    border-left: 1px #b8b8b8 solid;
    border-right: 1px #989898 solid; */

}


.border_color_gray div{
    color: #fff;
}





/* 
f9e86e
f6de5d
efc940
edc238



c8c8c8
b8b8b8
989898
8e8e8e
 */



