/* 20190924 */
/* Copyright Chiou Wen Shan */

form{}
label{}
input{}






textarea {
    resize: none;
}   
::-webkit-input-placeholder{
    color:#a0a0a0;
    }/* Chrome/Opera/Safari */
::-moz-placeholder{ 
    color:#a0a0a0;
    }/* Firefox 19+ */
:-moz-placeholder{ 
    color:#a0a0a0;
    }/* Firefox 18- */
:-ms-input-placeholder{ 
    color:#a0a0a0;
    }/* IE 10+ */


textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder{
    color:transparent;
    } /* Chrome/Opera/Safari */
textarea:focus::-moz-placeholder,   
input:focus::-moz-placeholder{
    color:transparent;
    } /* FF 19+ */  
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder{
    color:transparent;
    } /* FF 4-18 */
textarea:focus:-ms-input-placeholder,   
input:focus:-ms-input-placeholder{
    color:transparent;
    } /* IE 10+ */

.textarea.status_focus,
.input.status_focus,
.search:hover input,
textarea:focus,
input:focus{

    /* padding-left: 27px; */
    border-color:#9d9d9d !important;
    border-top-color:#9d9d9d !important;

    -webkit-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 
    
    -moz-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 

    -o-box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 
/* 
    box-shadow:
    0 0 3px #f3bb07 inset,
    0 0 6px #f3bb07 inset,
    0 0 18px #f3bb07 inset;   */

    box-shadow:
    0 0 3px rgba(0,0,0,0.18) inset,
    0 0 6px rgba(0,0,0,0.18) inset,
    0 0 18px rgba(0,0,0,0.18) inset; 




    }



.search:hover .input,
.search:hover input{
    padding-left: 50px;
}

/* 
.status_normal
.status_pressed
.status_disabled
.status_loading 

*/
.textarea.status_empty,
.input.status_empty{
color:#a0a0a0 !important;
}





.textarea,
.input,
textarea,
input{
    display: inline-block;

    font-size:16px;
    line-height:18px;

    color: #c8c8c8;
    color: #0f1329;

    letter-spacing: 0.06em;
    
    padding:16px 18px;

    border-radius: 3px;
/*     border:1px #e6e6e6 solid;
    border-bottom-color:#c8c8c8;
    border-bottom-color:#9d9d9d;  */   
    background-color: #FFFFFF;

    margin-top: 5px;
    margin-bottom: 1px;
    }

label,
.label{
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 18px;
    color: #9d9d9d;
    /* color: #dfdfdf; */
    padding:12px 0 6px 18px ;
}



label + *{
  width: 100%;
  margin: 0;
}