/* 20190207 */

/* 
.heading,
.t_main_title,
h1
h2
.t_title,
h3
h4
.t_subtitle,
h5
h6
p
p span
a
strong
b 
*/

.heading,
.t_main_title,
h1{
    display: block;
    clear: both;
    font-size: 42px;
    line-height: 45px;
    font-family: roboto_thin;
    color: #0f1329;
    text-align: center;
    letter-spacing: 0.06em;   
    text-transform: uppercase;
    padding: 9px 0;
    }
h2{
    font-size:45px;
    line-height: 44px;
    font-family: roboto_thin;
    color: #0f1329;
    letter-spacing: 0;
    padding:3px 0;
    text-align: center;
}
.t_title,
h3{
    font-size:36px;
    font-family: roboto_thin;
    color: #0f1329;
    padding: 6px 0;
}
h4{
    display: block;
    clear: both;
    font-size:27px;
    line-height:30px;
    font-family: roboto_thin;
    color: #0f1329;
    text-transform: uppercase;
    padding: 9px 0;

    text-align: center;
}
.t_subtitle,
h5{
    font-size:18px;
    line-height:21px;
    font-family: roboto_Regular;
    color: #0f1329;
    text-transform: uppercase;
    padding: 6px 0;
}

h6{
    font-size:14px;
    line-height:18px;
    font-family: roboto_Regular;
    color: #0f1329;
    text-transform: uppercase;
    padding: 6px 0;
}
  
p {
    display: block;
    font-size: 14px;
    line-height:21px;
    font-family: roboto_Regular;
    color:#595a5e;
    color: #0f1329;  
    letter-spacing: 0.09em;
    word-spacing: 0.09em;
    padding: 6px 0;
}
p span {
    font-family: roboto_Regular;
    color: #0f1329;
}

a{
    display: inline-block;
    font-family: roboto_Regular;
    color: #0f1329;
}
a:hover{
    color: #a97962 !important;

}



strong,
b{
    font-family: roboto_Regular;
    color: #0f1329;
    font-weight:normal;
    letter-spacing: 0.024em;
    word-spacing: 0.18em;
}



.btn_more{
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-family: roboto_Medium;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-transform: uppercase;
    padding: 14px 18px;
}




.dark_night,
.dark_night *,
.dark_night .tag:before,
.dark_night .tag:after{

  color: #fff !important;
}
.dark_night .double_quotes:after,   
.dark_night .double_quotes:before{
  
    background-position-y:-1400px;
}







.slide_show{

}
.page_box{

}
.page{

}



/* home page */
/* slide_show */
.slide_show{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color:#fff;
    overflow: hidden;
    }

.demo_box .slide_show{
    height: 100%;
    }


.page_box{
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;

    -webkit-transition: all 0.36s ease-in-out;
    -o-transition: all 0.36s ease-in-out;
    transition: all 0.36s ease-in-out;    
    }
.page_box > *{
    display:inline-block;
    white-space: normal;
    }
.page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }








.products_list {
  width: calc(90%);
  height: auto !important;
  padding-top: 18px;
  padding-bottom: 18px;
}
.products_list .page{
   /* width: 25%; */
  width: 25%;
  height: 100%;
  }


.products_list .pics img{
    width:100%;
    height:auto;
}


.page img{
    display:block;
    position:relative;
    top:0;
    left:50%;

    width:auto;
    height:100%;

    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);

/*     -webkit-transition: width , 0.27s ease-in-out;
    -o-transition: width , 0.27s ease-in-out;  
    transition: width , 0.27s ease-in-out; */
    }
.page_info{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
    -webkit-transform:translate(-50% , -50%);
    -moz-transform:translate(-50% , -50%);
    transform:translate(-50% , -50%);
    padding:27px;
}   

.open_list .page_info p{
  text-align: left;
}   


.page_info .btn_more{

  margin-top: 9px;
}

.piece{
    position: relative;
    width:25%;
    height: 100%;
    padding:0 12px;
}
.piece img{
    width:100%;
    height:auto;
    }











.tag {
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 24px;
    /* font-family: roboto_Regular; */
    font-family: Arial, sans-serif;
    color: #0f1329;
    text-align: center;
    letter-spacing: 0.12em;

    text-transform: uppercase;
    padding: 0 0 9px 0;
}
.tag:after, 
.tag:before{
    display: inline-block;
    content:'/';
    font-size:12px;
    line-height:24px;
    font-family:roboto_Regular;
    color: #595a5e;
    color: #0f1329;    
    text-align: center; 
    opacity: 0.63;
    width:18px;
    }



/* product_info
product_brand
product_name
p_price
 */





.product_brand,
.product_name{
  font-size:14px;
  line-height:18px;
  font-family:roboto_light;
  text-transform:uppercase;
  }
.product_name{
  color: #595a5e;
  text-transform:lowercase;
  }
.p_price{
  display:block;
  clear:both;
  font-size:15px;
  line-height:18px;
      color: #0f1329;
  font-family:roboto_light;

   margin-top:9px;
  }     
.p_price *{
  display:inline-block;
  }     
.o_price{
  position:relative;
  overflow: hidden;
  color:#c8c8c8 !important;
  font-family:roboto_light;
  margin-right:9px;
  }
.o_price:before{
  display:block;
  content: "";
  position:absolute;
  top:50%;
  left:50%;
  width:300px;
  border-top:1px #c8c8c8 solid;
  transform:translate(-50%,-50%) rotate(9deg);
  -ms-transform:translate(-50%,-50%) rotate(9deg);
-moz-transform:translate(-50%,-50%) rotate(9deg);
-webkit-transform:translate(-50%,-50%) rotate(9deg);
-o-transform:translate(-50%,-50%) rotate(9deg);

  } 
.p_discount{
  color:#F00 !important;
  font-family: roboto_Regular;
  font-style:italic;
  background-image:;
  }
  

.product_info .product_brand, 
.product_info .product_name {
    font-size: 27px;
    line-height: 30px;
}
.product_info .p_price{
    font-size: 27px;
    line-height: 30px;
    padding: 15px 0;
}


.product_info .l,
.product_info .r{
    position: absolute;
    z-index: 300;
    top: 50%;

    width:25%;
}

.product_info .l{
    left: 18px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);   
    transform: translateY(-50%);   
}
.product_info .r{
    left: calc(100% - 18px );
    -webkit-transform: translate(-100% , -50%);
    -moz-transform: translate(-100% , -50%);   
    transform: translate(-100% , -50%);   
}

.product_info .btn_B{
    margin-top: 5px;
    margin-bottom: 6px;
}
.link_info{
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 18px;

    padding: 4px 0;
}




.product_detail > div {
    display: none;
}


.btn_item_name {
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 18px;
    font-family: roboto_light;
    color: #595a5e; 
    padding: 11px 0;
}
.btn_item_name span,
a.btn_item_name {
    font-family: roboto_Regular;
    color: #0f1329;
    text-transform: uppercase;
}
a.btn_item_name:hover {
    color: #a97962;
}

.btn_more_details{
    display: none;
      text-transform: lowercase !important;
}



/* double_quotes */

.double_quotes:after,   
.double_quotes:before{
    display:block;
    clear:both;
    content:'';
    width:50px;
    height:50px;
    background-image:url(../img-if/icon_2017.svg);
    background-position-y:-1450px;
    background-position-x:-300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: calc(50% - 25px);
    }   
.double_quotes:after{

    /* margin-left: calc(100% - 50px); */
/*     float:right; */
    background-position-x:-350px;   
    }   
.double_quotes:before{
    background-position-x:-300px;   
    }

.dark_night.double_quotes:after, 
.dark_night.double_quotes:before {
    background-position-y: -1400px;
}
.modern_display_ti{
    font-size: 36px;
    line-height: 45px;
    font-family: modern_display_TI;
    text-transform: ;
}

*[class*="mobile_rwd_"] .modern_display_ti{
    font-size:27px;
    line-height: 36px; 
}








.signin_or_register{

  color: #595a5e;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

}

.signature {
    position: relative;
    z-index: 1;
    font-size: 72px !important;
    line-height: 63px !important;
    font-family: northwell_alt !important;
    text-transform: none;

    margin-bottom: -24px;
}



.drop_cap_letter {

    float: left;

    font-size: 90px;
    line-height: 108px;
    font-family: modern_display;
    color: #0f1329;
    text-align: center;
    letter-spacing: 0;
    width: 90px;
    height: 84px;
    font-size: 72px;
    line-height: 81px;
    width: 81px;
    height: 63px;
}




.who_say{
    display: block;
    font-size: 12px;
    line-height: 21px;
    font-family: roboto_light;
    color: #595a5e;
    color: #0f1329;
    letter-spacing: 0.03em;
    padding: 34px 0;
}
.by_who{
    display: block;
    clear: both;
    float: none;
    font-size:12px;
    line-height:18px;
    text-transform:uppercase;
    text-align: center;

    padding-top: 18px;
    }
.by_who span{
    font-size:12px;
    line-height:18px;
    text-transform:lowercase;
    font-style:italic;
    }   
.by_who .add_time{
    font-size:12px;
    line-height:18px;
    opacity:0.72;
    }       
    


.ifchic_slogan {
    display: block;
    clear: both;
    font-size: 12px;
    line-height: 20px;
    font-family: roboto_light;
    color: #595a5e;
    text-transform: uppercase;
    letter-spacing: 0.30em;
    margin-right: -0.30em;
    padding: 10px 0;
}






.page_num{

      /* position: relative; */
      position: absolute;
      bottom: 18px;
      right: 0px;
      z-index: 300;

      overflow: hidden;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;

      /* display: block; */


      /* 
      display: flex;
      align-items: center;

      flex-direction:column;
      垂直 
      flex-direction: row-reverse;
      橫排順序321

      */



      width: 210px;

    /*   border: 1px red solid; */

}

.page_num > div{
      display: block;

      font-size: 24px;
      line-height: 26px;
      font-family: roboto_light;
      color: #0f1329;
      text-align: center;

      width: 50px;
      padding:12px 0; 
}


.page_num .line{
    /*   position: relative; */

      width: calc(100% - 100px) ;
      height: 8px;

      border-radius: 4px;

      background-color: #d2d3da;

      padding: 0;
}
.page_num .line .buoy{
      width: calc(66.666666% - 4px);
      height: 4px;

      margin: 2px;
      padding: 0;
      border-radius: 2px;

      background-color: #0f1329;


    -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;  
    transition: all 0.27s ease-in-out;

}

.page_num > div:last-child{
      opacity:0.45;
}






.page_num.v1{
      display: block;
      width: 60px;
}


.page_num.v1:before{
      content: '';
      display: block;
      position: absolute;

      top: 50%;
      left: 50%;

      width: 1px;
      height: 100px;

      background-color: #d2d3da;


      -webkit-transform: translate(-50% , -50%) rotate(45deg);
    -ms-transform: translate(-50% , -50%) rotate(45deg);
    transform:  translate(-50% , -50%) rotate(45deg);

 /*     opacity:0.45; */

}
.page_num.v1 > div{
      display:block;
      line-height: 25px;
      width: 60px;
      padding:  0;
}
.page_num.v1 div:first-child{
      text-align: left;
}
.page_num.v1 div:last-child{
      text-align: right;
}



.page_num.v3 .line .buoy{
      position: relative;
      border-radius: 2px 0 0 2px;
}
.page_num.v3 .line .buoy:before{
      content: '';
      display: block;

      position: absolute;
      top: 2px;
      right: 0;

      width: 1px;
      height: 36px;


      background-color: #0f1329;

      -webkit-transform:translateY(-50%) rotate(23.5deg);
    -moz-transform:translateY(-50%) rotate(23.5deg);
    transform:translateY(-50%) rotate(23.5deg);
}



/* 當 dot_box 的前面 是 page_num page_num change*/
.page_num + .dot_box{
  left: 33.333333%;
  /* transform: none; */
}















/* 
.popup_event_box.pu_img
.img_center
.img_top
.img_bottom
.img_left
.img_right
 */






.add_coins_note,
.popup_event_box{
    display: inline-block;
    position: fixed;

    left: 20%;

    z-index:600;

    text-align:center;
    
    max-width:300px;
    width:100%;

    padding:18px;   

    background-color:#FFF;
    background-color:#fffcfc;

background: -moz-linear-gradient(top, rgba( 255, 252, 252, 0.99) 0%, rgba( 255, 252, 252, 0.96) 33%, rgba( 255, 252, 252, 0.81) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba( 255, 252, 252, 0.99) 0%, rgba( 255, 252, 252, 0.96) 33%, rgba( 255, 252, 252, 0.81) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba( 255, 252, 252, 0.99) 0%, rgba( 255, 252, 252, 0.96) 33%, rgba( 255, 252, 252, 0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    -moz-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);

/*     webkit-transform:translate(-50% , calc(-100% - 45px)); 
    -moz-transform:translate(-50% , calc(-100% - 45px));  
    transform:translate(-50% , calc(-100% - 45px));  */   
    webkit-transform:translate(-50% , 0px); 
    -moz-transform:translate(-50% , 0px);  
    transform:translate(-50% , 0px); 
/*     -webkit-transition: all 0.27s ease-in-out;
    -o-transition: all 0.27s ease-in-out;  
    transition: all 0.27s ease-in-out; */
}

.popup_event_box{
  bottom:45px;
}



.popup_event_box.un_padding{
    padding: 0;
}
.popup_event_box.un_padding > div{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 18px;

    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    width: 100%;
}


.coin_icon{
  position: fixed;
  bottom: 270px;
  left: 20%;
  z-index:610;

  webkit-transform:translate(-50% , -50%); 
  -moz-transform:translate(-50% , -50%);   
  transform:translate(-50% , -50%);   

 /*  -webkit-transition: all 0.27s ease-in-out;
  -o-transition: all 0.27s ease-in-out;  
  transition: all 0.27s ease-in-out;  */

}
.ipad_h .coin_icon,
.mobile_rwd_425 .coin_icon{
  margin-bottom: -30px;
  bottom: 50%;
  left: 50%;
}

*[class*="mobile_rwd_"] .open_list .coin_icon,
.mobile_rwd_375 .coin_icon,
.mobile_rwd_320 .coin_icon{
  bottom: calc(100% - 420px);
  left: 50%;

}



.ipad_h .popup_event_box,
.mobile_rwd_425 .popup_event_box{
  bottom: 50%;
  left: 50%;
    webkit-transform:translate(-50% , 50%); 
    -moz-transform:translate(-50% , 50%);  
    transform:translate(-50% , 50%);
}

*[class*="mobile_rwd_"] .open_list .popup_event_box,
.mobile_rwd_375 .popup_event_box,
.mobile_rwd_320 .popup_event_box{
  bottom: 100%;
  left: 50%;
    webkit-transform:translate(-50% , calc(100% + 150px )); 
    -moz-transform:translate(-50% , calc(100% + 150px ));  
    transform:translate(-50% , calc(100% + 150px ));
}




.add_coins_note{

  bottom:0;
  webkit-transform:translate(-50% , 100%); 
  -moz-transform:translate(-50% , 100%);  
  transform:translate(-50% , 100%);

}

.ipad_h .add_coins_note{
  display: none;
  bottom: 50%;
  left: 50%;
  webkit-transform:translate(-50% , 50%); 
  -moz-transform:translate(-50% , 50%);  
  transform:translate(-50% , 50%);
}

.mobile_rwd_425 .add_coins_note{

  display: none;

  bottom: 0;
  left: 50%;
  webkit-transform:translate(-50% , 100%); 
  -moz-transform:translate(-50% , 100%);  
  transform:translate(-50% , 100%);
}


*[class*="mobile_rwd_"] .open_list .add_coins_note,
.mobile_rwd_375 .add_coins_note,
.mobile_rwd_320 .add_coins_note{
 display: none;
  bottom: calc( 100% - 518px );
  left: 50%;
  webkit-transform:translate(-50% , 50%); 
  -moz-transform:translate(-50% , 50%);  
  transform:translate(-50% , 50%);

}

.popup_change{
  display: block;
  opacity: 1;
}



@media screen and (max-width:1023px) {
.coin_icon{
  margin-bottom: -30px;
  bottom: 50%;
  left: 50%;
}
.popup_event_box{
  bottom: 50%;
  left: 50%;
    webkit-transform:translate(-50% , 50%); 
    -moz-transform:translate(-50% , 50%);  
    transform:translate(-50% , 50%);
}

.add_coins_note{
  display: none;
  bottom: 50%;
  left: 50%;
  webkit-transform:translate(-50% , 50%); 
  -moz-transform:translate(-50% , 50%);  
  transform:translate(-50% , 50%); 
}
}  
@media screen and (max-width:767px) {
.coin_icon{

   margin-bottom: 0;
  bottom: calc(100% - 420px);
  left: 50%;

}
.popup_event_box{
  bottom: 100%;
  left: 50%;
    webkit-transform:translate(-50% , calc(100% + 150px )); 
    -moz-transform:translate(-50% , calc(100% + 150px ));  
    transform:translate(-50% , calc(100% + 150px ));
}
.add_coins_note{
 display: none;
  bottom: calc( 100% - 518px );
  left: 50%;
  webkit-transform:translate(-50% , 50%); 
  -moz-transform:translate(-50% , 50%);  
  transform:translate(-50% , 50%);

}
}




/* .add_coins_note{

  bottom: -180px;
    webkit-transform:translate(-50% , 100%); 
    -moz-transform:translate(-50% , 100%);   
    transform:translate(-50% , 100%);   

} */


/* .add_coins_note,
.coin_event_box{
-webkit-transition: none;
-o-transition: none;
transition: none;
}

 */


.coin_note{
  text-align: right;
}
.coin_note img{
  width:auto;
  height:110px;
  margin-right: -18px;
}

/* jQ */

.hidden{
    webkit-transform:translateY( calc( 100% + 180px) );
    -moz-transform:translateY( calc( 100% + 180px) );    
    transform:translateY( calc( 100% + 180px) );
}


.img_center{
    z-index:1 !important;
    }
.img_top,
.img_bottom,
.img_left,
.img_right{
    position:absolute;   
    z-index:4;
    }
.img_top{
    top:0;
    left:50%;
    transform:translate(-50%, -100%);
    -ms-transform:translate(-50%, -100%);
    -moz-transform:translate(-50%, -100%);
    -webkit-transform:translate(-50%, -100%);
    -o-transform:translate(-50%, -100%);
    height:auto;
    width:200%;
    }       

.img_bottom{
    bottom:0;
    left:50%;
    transform:translate(-50%, 100%);
    -ms-transform:translate(-50%, 100%);
    -moz-transform:translate(-50%, 100%);
-webkit-transform:translate(-50%, 100%);
-o-transform:translate(-50%, 100%);
    height:auto;
    width:200%;
    }         
.img_left{
    top:0;
    left:0;
    transform:translateX(-100%);
    -ms-transform:translateX(-100%);
-moz-transform:translateX(-100%);
-webkit-transform:translateX(-100%);
-o-transform:translateX(-100%);
    height:100%;
    width:auto;
    }   
.img_right{
    top:0;
    left:100%;
    
    transform:translateX(0);    
    -ms-transform:translateX(0);    
-moz-transform:translateX(0);   
-webkit-transform:translateX(0);    
-o-transform:translateX(0); 
    height:100%;
    width:auto; 
    }  







.popup_box{


/*   
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; */

  display:none;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 900;
  width: 100%;
  height: 100%;

  background-color: rgba(255,255,255,0.81);
}


.popup_box > *{
  position: absolute;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  transform: translate(-50% , -50%);


}
/* jQ */
.add_flex{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
}



.what_is_new_box img{
  width: 100%;
  height: auto;
  margin-left: 18%;
}

.what_is_new_box .page_info{

  left: 33.333333%;

  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);

background: -moz-linear-gradient(top, rgba( 255, 252, 252, 0.96) 33%, rgba( 255, 252, 252, 0.81) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba( 255, 252, 252, 0.96) 33%,rgba( 255, 252, 252, 0.81) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba( 255, 252, 252, 0.96) 33%,rgba( 255, 252, 252, 0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

   -webkit-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    -moz-box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);
    box-shadow:
    0px 6px 6px rgba(0,0,0,0.18),
    0px 12px 12px rgba(0,0,0,0.135),
    0px 18px 18px rgba(0,0,0,0.09);


}

.popup_bg{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 590;


  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.81);



  background: -moz-linear-gradient(top, rgba( 255, 252, 252, 0.81) 0%, rgba( 255, 252, 252, 0.72) 33% ); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba( 255, 252, 252, 0.81) 0%, rgba( 255, 252, 252, 0.72) 33% ); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba( 255, 252, 252, 0.81) 0%, rgba( 255, 252, 252, 0.72) 33% ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}

.ipad_h .popup_bg,
*[class*="mobile_rwd_"] .popup_bg{
  display: block;
}





@media screen and (max-width:1023px) {
.popup_bg{
  display: block;
}
}



.demo_box .popup_box,
.demo_box .popup_bg,
.demo_box .coin_icon,
.demo_box .add_coins_note,
.demo_box .popup_event_box{
    position: absolute;
}




















.bg_c_0f1329{
  background: none;
  background-color:#0f1329 !important;
}






